Repository apache/solr, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, examples, bats-tests, docker, tool:build, scripts, jetty-server, start-scripts, configs, client:solrj, test-framework, admin-ui, prometheus-exporter, module:analysis-extras, module:clustering, module:extraction, module:gcs-repository, module:hadoop-auth, module:hdfs, module:jwt-auth, module:langid, module:ltr, module:opentelemetry, module:s3-repository, module:scripting, module:sql, tests, cat:api, cat:cli, cat:cloud, cat:index, cat:metrics, cat:packagemanager, cat:schema, cat:search, cat:security

.github/labeler.yml:

# Add 'dependencies' label to any PR updating dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
        - versions.props
        - versions.lock
        - solr/licenses/**

# Add 'documentation' label to any changes within ref-guide or dev-docs
documentation:
  - changed-files:
      - any-glob-to-any-file:
        - dev-docs/**
        - solr/solr-ref-guide/**
        - solr/documentation/**
        - help/**
        - solr/README.adoc
        - CONTRIBUTING.md
        - README.md

# Add 'examples' label to examples
examples:
  - changed-files:
      - any-glob-to-any-file:
          - solr/example/**

# Add 'bats-tests' label
bats-tests:
  - changed-files:
      - any-glob-to-any-file:
          - solr/packaging/tests/**

# Add 'docker' label for changes to docker
docker:
  - changed-files:
      - any-glob-to-any-file:
        - solr/docker/**

# Add 'tool:build' label for changes to gradle build files
tool:build:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.gradle'
          - settings.gradle
          - build.gradle
          - gradle/**
          - buildSrc/**

# Add 'tools' label for changes to dev tools
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - dev-tools/**
          - solr/server/scripts/cloud-scripts/**

# Add jetty related labels
jetty-server:
  - changed-files:
      - any-glob-to-any-file:
          - solr/server/etc/**
          - solr/server/contexts/**
          - solr/server/resources/**
          - solr/server/modules/**
          - '**/org/apache/solr/servlet/**'
          - '**/org/apache/solr/logging/**'

# Add 'start-scripts' label for changes to start scripts
start-scripts:
  - changed-files:
      - any-glob-to-any-file:
          - solr/bin/**

# Add 'configs' label
configs:
  - changed-files:
      - any-glob-to-any-file:
          - solr/server/solr/**

# Add 'client:solrj' labels
client:solrj:
  - changed-files:
      - any-glob-to-any-file:
          - solr/solrj/**
          - solr/solrj-*/**

# Add 'test-framework' label
test-framework:
    - changed-files:
        - any-glob-to-any-file:
            - solr/test-framework/**

# Add 'admin-ui' label
admin-ui:
  - changed-files:
      - any-glob-to-any-file:
          - solr/webapp/**

# Add 'prometheus-exporter' label
prometheus-exporter:
  - changed-files:
      - any-glob-to-any-file:
          - solr/prometheus-exporter/**

# Add labels for changes to solr modules
module:analysis-extras:
  - changed-files:
      - any-glob-to-any-file:
          - solr/modules/analytics-extras/**

module:clustering:
  - changed-files:
      - any-glob-to-any-file:
          - solr/modules/clustering/**

module:extraction:
  - changed-files:
      - any-glob-to-any-file:
          - solr/modules/extraction/**

module:gcs-repository:
  - changed-files:
      - any-glob-to-any-file:
          - solr/modules/gcs-repository/**

module:hadoop-auth:
  - changed-files:
      - any-glob-to-any-file:
          - solr/modules/hadoop-auth/**

module:hdfs:
  - changed-files:
      - any-glob-to-any-file:
          - solr/modules/hdfs/**

module:jwt-auth:
  - changed-files:
      - any-glob-to-any-file:
          - solr/modules/jwt-auth/**

module:langid:
  - changed-files:
      - any-glob-to-any-file:
          - solr/modules/langid/**

module:ltr:
  - changed-files:
      - any-glob-to-any-file:
          - solr/modules/ltr/**

module:opentelemetry:
  - changed-files:
      - any-glob-to-any-file:
          - solr/modules/opentelemetry/**

module:s3-repository:
  - changed-files:
      - any-glob-to-any-file:
          - solr/modules/s3-repository/**

module:scripting:
  - changed-files:
      - any-glob-to-any-file:
          - solr/modules/scripting/**

module:sql:
  - changed-files:
      - any-glob-to-any-file:
          - solr/modules/sql/**

# Any test source files
tests:
  - changed-files:
      - any-glob-to-any-file:
          - '**/src/test/**'
          - '**/src/test-files/**'

# Add category labels loosely based on java packages
# Add 'api' label
cat:api:
  - changed-files:
      - any-glob-to-any-file:
          - solr/api/**
          - solr/core/src/java/org/apache/solr/api/**
          - solr/core/src/java/org/apache/solr/cloud/api/**
          - solr/core/src/java/org/apache/solr/jersey/**

cat:cli:
  - changed-files:
      - any-glob-to-any-file:
          - '**/org/apache/solr/cli/**'

cat:cloud:
  - changed-files:
      - any-glob-to-any-file:
          - '**/org/apache/solr/cloud/**'
          - '**/org/apache/solr/cluster/**'

cat:index:
  - changed-files:
      - any-glob-to-any-file:
          - '**/org/apache/solr/index/**'
          - '**/org/apache/solr/hdfs/index/**'
          - '**/org/apache/solr/update/**'
          - '**/org/apache/solr/hdfs/update/**'
          - '**/org/apache/solr/scripting/update/**'
          - '**/org/apache/solr/handler/loader/**'

cat:metrics:
  - changed-files:
      - any-glob-to-any-file:
          - '**/org/apache/solr/metrics/**'

cat:packagemanager:
  - changed-files:
      - any-glob-to-any-file:
          - '**/org/apache/solr/packagemanager/**'
          - '**/org/apache/solr/pkg/**'
          - '**/org/apache/solr/filestore/**'

cat:schema:
  - changed-files:
      - any-glob-to-any-file:
          - '**/org/apache/solr/rest/**'
          - '**/org/apache/solr/schema/**'

cat:search:
  - changed-files:
      - any-glob-to-any-file:
          - '**/org/apache/solr/search/**'
          - '**/org/apache/solr/highlight/**'
          - '**/org/apache/solr/request/**'
          - '**/org/apache/solr/response/**'
          - '**/org/apache/solr/parser/**'
          - '**/org/apache/solr/query/**'
          - '**/org/apache/solr/spelling/**'
          - '**/org/apache/solr/analysis/**'
          - '**/org/apache/solr/handler/component/**'

cat:security:
  - changed-files:
      - any-glob-to-any-file:
          - '**/org/apache/solr/security/**'

move docker to using bin/solr post command instead of bin/post
  solr/docker/tests/cases/create_core/test.sh
  solr/docker/tests/cases/create_core_exec/test.sh
  solr/docker/tests/cases/create_core_randomuser_rootgroup/test.sh
  solr/docker/tests/cases/empty-varsolr-dir-ramdomuser-rootgroup/test.sh
  solr/docker/tests/cases/empty-varsolr-dir-solr/test.sh
  solr/docker/tests/cases/empty-varsolr-dir-user/test.sh
  solr/docker/tests/cases/empty-varsolr-vol-ramdomuser-rootgroup/test.sh
  solr/docker/tests/cases/empty-varsolr-vol-solr-nocopy/test.sh
  solr/docker/tests/cases/empty-varsolr-vol-solr/test.sh
  solr/docker/tests/cases/empty-varsolr-vol-user/test.sh
  solr/docker/tests/cases/gosu/test.sh
  solr/docker/tests/cases/precreate_core/test.sh
  solr/docker/tests/cases/precreate_core_randomuser_rootgroup/test.sh
  solr/docker/tests/cases/test_log4j/test.sh
  solr/docker/tests/cases/user_volume/test.sh
  solr/solr-ref-guide/modules/deployment-guide/pages/docker-networking.adoc
Labels: documentation, docker

Update README.md
  README.md
Labels: documentation

Rename variable to be more clear
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
Labels: cat:search

In the case of rows=0, don't bump up the queryResultWindowSize
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
Labels: cat:search

SOLR-17066: ID when GenericSolrRequest needs a col
  solr/core/src/java/org/apache/solr/cli/ExportTool.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageManager.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageUtils.java
  solr/core/src/java/org/apache/solr/packagemanager/RepositoryManager.java
  solr/core/src/java/org/apache/solr/update/processor/DistributedUpdateProcessor.java
  solr/core/src/test/org/apache/solr/handler/TestReplicationHandler.java
  solr/core/src/test/org/apache/solr/handler/TestStressThreadBackup.java
  solr/core/src/test/org/apache/solr/pkg/TestPackages.java
  solr/core/src/test/org/apache/solr/search/TestTaskManagement.java
  solr/core/src/test/org/apache/solr/security/BasicAuthIntegrationTest.java
  solr/core/src/test/org/apache/solr/util/TestCborDataFormat.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/GenericSolrRequest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientTest.java
  solr/test-framework/src/java/org/apache/solr/handler/BackupStatusChecker.java
Labels: client:solrj, test-framework, tests, cat:cli, cat:index, cat:packagemanager, cat:search, cat:security

Try skipping explicit list-numbers
  dev-docs/apis.adoc
Labels: documentation

SOLR-15781: Document v2 API syntax conventions (#2219)
  dev-docs/apis.adoc
  dev-docs/v2-api-conventions.adoc
Labels: documentation

SOLR-17066: Replace SolrClient coreUrl usage, pt 2
  solr/core/src/test/org/apache/solr/client/solrj/impl/ConnectionReuseTest.java
  solr/core/src/test/org/apache/solr/cloud/LeaderTragicEventTest.java
  solr/core/src/test/org/apache/solr/cloud/RouteFieldTest.java
  solr/core/src/test/org/apache/solr/cloud/TestLeaderElectionWithEmptyReplica.java
  solr/core/src/test/org/apache/solr/cloud/TestPullReplica.java
  solr/core/src/test/org/apache/solr/cloud/TestRandomFlRTGCloud.java
  solr/core/src/test/org/apache/solr/cloud/TestRandomRequestDistribution.java
  solr/core/src/test/org/apache/solr/cloud/TestTlogReplica.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/ShardSplitTest.java
  solr/core/src/test/org/apache/solr/handler/ReplicationTestHelper.java
  solr/core/src/test/org/apache/solr/handler/TestHealthCheckHandlerLegacyMode.java
  solr/core/src/test/org/apache/solr/handler/TestReplicationHandler.java
  solr/core/src/test/org/apache/solr/handler/TestReplicationHandlerDiskOverFlow.java
  solr/core/src/test/org/apache/solr/handler/admin/CoreAdminHandlerTest.java
  solr/core/src/test/org/apache/solr/handler/component/DistributedQueryElevationComponentTest.java
  solr/core/src/test/org/apache/solr/handler/component/SearchHandlerTest.java
  solr/core/src/test/org/apache/solr/update/DeleteByIdWithRouterFieldTest.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/security/hadoop/TestImpersonationWithHadoopAuth.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/security/hadoop/TestSolrCloudWithSecureImpersonation.java
  solr/modules/hdfs/src/test/org/apache/solr/hdfs/cloud/StressHdfsTest.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/SolrClientCache.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ConcurrentUpdateSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBHttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/common/util/URLUtil.java
Labels: client:solrj, module:hadoop-auth, module:hdfs, tests, cat:cloud, cat:index, cat:search, cat:security

Remove duplicated and commented out code...
  solr/core/src/java/org/apache/solr/cli/SimplePostTool.java
Labels: cat:cli

Improve tests
  solr/core/src/java/org/apache/solr/cli/PostTool.java
  solr/core/src/test/org/apache/solr/cli/PostToolTest.java
Labels: tests, cat:cli

back out this change
  solr/core/src/java/org/apache/solr/cli/PostTool.java
Labels: cat:cli

Use a System wide property to enable PRS. the testcase can piggyback on that property to randomize PRS
  solr/core/src/java/org/apache/solr/cloud/api/collections/CreateCollectionCmd.java
  solr/test-framework/src/java/org/apache/solr/cloud/SolrCloudTestCase.java
Labels: test-framework, cat:api, cat:cloud

A lovely simplification by leveraging SolrCLI methods in our tools!
  solr/docker/scripts/solr-demo
Labels: docker

Update based on feedback talking w/ dsmiley
  solr/core/src/java/org/apache/solr/handler/component/QueryComponent.java
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
  solr/core/src/test/org/apache/solr/search/TestMainQueryCaching.java
Labels: tests, cat:search

Switch localparam name: fq -> preFilter
  solr/core/src/java/org/apache/solr/search/neural/KnnQParser.java
  solr/core/src/test/org/apache/solr/search/QueryEqualityTest.java
  solr/core/src/test/org/apache/solr/search/neural/KnnQParserTest.java
Labels: tests, cat:search

demonstrate post-filters are excluded from fq slurping
  solr/core/src/test/org/apache/solr/search/QueryEqualityTest.java
Labels: tests, cat:search

Misc test fixes
  solr/core/src/test/org/apache/solr/pkg/TestPackages.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/SolrClientCache.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ConcurrentUpdateSolrClient.java
  solr/solrj/src/java/org/apache/solr/common/util/URLUtil.java
  solr/solrj/src/test/org/apache/solr/client/solrj/SolrExampleTestsBase.java
Labels: client:solrj, tests, cat:packagemanager

Address review comments, rd 1
  solr/core/src/java/org/apache/solr/packagemanager/PackageManager.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageUtils.java
  solr/core/src/java/org/apache/solr/packagemanager/RepositoryManager.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientTest.java
Labels: client:solrj, tests, cat:packagemanager

Add configuration for SSL between Solr and Prometheus exporter.
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/exporter/SolrClientFactory.java
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/exporter/SolrExporter.java
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/exporter/SolrScrapeConfiguration.java
Labels: prometheus-exporter

Address review comments, rd 1
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ConcurrentUpdateSolrClient.java
Labels: client:solrj
