Repository apache/solr, pull requests merged in 2024-09, with the labels that each got.

#2669 Refactor: Use InputStream.transferTo
  solr/core/src/java/org/apache/solr/cli/PostTool.java
  solr/core/src/java/org/apache/solr/handler/BlobHandler.java
  solr/core/src/java/org/apache/solr/handler/designer/DefaultSampleDocumentsLoader.java
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerAPI.java
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerConfigSetHelper.java
  solr/core/src/test/org/apache/solr/cloud/TestConfigSetsAPI.java
  solr/core/src/test/org/apache/solr/handler/designer/TestSchemaDesignerConfigSetHelper.java
  solr/core/src/test/org/apache/solr/util/TestCborDataFormat.java
  solr/solrj/src/java/org/apache/solr/common/util/BytesOutputStream.java
  solr/solrj/src/java/org/apache/solr/common/util/Utils.java
Labels: client:solrj, tests, cat:cloud, cat:cli

#2673 SOLR-17434: Jetty relativeRedirectAllowed=true
  solr/CHANGES.txt
  solr/server/etc/jetty.xml
Labels: jetty-server

#2691 Add extra if in pseudocode fetch all docs
  solr/solr-ref-guide/modules/query-guide/pages/pagination-of-results.adoc
Labels: documentation

#2662 remove use of deprecated SolrIndexSearcher.search variant
  solr/core/src/test/org/apache/solr/search/SolrIndexSearcherTest.java
  solr/core/src/test/org/apache/solr/search/TestFiltering.java
Labels: tests, cat:search

#2692 SOLR-16295: Modernize and standardize project description
  README.md
  dev-tools/scripts/releaseWizard.yaml
  solr/docker/templates/Dockerfile.body.template
  solr/documentation/src/markdown/index.template.md
  solr/packaging/README.txt
Labels: documentation, docker, scripts

#2681 SOLR-17419: Introduce ParallelHttpShardHandler
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/component/HttpShardHandler.java
  solr/core/src/java/org/apache/solr/handler/component/HttpShardHandlerFactory.java
  solr/core/src/java/org/apache/solr/handler/component/ParallelHttpShardHandler.java
  solr/core/src/java/org/apache/solr/handler/component/ParallelHttpShardHandlerFactory.java
  solr/core/src/java/org/apache/solr/handler/component/ShardHandler.java
  solr/core/src/test-files/solr/solr-shardhandler-loadBalancerRequests.xml
  solr/core/src/test/org/apache/solr/core/MockShardHandlerFactory.java
  solr/core/src/test/org/apache/solr/core/TestShardHandlerFactory.java
  solr/core/src/test/org/apache/solr/handler/component/TestShardHandlerFactory.java
  solr/server/solr/solr.xml
  solr/solr-ref-guide/modules/configuration-guide/pages/configuring-solr-xml.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/requesthandlers-searchcomponents.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solrcloud-distributed-requests.adoc
Labels: documentation, configs, tests, cat:search

#2456 SOLR-17044: Expose api "version" on SolrRequest objects
  solr/core/src/java/org/apache/solr/packagemanager/PackageManager.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageUtils.java
  solr/core/src/java/org/apache/solr/packagemanager/RepositoryManager.java
  solr/solrj/src/java/org/apache/solr/client/solrj/SolrRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/CloudSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClientBase.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/GenericV2SolrRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/V2Request.java
  solr/solrj/src/java/org/apache/solr/client/solrj/util/ClientUtils.java
  solr/solrj/src/resources/java-template/api.mustache
Labels: client:solrj, cat:packagemanager

#2668 Lint cleanups in PostToolTest
  solr/core/src/test/org/apache/solr/cli/PostToolTest.java
Labels: tests, cat:cli

#2695 SOLR-3696: LBSolrClient use ObjectReleaseTracker
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBSolrClient.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpSolrClientConPoolTest.java
Labels: client:solrj, tests

#2699 SOLR-11318: Introduce unit testing for AssertTool
  solr/CHANGES.txt
  solr/core/src/test/org/apache/solr/cli/AssertToolTest.java
Labels: tests, cat:cli

#2700 remove deprecated SolrParams methods
  solr/core/src/java/org/apache/solr/search/facet/FacetParser.java
  solr/core/src/test/org/apache/solr/search/TestMinHashQParser.java
  solr/solrj/src/java/org/apache/solr/common/params/SolrParams.java
Labels: client:solrj, tests, cat:search

#2698 SOLR-16254: Clarify when a create needs to be run on the same server as Solr.
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/AuthTool.java
  solr/core/src/java/org/apache/solr/cli/CreateTool.java
  solr/core/src/java/org/apache/solr/cli/DeleteTool.java
Labels: cat:cli

#2690 SOLR-17431: Deprecate -p parameter where it doesn't refer to a port.
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/ConfigTool.java
  solr/core/src/java/org/apache/solr/cli/PackageTool.java
  solr/core/src/java/org/apache/solr/cli/PostTool.java
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/test/org/apache/solr/cli/PackageToolTest.java
  solr/solr-ref-guide/modules/configuration-guide/pages/package-manager.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/post-tool.adoc
Labels: documentation, tests, cat:cli

#2713 Ref Guide Doc fixes to match on bin/solr post works in 9.7
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-diy.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/post-tool.adoc
Labels: documentation

#2711 help the next person when it comes to building the docs..
  dev-docs/FAQ.adoc
Labels: documentation

#2716 SOLR-17453: Drop CloudUtil.waitForState() in favor of common waitForState()
  solr/core/src/java/org/apache/solr/cloud/CloudUtil.java
  solr/core/src/test/org/apache/solr/cloud/ReindexCollectionTest.java
  solr/core/src/test/org/apache/solr/search/TestCpuAllowedLimit.java
  solr/core/src/test/org/apache/solr/search/TestQueryLimits.java
Labels: tests, cat:search, cat:cloud

#2718 SOLR-17457: Scavange one change from the SOLR-17457 bug fix for main
  solr/core/src/java/org/apache/solr/cli/StatusTool.java
Labels: cat:cli

#2707 SOLR-17448: Audit usage of ExecutorService#submit in Solr codebase
  solr/CHANGES.txt
  solr/benchmark/src/java/org/apache/solr/bench/Docs.java
  solr/benchmark/src/java/org/apache/solr/bench/MiniClusterState.java
  solr/core/src/java/org/apache/solr/cli/ExportTool.java
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/java/org/apache/solr/cloud/ZkShardTerms.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/AddReplicaCmd.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/MaintainRoutedAliasCmd.java
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/handler/IndexFetcher.java
  solr/core/src/java/org/apache/solr/handler/admin/PrepRecoveryOp.java
  solr/core/src/java/org/apache/solr/schema/ZkIndexSchemaReader.java
  solr/core/src/java/org/apache/solr/security/AuditLoggerPlugin.java
  solr/core/src/java/org/apache/solr/update/DefaultSolrCoreState.java
  solr/core/src/test/org/apache/solr/cloud/DistributedQueueTest.java
  solr/core/src/test/org/apache/solr/cloud/OverseerTest.java
  solr/core/src/test/org/apache/solr/cloud/TestLeaderElectionZkExpiry.java
  solr/core/src/test/org/apache/solr/cloud/TestRebalanceLeaders.java
  solr/core/src/test/org/apache/solr/cloud/ZkControllerTest.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/CollectionsAPIAsyncDistributedZkTest.java
  solr/core/src/test/org/apache/solr/cloud/overseer/ZkStateReaderTest.java
  solr/core/src/test/org/apache/solr/core/SolrCoreTest.java
  solr/core/src/test/org/apache/solr/filestore/TestDistribFileStore.java
  solr/core/src/test/org/apache/solr/pkg/TestPackages.java
  solr/core/src/test/org/apache/solr/search/TestCancellableCollector.java
  solr/core/src/test/org/apache/solr/search/TestRangeQuery.java
  solr/core/src/test/org/apache/solr/update/processor/TimeRoutedAliasUpdateProcessorTest.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/CollectionPropertiesZkStateReader.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/SolrZkClient.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkStateReader.java
  solr/test-framework/src/java/org/apache/solr/BaseDistributedSearchTestCase.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractFullDistribZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/ChaosMonkey.java
Labels: test-framework, client:solrj, tests, cat:search, cat:cloud, cat:index, cat:cli, cat:api, cat:schema, cat:security, cat:packagemanager

#2720 SOLR-17454: Remove debugging error message
  solr/core/src/java/org/apache/solr/search/MultiThreadedSearcher.java
Labels: cat:search

#2671 SOLR-6962: bin/solr stop/start/restart should complain about missing value for options that expect a value.
  solr/CHANGES.txt
  solr/bin/solr
  solr/bin/solr.cmd
  solr/packaging/test/test_start_solr.bats
Labels: start-scripts

#2727 Fix bin/solr handling of --version flag and version command to be backcompat compatible.
  solr/bin/solr
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/packaging/test/test_version.bats
Labels: documentation, tool:build, start-scripts, tests, cat:search, cat:cloud, cat:index, cat:cli, cat:api, cat:schema, scripts

#2726 Forward port PR#2710
  solr/core/src/java/org/apache/solr/cli/AuthTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigSetDownloadTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigSetUploadTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigTool.java
  solr/core/src/java/org/apache/solr/cli/CreateTool.java
  solr/core/src/java/org/apache/solr/cli/DeleteTool.java
  solr/core/src/java/org/apache/solr/cli/HealthcheckTool.java
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/core/src/java/org/apache/solr/cli/ToolBase.java
  solr/core/src/java/org/apache/solr/cli/ZkCpTool.java
  solr/core/src/java/org/apache/solr/cli/ZkLsTool.java
  solr/core/src/java/org/apache/solr/cli/ZkMkrootTool.java
  solr/core/src/java/org/apache/solr/cli/ZkMvTool.java
  solr/core/src/java/org/apache/solr/cli/ZkRmTool.java
  solr/packaging/test/test_config.bats
Labels: cat:cli
