Repository apache/solr, pull requests merged in 2024-08, with the labels that each got.

#2571 SOLR-14985 Address perf issues to switch CloudSolrClient to HttpCluste…
  solr/CHANGES.txt
  solr/solrj/src/java/org/apache/solr/client/solrj/cloud/DelegatingClusterStateProvider.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/CloudSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ClusterStateProvider.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudHttp2SolrClientTest.java
Labels: client:solrj, tests

#2602 SOLR-16996: Update Solr Exporter for Prometheus cli to use commons-cli
  .github/workflows/bin-solr-test.yml
  solr/prometheus-exporter/build.gradle
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/exporter/SolrExporter.java
  versions.lock
  versions.props
Labels: dependencies, tool:build, prometheus-exporter

#2606 SOLR-10808: Enable docValues by default on specific fields
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/schema/BinaryField.java
  solr/core/src/java/org/apache/solr/schema/CollationField.java
  solr/core/src/java/org/apache/solr/schema/DenseVectorField.java
  solr/core/src/java/org/apache/solr/schema/FieldType.java
  solr/core/src/java/org/apache/solr/schema/LatLonPointSpatialField.java
  solr/core/src/java/org/apache/solr/schema/PointType.java
  solr/core/src/java/org/apache/solr/schema/PrimitiveFieldType.java
  solr/core/src/java/org/apache/solr/schema/SortableTextField.java
  solr/core/src/test-files/solr/collection1/conf/schema-binaryfield.xml
  solr/modules/analysis-extras/src/java/org/apache/solr/schema/ICUCollationField.java
  solr/solr-ref-guide/modules/indexing-guide/pages/docvalues.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/field-type-definitions-and-properties.adoc
  solr/solr-ref-guide/modules/query-guide/pages/spatial-search.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-9.adoc
  solr/test-framework/src/java/org/apache/solr/schema/SortableBinaryField.java
Labels: documentation, test-framework, tests, cat:schema

#2577 SOLR-16824: Replace deprecated single-dash arguments
  solr/CHANGES.txt
  solr/bin/solr.cmd
  solr/core/src/java/org/apache/solr/cli/CreateTool.java
  solr/core/src/java/org/apache/solr/cli/PackageTool.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageManager.java
  solr/core/src/test/org/apache/solr/cli/AuthToolTest.java
  solr/core/src/test/org/apache/solr/cli/CreateToolTest.java
  solr/core/src/test/org/apache/solr/cli/DeleteToolTest.java
  solr/core/src/test/org/apache/solr/cli/PostToolTest.java
  solr/core/src/test/org/apache/solr/cli/SolrCLIZkToolsTest.java
  solr/core/src/test/org/apache/solr/cli/TestExportTool.java
  solr/core/src/test/org/apache/solr/cli/ZkSubcommandsTest.java
  solr/modules/hdfs/src/java/org/apache/solr/hdfs/util/HdfsRecoverLeaseFileSystemUtils.java
  solr/packaging/test/test_adminconsole_urls.bats
  solr/packaging/test/test_basic_auth.bats
  solr/packaging/test/test_create_collection.bats
  solr/packaging/test/test_extraction.bats
  solr/packaging/test/test_packages.bats
  solr/packaging/test/test_post.bats
  solr/packaging/test/test_prometheus.bats
  solr/packaging/test/test_ssl.bats
  solr/packaging/test/test_zk.bats
  solr/solr-ref-guide/modules/configuration-guide/pages/package-manager.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/enabling-ssl.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/taking-solr-to-production.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/zookeeper-utilities.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-films.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/indexing-with-tika.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/post-tool.adoc
  solr/solr-ref-guide/modules/query-guide/pages/spatial-search.adoc
  solr/solr-ref-guide/modules/query-guide/pages/tagger-handler.adoc
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkMaintenanceUtils.java
Labels: documentation, client:solrj, module:hdfs, start-scripts, tests, cat:cli, cat:packagemanager

#2442 SOLR-17276 Scrape metrics at fixed rate in prometheus-exporter
  solr/CHANGES.txt
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/collector/SchedulerMetricsCollector.java
Labels: prometheus-exporter

#2613 [SOLR-17368] Change prometheus dummy metric to a more unique label
  solr/core/src/test/org/apache/solr/response/TestPrometheusResponseWriter.java
Labels: tests, cat:search

#2596 SOLR-13350, SOLR-17298: use multiThreaded=false default; document multiThreaded parameter;
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/component/QueryComponent.java
  solr/solr-ref-guide/modules/configuration-guide/pages/configuring-solr-xml.adoc
  solr/solr-ref-guide/modules/query-guide/pages/common-query-parameters.adoc
  solr/solrj/src/java/org/apache/solr/common/params/CommonParams.java
Labels: documentation, client:solrj, cat:search

#2548 SOLR-17102: Replaced VersionBucket array with locks on-demand
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/update/TimedVersionBucket.java
  solr/core/src/java/org/apache/solr/update/UpdateLocks.java
  solr/core/src/java/org/apache/solr/update/UpdateLog.java
  solr/core/src/java/org/apache/solr/update/VersionBucket.java
  solr/core/src/java/org/apache/solr/update/VersionInfo.java
  solr/core/src/java/org/apache/solr/update/processor/DistributedUpdateProcessor.java
  solr/core/src/java/org/apache/solr/util/OrderedExecutor.java
  solr/core/src/test-files/solr/configsets/_default/conf/solrconfig.xml
  solr/core/src/test/org/apache/solr/update/processor/DistributedUpdateProcessorTest.java
  solr/core/src/test/org/apache/solr/util/OrderedExecutorTest.java
  solr/prometheus-exporter/src/test-files/solr/collection1/conf/solrconfig.xml
  solr/server/solr/configsets/_default/conf/solrconfig.xml
  solr/server/solr/configsets/sample_techproducts_configs/conf/solrconfig.xml
  solr/solr-ref-guide/modules/configuration-guide/pages/commits-transaction-logs.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-9.adoc
Labels: documentation, configs, tests, cat:index

#2627 SOLR-16996: remove no-longer-applicable solr/licenses/argparse4j-* files
  solr/licenses/argparse4j-0.9.0.jar.sha1
  solr/licenses/argparse4j-LICENSE-MIT.txt
  solr/licenses/argparse4j-NOTICE.txt
Labels: dependencies

#2623 SOLR-17245 Download KEYS from downloads server
  dev-tools/scripts/releaseWizard.py
Labels: scripts

#2622 SOLR-17253 Release wizard suggests wrong minor version for jira
  dev-tools/scripts/releaseWizard.yaml
Labels: scripts

#2616 SOLR-10654: Override PrometheusResponseWriter Content Type
  solr/core/src/java/org/apache/solr/response/PrometheusResponseWriter.java
Labels: cat:search

#2620 [SOLR-10654] Rename instances of SolrPrometheusExporter to SolrPrometheusFormatter
  solr/core/src/java/org/apache/solr/metrics/prometheus/SolrMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/SolrNoOpMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/SolrPrometheusFormatter.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/PrometheusCoreFormatterInfo.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreCacheMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreHandlerMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreHighlighterMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreIndexMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreSearcherMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreTlogMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrPrometheusCoreFormatter.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/package-info.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jetty/SolrJettyDispatchesMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jetty/SolrJettyReqRespMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jetty/SolrPrometheusJettyFormatter.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jetty/package-info.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jvm/PrometheusJvmFormatterInfo.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jvm/SolrJvmBuffersMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jvm/SolrJvmGcMetrics.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jvm/SolrJvmMemoryMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jvm/SolrJvmOsMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jvm/SolrPrometheusJvmFormatter.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jvm/package-info.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/node/PrometheusNodeFormatterInfo.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/node/SolrNodeContainerMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/node/SolrNodeHandlerMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/node/SolrPrometheusNodeFormatter.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/node/package-info.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/package-info.java
  solr/core/src/java/org/apache/solr/response/PrometheusResponseWriter.java
  solr/core/src/test/org/apache/solr/handler/admin/MetricsHandlerTest.java
  solr/core/src/test/org/apache/solr/metrics/SolrCoreMetricTest.java
  solr/core/src/test/org/apache/solr/metrics/SolrPrometheusFormatterTest.java
Labels: tests, cat:search, cat:metrics

#2619 SOLR-17391: Cached thread pools actually have more than one thread.
  solr/CHANGES.txt
  solr/core/src/test/org/apache/solr/util/OrderedExecutorTest.java
  solr/solrj/src/java/org/apache/solr/common/util/ExecutorUtil.java
  solr/solrj/src/test/org/apache/solr/common/util/ExecutorUtilTest.java
Labels: client:solrj, tests

#2611 SOLR-17396: Reduce thread contention in ZkStateReader.getCollectionProperties()
  solr/CHANGES.txt
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/CollectionPropertiesZkStateReader.java
Labels: client:solrj

#2607 SOLR-17386: Fixed SyntheticSolrCore reload issue
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/core/SyntheticSolrCore.java
  solr/core/src/test/org/apache/solr/search/TestCoordinatorRole.java
Labels: tests, cat:search

#2546 add build badges to README.md
  README.md
Labels: documentation

#2599 SOLR-17381: Make CLUSTERSTATUS configurable
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/admin/ClusterStatus.java
  solr/core/src/java/org/apache/solr/handler/admin/CollectionsHandler.java
  solr/solr-ref-guide/modules/deployment-guide/pages/cluster-node-management.adoc
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/BaseHttpClusterStateProvider.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ClusterStateProvider.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudHttp2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpClusterStateSSLTest.java
Labels: documentation, client:solrj, tests

#2631 SOLR-17397: Fix SkipExistingDocumentsProcessor to handle child docume…
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/update/processor/SkipExistingDocumentsProcessorFactory.java
  solr/core/src/test/org/apache/solr/update/processor/SkipExistingDocumentsProcessorFactoryTest.java
Labels: tests, cat:index

#2629 Use EnvUtils to override cache timeout in HTTP ClusterStateProvider
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/BaseHttpClusterStateProvider.java
Labels: client:solrj

#2593 SOLR-17359: Move Zk Arg parsing into Java Code
  solr/CHANGES.txt
  solr/bin/solr
  solr/bin/solr.cmd
  solr/core/src/java/org/apache/solr/cli/ConfigSetDownloadTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigSetUploadTool.java
  solr/core/src/java/org/apache/solr/cli/CreateTool.java
  solr/core/src/java/org/apache/solr/cli/LinkConfigTool.java
  solr/core/src/java/org/apache/solr/cli/PackageTool.java
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/java/org/apache/solr/cli/Tool.java
  solr/core/src/java/org/apache/solr/cli/UpdateACLTool.java
  solr/core/src/java/org/apache/solr/cli/ZkCpTool.java
  solr/core/src/java/org/apache/solr/cli/ZkLsTool.java
  solr/core/src/java/org/apache/solr/cli/ZkMkrootTool.java
  solr/core/src/java/org/apache/solr/cli/ZkMvTool.java
  solr/core/src/java/org/apache/solr/cli/ZkRmTool.java
  solr/core/src/java/org/apache/solr/cli/ZkToolHelp.java
  solr/core/src/test/org/apache/solr/cli/SolrCLIZkToolsTest.java
  solr/core/src/test/org/apache/solr/cli/ZkSubcommandsTest.java
  solr/docker/tests/cases/cloud_multi_node_embedded_zk/test.sh
  solr/packaging/test/test_create_collection.bats
  solr/packaging/test/test_help.bats
  solr/packaging/test/test_ssl.bats
  solr/packaging/test/test_zk.bats
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/zookeeper-utilities.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-diy.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-films.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-techproducts.adoc
Labels: documentation, docker, start-scripts, tests, cat:cli

#2625 SOLR-17298 verify that graph, join and rerank queries are unaffected by the use of multithreaded search and re-enable them.
  solr/core/src/java/org/apache/solr/search/MultiThreadedSearcher.java
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
Labels: cat:search

#2615 TestExportWriter fix, loosen order constraint
  solr/core/src/test/org/apache/solr/handler/export/TestExportWriter.java
Labels: tests

#2387 SOLR-17223 Remove hardcoded java version in renderJavadoc task
  gradle/documentation/render-javadoc.gradle
Labels: tool:build, stale

#2643 Bump up dependency analyze to 1.10.0
  build.gradle
  solr/modules/gcs-repository/build.gradle
  solr/modules/hdfs/build.gradle
  solr/modules/s3-repository/build.gradle
  solr/modules/sql/build.gradle
  solr/prometheus-exporter/build.gradle
  solr/solrj/build.gradle
  versions.lock
Labels: dependencies, client:solrj, module:hdfs, module:s3-repository, tool:build, prometheus-exporter, module:gcs-repository, module:sql

#2659 SOLR-17400: remove deprecated snapshot related code
  solr/CHANGES.txt
  solr/modules/hdfs/bin/prepare-snapshot-export.sh
  solr/modules/hdfs/src/java/org/apache/solr/hdfs/snapshots/SolrOnHdfsSnapshotsTool.java
  solr/server/scripts/cloud-scripts/snapshotscli.sh
Labels: module:hdfs, scripts

#2633 SOLR-17399: Replace the use of the deprecated java.util.Locale ctor
  gradle/validation/forbidden-apis/defaults.all.txt
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/highlight/BreakIteratorBoundaryScanner.java
  solr/core/src/java/org/apache/solr/highlight/UnifiedSolrHighlighter.java
  solr/core/src/java/org/apache/solr/schema/CollationField.java
  solr/core/src/test/org/apache/solr/schema/TestCollationField.java
  solr/core/src/test/org/apache/solr/schema/TestCollationFieldDocValues.java
  solr/core/src/test/org/apache/solr/update/processor/ParsingFieldUpdateProcessorsTest.java
  solr/modules/langid/src/java/org/apache/solr/update/processor/OpenNLPLangDetectUpdateProcessor.java
Labels: tool:build, tests, cat:search, cat:index, cat:schema, module:langid

#2642 Migrate from Gradle Enterprise Gradle Plugin to Develocity Gradle Plugin
  .github/workflows/bin-solr-test.yml
  .github/workflows/docker-test.yml
  .github/workflows/gradle-precommit.yml
  .github/workflows/solrj-test.yml
  gradle/develocity.gradle
  settings.gradle
Labels: tool:build

#2661 HttpShardHandler: Fix extension hook transformResponse
  solr/core/src/java/org/apache/solr/handler/component/HttpShardHandler.java
Labels: cat:search

#2667 SOLR-3913: Optimize the commit/optimize cycle in the PostTool
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/PostTool.java
Labels: cat:cli

#2663 SOLR-17421: Make sure overseer drops leadership after QUIT failure
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/Overseer.java
Labels: cat:cloud

#2665 Enabling test-retry-gradle-plugin
  build.gradle
  gradle/testing/retry-test.gradle
Labels: tool:build

#2676 SOLR-17142: Fix Gradle build sometimes gives spurious "unreferenced license file" warnings
  gradle/validation/jar-checks.gradle
  solr/CHANGES.txt
Labels: tool:build

#2674 SOLR-17423: Remove -h as short option for --host, and use --host.
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/core/src/test/org/apache/solr/cli/TestSolrCLIRunExample.java
  solr/solr-ref-guide/modules/deployment-guide/pages/docker-faq.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-aws.adoc
Labels: documentation, tests, cat:cli

#2657 Review Solr Streaming code for typos
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/SolrClientCache.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/comp/FieldComparator.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/eval/BicubicSplineEvaluator.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/eval/IsNullEvaluator.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/eval/KnnRegressionEvaluator.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/eval/Matrix.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/eval/NotNullEvaluator.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/eval/PredictEvaluator.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/eval/ProbabilityEvaluator.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/eval/RecursiveEvaluator.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/sql/DriverImpl.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/BiJoinStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/CartesianProductStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/CloudSolrStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/CommitStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/ComplementStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/DaemonStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/DeepRandomStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/FacetStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/FeaturesSelectionStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/HashJoinStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/InnerJoinStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/IntersectStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/JDBCStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/JSONTupleStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/KnnStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/LeftOuterJoinStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/ListStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/MergeStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/ModelStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/NoOpStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/NullStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/OuterHashJoinStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/PlotStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/SearchStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/ShuffleStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/SignificantTermsStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/SqlStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/TextLogitStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/TimeSeriesStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/TopicStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/TupStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/UpdateStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/ZplotStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/expr/StreamExpressionParser.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/expr/StreamFactory.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/sql/JdbcTest.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/MathExpressionTest.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/StreamingTest.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/ops/OperationsTest.java
Labels: client:solrj, tests

#2675 Don't reference the old post.sh script in docs, use the bin/solr post command.
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-in-docker.adoc
Labels: documentation

#2683 SOLR-17423: use long form, -h now means --help, not --host in solr.cmd
  solr/bin/solr.cmd
Labels: start-scripts

#2678 SOLR-17427: Fix url building in cli
  solr/core/src/java/org/apache/solr/cli/ApiTool.java
  solr/core/src/java/org/apache/solr/cli/PostTool.java
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/test/org/apache/solr/cli/ApiToolTest.java
  solr/core/src/test/org/apache/solr/cli/PostToolTest.java
Labels: tests, cat:cli

#2679 SOLR-17429, SOLR-17338: Use stderr for SolrCLI deprecation logs
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
Labels: cat:cli
