Repository apache/solr, pull requests merged in 2024-04, with the labels that each got.

#2360 SOLR-17205 De-couple SolrJ Java version from server Java version
  build.gradle
  gradle/globals.gradle
  gradle/ide/eclipse.gradle
  gradle/java/javac.gradle
  solr/CHANGES.txt
Labels: tool:build

#2363 SOLR-17153: CloudSolrClient should not throw "Collection not found" with an out-dated ClusterState
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/api/V2HttpCall.java
  solr/core/src/java/org/apache/solr/servlet/HttpSolrCall.java
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/impl/ZkClientClusterStateProvider.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ClusterStateProvider.java
Labels: jetty-server, client:solrj, cat:api

#2374 SOLR-17211: HttpJdkSolrClient Support Async requests
  solr/CHANGES.txt
  solr/solr-ref-guide/modules/deployment-guide/pages/solrj.adoc
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpJdkSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClientBase.java
  solr/solrj/src/java/org/apache/solr/client/solrj/util/AsyncListener.java
  solr/solrj/src/java/org/apache/solr/client/solrj/util/Cancellable.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/DebugAsyncListener.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/DebugServlet.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpJdkSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpSolrClientTestBase.java
Labels: documentation, client:solrj, tests

#2385 Ref Guide: Remove note about Zookeeper client TLS support
  solr/solr-ref-guide/modules/deployment-guide/pages/enabling-ssl.adoc
Labels: documentation

#2348 SOLR-17018: add QueryLimits support to Learning To Rank rescoring
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/search/IncompleteRerankingException.java
  solr/core/src/java/org/apache/solr/search/ReRankCollector.java
  solr/modules/ltr/src/java/org/apache/solr/ltr/LTRRescorer.java
  solr/modules/ltr/src/test-files/featureExamples/features-slow.json
  solr/modules/ltr/src/test-files/modelExamples/linear-slow-model.json
  solr/modules/ltr/src/test/org/apache/solr/ltr/TestLTRQParserPlugin.java
  solr/solr-ref-guide/modules/query-guide/pages/learning-to-rank.adoc
Labels: documentation, module:ltr, tests, cat:search

#2368 SOLR-17206: Ensure -1 status code is not returned by distributed update request
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/update/processor/DistributedUpdateProcessor.java
  solr/core/src/test/org/apache/solr/update/processor/DistributedUpdateProcessorTest.java
Labels: tests, cat:index

#2393 SOLR-17153 Resolve IndexOutOfBoundsException
  solr/core/src/java/org/apache/solr/api/V2HttpCall.java
  solr/core/src/java/org/apache/solr/servlet/HttpSolrCall.java
  solr/packaging/test/test_adminconsole_urls.bats
Labels: jetty-server, cat:api

#1964 SOLR-11535: Fix race condition in singleton-per-collection StateWatcher creation
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/ActiveReplicaWatcher.java
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/test/org/apache/solr/cloud/overseer/ZkStateReaderTest.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkStateReader.java
Labels: client:solrj, tests, cat:cloud

#2401 remove stray backticks in solrcloud-distributed-requests.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solrcloud-distributed-requests.adoc
Labels: documentation

#2364 Update GC logging options for Zookeeper
  solr/solr-ref-guide/modules/deployment-guide/pages/zookeeper-ensemble.adoc
Labels: documentation

#2246 SOLR-16466: Admin UI - Make it optional to sort list of commandline args
  solr/CHANGES.txt
  solr/webapp/web/css/angular/index.css
  solr/webapp/web/js/angular/controllers/index.js
  solr/webapp/web/partials/index.html
Labels: admin-ui

#2353 SOLR-17204: REPLACENODE supports the source node not being live
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/api/collections/ReplaceNodeCmd.java
  solr/core/src/test/org/apache/solr/cloud/ReplaceNodeTest.java
Labels: tests, cat:cloud, cat:api

#2384 Add correct exception logging in the ExecutorUtil
  solr/solrj/src/java/org/apache/solr/common/util/ExecutorUtil.java
Labels: client:solrj

#2412 SOLR-17194: Fix bug - CloudHttp2SolrClient doesn't preserve the passed httpClient to Http2ClusterStateProvider when using the internalClientBuilder
  solr/CHANGES.txt
  solr/core/src/test/org/apache/solr/cli/TestExportTool.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/CloudHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2ClusterStateProvider.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudHttp2SolrClientBuilderTest.java
Labels: client:solrj, tests, cat:cli

#2411 SOLR-17234: LBHttp2SolrClient does not skip "zombie" endpoints
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBSolrClient.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBHttp2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBSolrClientTest.java
Labels: client:solrj, tests

#2197 Improving array list and map init
  solr/core/src/java/org/apache/solr/handler/component/SearchComponent.java
  solr/core/src/java/org/apache/solr/handler/component/SearchHandler.java
Labels: stale

#2404 SOLR-12813: subqueries should respect basic auth
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/client/solrj/embedded/EmbeddedSolrServer.java
  solr/core/src/java/org/apache/solr/response/transform/SubQueryAugmenterFactory.java
  solr/core/src/java/org/apache/solr/servlet/SolrRequestParsers.java
  solr/core/src/test/org/apache/solr/response/transform/TestSubQueryTransformerDistrib.java
Labels: jetty-server, tests, cat:search

#2425 SOLR-17254 - Major Changes in 9.6
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-9.adoc
Labels: documentation

#2370 SOLR-16921: use -solrUrl to derive the zk host connection for bin/solr zk subcommands
  solr/CHANGES.txt
  solr/bin/solr
  solr/bin/solr.cmd
  solr/core/src/java/org/apache/solr/cli/ConfigSetDownloadTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigSetUploadTool.java
  solr/core/src/java/org/apache/solr/cli/ZkCpTool.java
  solr/core/src/java/org/apache/solr/cli/ZkLsTool.java
  solr/core/src/java/org/apache/solr/cli/ZkMkrootTool.java
  solr/core/src/java/org/apache/solr/cli/ZkMvTool.java
  solr/core/src/java/org/apache/solr/cli/ZkRmTool.java
  solr/packaging/test/test_zk.bats
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
Labels: documentation, start-scripts, cat:cli

#2428 SOLR-14115: Update the docs to reference to the bin/solr equivalent of the zkcli.sh
  solr/solr-ref-guide/modules/deployment-guide/pages/monitoring-with-prometheus-and-grafana.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/taking-solr-to-production.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/zookeeper-access-control.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/zookeeper-utilities.adoc
Labels: documentation

#2427 SOLR-14115: Remove deprecated zkcli script.
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/ZkCLI.java
  solr/core/src/java/org/apache/solr/cloud/ZkConfigSetService.java
  solr/core/src/test/org/apache/solr/cli/ZkSubcommandsTest.java
  solr/core/src/test/org/apache/solr/cloud/ZkCLITest.java
  solr/packaging/test/test_zk.bats
  solr/server/README.md
  solr/server/scripts/cloud-scripts/zkcli.bat
  solr/server/scripts/cloud-scripts/zkcli.sh
  solr/solr-ref-guide/modules/deployment-guide/pages/zookeeper-utilities.adoc
Labels: documentation, tests, cat:cloud, cat:cli, scripts
