Repository apache/solr, pull requests merged in 2024-02, with the labels that each got.

#2226 SOLR-16699: Expose creationTimeMillis in COLSTATUS API
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/DistributedClusterStateUpdater.java
  solr/core/src/java/org/apache/solr/cloud/overseer/ClusterStateMutator.java
  solr/core/src/java/org/apache/solr/cloud/overseer/CollectionMutator.java
  solr/core/src/java/org/apache/solr/cloud/overseer/ZkStateWriter.java
  solr/core/src/java/org/apache/solr/core/backup/BackupManager.java
  solr/core/src/java/org/apache/solr/handler/admin/ClusterStatus.java
  solr/core/src/java/org/apache/solr/handler/admin/ColStatus.java
  solr/core/src/test/org/apache/solr/cloud/ClusterStateTest.java
  solr/core/src/test/org/apache/solr/cloud/CollectionsAPISolrJTest.java
  solr/core/src/test/org/apache/solr/cloud/OverseerCollectionConfigSetProcessorTest.java
  solr/core/src/test/org/apache/solr/cloud/SliceStateTest.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/SimpleCollectionCreateDeleteTest.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/TestCollectionAPI.java
  solr/core/src/test/org/apache/solr/cloud/overseer/ZkStateReaderTest.java
  solr/core/src/test/org/apache/solr/cloud/overseer/ZkStateWriterTest.java
  solr/solr-ref-guide/modules/deployment-guide/pages/collection-management.adoc
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/impl/ZkClientClusterStateProvider.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/SolrZkClient.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkStateReader.java
  solr/solrj-zookeeper/src/test/org/apache/solr/common/cloud/SolrZkClientTest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/BaseHttpClusterStateProvider.java
  solr/solrj/src/java/org/apache/solr/common/cloud/ClusterState.java
  solr/solrj/src/java/org/apache/solr/common/cloud/DocCollection.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudSolrClientCacheTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/ClusterStateProviderTest.java
  solr/solrj/src/test/org/apache/solr/common/cloud/ReplicaCountTest.java
Labels: documentation, client:solrj

#2231 SOLR-17066: Switch HttpSolrClient away from coreURLs, pt 2
  solr/core/src/test/org/apache/solr/client/solrj/impl/ConnectionReuseTest.java
  solr/core/src/test/org/apache/solr/cloud/LeaderTragicEventTest.java
  solr/core/src/test/org/apache/solr/cloud/RouteFieldTest.java
  solr/core/src/test/org/apache/solr/cloud/TestLeaderElectionWithEmptyReplica.java
  solr/core/src/test/org/apache/solr/cloud/TestPullReplica.java
  solr/core/src/test/org/apache/solr/cloud/TestRandomFlRTGCloud.java
  solr/core/src/test/org/apache/solr/cloud/TestRandomRequestDistribution.java
  solr/core/src/test/org/apache/solr/cloud/TestTlogReplica.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/ShardSplitTest.java
  solr/core/src/test/org/apache/solr/handler/ReplicationTestHelper.java
  solr/core/src/test/org/apache/solr/handler/TestHealthCheckHandlerLegacyMode.java
  solr/core/src/test/org/apache/solr/handler/TestReplicationHandler.java
  solr/core/src/test/org/apache/solr/handler/TestReplicationHandlerDiskOverFlow.java
  solr/core/src/test/org/apache/solr/handler/admin/CoreAdminHandlerTest.java
  solr/core/src/test/org/apache/solr/handler/component/DistributedQueryElevationComponentTest.java
  solr/core/src/test/org/apache/solr/handler/component/SearchHandlerTest.java
  solr/core/src/test/org/apache/solr/pkg/TestPackages.java
  solr/core/src/test/org/apache/solr/update/DeleteByIdWithRouterFieldTest.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/security/hadoop/TestImpersonationWithHadoopAuth.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/security/hadoop/TestSolrCloudWithSecureImpersonation.java
  solr/modules/hdfs/src/test/org/apache/solr/hdfs/cloud/StressHdfsTest.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/SolrClientCache.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ConcurrentUpdateSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBHttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/common/util/URLUtil.java
  solr/solrj/src/test/org/apache/solr/client/solrj/SolrExampleTestsBase.java
Labels: client:solrj, module:hadoop-auth, module:hdfs

#2227 SOLR-17068: Resolve mish mash of bin/post and bin/solr post references in favour of bin/solr post.
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/PostTool.java
  solr/core/src/java/org/apache/solr/cli/SimplePostTool.java
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/test/org/apache/solr/cli/PostToolTest.java
  solr/core/src/test/org/apache/solr/cloud/SolrCloudExampleTest.java
  solr/docker/scripts/solr-demo
  solr/docker/tests/cases/create_core/test.sh
  solr/docker/tests/cases/create_core_exec/test.sh
  solr/docker/tests/cases/create_core_randomuser_rootgroup/test.sh
  solr/docker/tests/cases/empty-varsolr-dir-ramdomuser-rootgroup/test.sh
  solr/docker/tests/cases/empty-varsolr-dir-solr/test.sh
  solr/docker/tests/cases/empty-varsolr-dir-user/test.sh
  solr/docker/tests/cases/empty-varsolr-vol-ramdomuser-rootgroup/test.sh
  solr/docker/tests/cases/empty-varsolr-vol-solr-nocopy/test.sh
  solr/docker/tests/cases/empty-varsolr-vol-solr/test.sh
  solr/docker/tests/cases/empty-varsolr-vol-user/test.sh
  solr/docker/tests/cases/gosu/test.sh
  solr/docker/tests/cases/precreate_core/test.sh
  solr/docker/tests/cases/precreate_core_randomuser_rootgroup/test.sh
  solr/docker/tests/cases/test_log4j/test.sh
  solr/docker/tests/cases/user_volume/test.sh
  solr/example/README.md
  solr/example/exampledocs/utf8-example.xml
  solr/packaging/test/test_post.bats
  solr/prometheus-exporter/src/test-files/exampledocs/utf8-example.xml
  solr/solr-ref-guide/modules/deployment-guide/pages/docker-networking.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/installing-solr.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-diy.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-films.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-techproducts.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/indexing-with-tika.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/post-tool.adoc
  solr/solr-ref-guide/modules/query-guide/pages/spatial-search.adoc
  solr/solr-ref-guide/modules/query-guide/pages/tagger-handler.adoc
Labels: documentation, docker, examples, prometheus-exporter

#2236 SOLR-17144: Do not keep an active thread per core
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/solrj/src/java/org/apache/solr/common/util/ExecutorUtil.java
Labels: client:solrj

#2217 Optimize ZkStateReader.refreshCollectionList
  solr/CHANGES.txt
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkStateReader.java
Labels: client:solrj

#2239 SOLR-17146: Add DelegatingBackupRepository and alternative checksum verification
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/backup/repository/AbstractBackupRepository.java
  solr/core/src/java/org/apache/solr/core/backup/repository/BackupRepository.java
  solr/core/src/java/org/apache/solr/core/backup/repository/BackupRepositoryFactory.java
  solr/core/src/java/org/apache/solr/core/backup/repository/DelegatingBackupRepository.java
  solr/core/src/java/org/apache/solr/core/backup/repository/LocalFileSystemRepository.java
  solr/core/src/test/org/apache/solr/core/backup/repository/LocalFileSystemRepositoryTest.java
  solr/modules/gcs-repository/src/java/org/apache/solr/gcs/GCSBackupRepository.java
  solr/modules/gcs-repository/src/test/org/apache/solr/gcs/GCSBackupRepositoryTest.java
  solr/modules/hdfs/src/java/org/apache/solr/hdfs/backup/repository/HdfsBackupRepository.java
  solr/modules/hdfs/src/test/org/apache/solr/hdfs/backup/repository/HdfsBackupRepositoryIntegrationTest.java
  solr/modules/s3-repository/src/java/org/apache/solr/s3/S3BackupRepository.java
  solr/modules/s3-repository/src/java/org/apache/solr/s3/S3BackupRepositoryConfig.java
  solr/modules/s3-repository/src/test/org/apache/solr/s3/S3BackupRepositoryTest.java
  solr/solr-ref-guide/modules/deployment-guide/pages/backup-restore.adoc
  solr/test-framework/src/java/org/apache/solr/cloud/api/collections/AbstractBackupRepositoryTest.java
  solr/test-framework/src/java/org/apache/solr/core/TrackingBackupRepository.java
Labels: documentation, test-framework, module:hdfs, module:s3-repository, module:gcs-repository

#2243 SOLR-17149: Fix backup/restore for large collections.
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/handler/admin/CoreAdminHandler.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/LocalFSCloudIncrementalBackupTest.java
  solr/modules/gcs-repository/src/test/org/apache/solr/gcs/GCSIncrementalBackupTest.java
  solr/modules/hdfs/src/test/org/apache/solr/hdfs/cloud/api/collections/HdfsCloudIncrementalBackupTest.java
  solr/modules/s3-repository/src/test/org/apache/solr/s3/S3IncrementalBackupTest.java
  solr/solrj/src/java/org/apache/solr/common/util/ExecutorUtil.java
  solr/test-framework/src/java/org/apache/solr/cloud/api/collections/AbstractIncrementalBackupTest.java
Labels: test-framework, client:solrj, module:hdfs, module:s3-repository, module:gcs-repository

#2245 Fix a few typos in the Indexing Guide
  solr/solr-ref-guide/modules/indexing-guide/pages/date-formatting-math.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/documents-screen.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/field-types-included-with-solr.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/indexing-nested-documents.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/indexing-with-cbor.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/partial-document-updates.adoc
Labels: documentation

#2250 SOLR-15960: Find unexported variables with compgen
  solr/bin/solr
  solr/packaging/test/test_modules.bats
Labels: start-scripts

#2249 SOLR-17152: Better alignment of Admin UI graph
  solr/CHANGES.txt
  solr/webapp/web/js/angular/controllers/cloud.js
Labels: admin-ui

#2223 dev-docs + help: try-and-tweak 'Solr X Lucene' docs
  dev-docs/dependency-upgrades.adoc
  dev-docs/lucene-upgrade.md
  help/dependencies.txt
Labels: documentation

#2257 Update password hash documentation on basic authentication
  solr/solr-ref-guide/modules/deployment-guide/pages/basic-authentication-plugin.adoc
Labels: documentation

#2263 Clarify split parameter usage
  solr/solr-ref-guide/modules/indexing-guide/pages/indexing-with-update-handlers.adoc
Labels: documentation

#2254 SOLR-17066: Switch ConcurrentSolrClients away from core URLs
  solr/core/src/java/org/apache/solr/update/StreamingSolrClients.java
  solr/core/src/test/org/apache/solr/client/solrj/impl/ConnectionReuseTest.java
  solr/core/src/test/org/apache/solr/cloud/FullSolrCloudDistribCmdsTest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBHttpSolrClient.java
  solr/solrj/src/test/org/apache/solr/client/solrj/embedded/SolrExampleStreamingBinaryHttp2Test.java
  solr/solrj/src/test/org/apache/solr/client/solrj/embedded/SolrExampleStreamingBinaryTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/embedded/SolrExampleStreamingHttp2Test.java
  solr/solrj/src/test/org/apache/solr/client/solrj/embedded/SolrExampleStreamingTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/ConcurrentUpdateHttp2SolrClientBadInputTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/ConcurrentUpdateHttp2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/ConcurrentUpdateSolrClientBadInputTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/ConcurrentUpdateSolrClientBuilderTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/ConcurrentUpdateSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpSolrClientConPoolTest.java
  solr/test-framework/src/java/org/apache/solr/cloud/FullThrottleStoppableIndexingThread.java
Labels: test-framework, client:solrj

#2198 Suppress two `gradle dependencyCheckAggregate` false positives
  build.gradle
  gradle/validation/owasp-dependency-check/exclusions.xml
Labels: tool:build

#2272 NO JIRA: remove unreferenced solr/licenses/jakarta.inject-2.6.1.jar.sha1 file
  solr/licenses/jakarta.inject-2.6.1.jar.sha1
Labels: dependencies

#2265 Update core param in STATUS doc
  solr/solr-ref-guide/modules/configuration-guide/pages/coreadmin-api.adoc
Labels: documentation

#1238 Update caches-warming.adoc with a note about maxRamMB
  solr/solr-ref-guide/modules/configuration-guide/pages/caches-warming.adoc
Labels: stale

#2264 Build: ge.gradle add tags & projectId=solr
  gradle/ge.gradle
Labels: tool:build

#2244 SOLR-17141: Create CpuQueryLimit implementation
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/RequestHandlerBase.java
  solr/core/src/java/org/apache/solr/handler/component/SearchHandler.java
  solr/core/src/java/org/apache/solr/request/SolrRequestInfo.java
  solr/core/src/java/org/apache/solr/search/CpuAllowedLimit.java
  solr/core/src/java/org/apache/solr/search/QueryLimits.java
  solr/core/src/java/org/apache/solr/search/TimeAllowedLimit.java
  solr/core/src/java/org/apache/solr/util/ThreadCpuTimer.java
  solr/core/src/test/org/apache/solr/TestCpuTimeSearch.java
  solr/core/src/test/org/apache/solr/search/ExpensiveSearchComponent.java
  solr/core/src/test/org/apache/solr/search/TestCpuAllowedLimit.java
  solr/solr-ref-guide/modules/query-guide/pages/common-query-parameters.adoc
  solr/solrj/src/java/org/apache/solr/common/params/CommonParams.java
Labels: documentation, client:solrj, tests, cat:search

#2275 SOLR-17159: Untangle PostTool and SimplePostTool code
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/PostTool.java
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/core/src/test/org/apache/solr/cli/PostToolTest.java
  solr/core/src/test/org/apache/solr/cloud/SolrCloudExampleTest.java
  solr/packaging/test/test_post.bats
Labels: tests, cat:cloud, cat:cli

#2207 SOLR-16995: Configure replication behaviour for each replica type
  solr/core/src/java/org/apache/solr/cloud/CloudDescriptor.java
  solr/core/src/java/org/apache/solr/cloud/RecoveryStrategy.java
  solr/core/src/java/org/apache/solr/cloud/ReplicateFromLeader.java
  solr/core/src/java/org/apache/solr/cloud/ShardLeaderElectionContext.java
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/handler/ReplicationHandler.java
  solr/core/src/java/org/apache/solr/update/UpdateHandler.java
  solr/solrj/src/java/org/apache/solr/common/cloud/Replica.java
Labels: client:solrj, cat:cloud, cat:index

#2285 ReqSupplier interface not actually needed, so simplify code
  solr/solrj/src/java/org/apache/solr/client/solrj/request/UpdateRequest.java
Labels: client:solrj

#2286 Prevent odd error from occasionally showing up.
  solr/core/src/test/org/apache/solr/cloud/SolrCloudExampleTest.java
Labels: tests, cat:cloud

#2230 Use a System wide property to enable PRS
  solr/core/src/java/org/apache/solr/cloud/api/collections/CreateCollectionCmd.java
  solr/core/src/test/org/apache/solr/cloud/CollectionsAPISolrJTest.java
  solr/core/src/test/org/apache/solr/cloud/OverseerStatusTest.java
  solr/core/src/test/org/apache/solr/cloud/ParallelCommitExecutionTest.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/SimpleCollectionCreateDeleteTest.java
  solr/core/src/test/org/apache/solr/handler/PingRequestHandlerTest.java
  solr/core/src/test/org/apache/solr/handler/TestStressThreadBackup.java
  solr/core/src/test/org/apache/solr/handler/admin/HealthCheckHandlerTest.java
  solr/core/src/test/org/apache/solr/handler/component/SearchHandlerTest.java
  solr/core/src/test/org/apache/solr/response/TestRawTransformer.java
  solr/core/src/test/org/apache/solr/response/transform/TestSubQueryTransformerDistrib.java
  solr/core/src/test/org/apache/solr/schema/TestManagedSchemaAPI.java
  solr/core/src/test/org/apache/solr/search/DistributedReRankExplainTest.java
  solr/core/src/test/org/apache/solr/search/TestTaskManagement.java
  solr/core/src/test/org/apache/solr/search/facet/TestCloudJSONFacetJoinDomain.java
  solr/core/src/test/org/apache/solr/search/facet/TestCloudJSONFacetSKG.java
  solr/core/src/test/org/apache/solr/search/facet/TestCloudJSONFacetSKGEquiv.java
  solr/core/src/test/org/apache/solr/search/join/CrossCollectionJoinQueryTest.java
  solr/core/src/test/org/apache/solr/search/stats/TestDistribIDF.java
  solr/core/src/test/org/apache/solr/update/processor/TemplateUpdateProcessorTest.java
  solr/modules/sql/src/test/org/apache/solr/handler/sql/TestSQLHandler.java
  solr/solr-ref-guide/modules/deployment-guide/examples/UsingSolrJRefGuideExamplesTest.java
  solr/solr-ref-guide/modules/indexing-guide/examples/IndexingNestedDocuments.java
  solr/solr-ref-guide/modules/query-guide/examples/JsonRequestApiHeatmapFacetingTest.java
  solr/solr-ref-guide/modules/query-guide/examples/JsonRequestApiTest.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/CloudAuthStreamTest.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/JDBCStreamTest.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/MathExpressionTest.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/SelectWithEvaluatorsTest.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/StreamDecoratorTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/request/json/DirectJsonQueryRequestFacetingIntegrationTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/request/json/JsonQueryRequestFacetingIntegrationTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/request/json/JsonQueryRequestHeatmapFacetingTest.java
  solr/solrj/src/test/org/apache/solr/common/cloud/TestCloudCollectionsListeners.java
  solr/solrj/src/test/org/apache/solr/common/cloud/TestCollectionStateWatchers.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractBasicDistributedZk2TestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/SolrCloudTestCase.java
Labels: documentation, test-framework, client:solrj, module:sql, tests, cat:search, cat:cloud, cat:index, cat:api, cat:schema

#2281 remove unused local variable in SolrIndexSearcher.sortDocSet
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
Labels: cat:search

#2279 SOLR-17166 cloud.sh can't put solr.xml in zk anymore
  dev-tools/scripts/cloud.sh
Labels: scripts

#2046 SOLR-17058: Request param to disable distributed stats request at query time
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/component/QueryComponent.java
  solr/core/src/java/org/apache/solr/handler/component/ResponseBuilder.java
  solr/core/src/java/org/apache/solr/search/QueryCommand.java
  solr/core/src/java/org/apache/solr/search/QueryResultKey.java
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
  solr/core/src/test/org/apache/solr/core/QueryResultKeyTest.java
  solr/core/src/test/org/apache/solr/search/stats/TestDistribIDF.java
  solr/solr-ref-guide/modules/deployment-guide/pages/solrcloud-distributed-requests.adoc
  solr/solrj/src/java/org/apache/solr/common/params/CommonParams.java
Labels: documentation, client:solrj, tests, cat:search

#784 SOLR-16138: Throw when streaming and all cores are down
  solr/CHANGES.txt
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/CloudSolrStream.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/BadClusterTest.java
Labels: client:solrj, stale, tests

#2261 SOLR-17017: Reset the collection as part of running the example when starting Solr...
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
Labels: cat:cli

#2277 Clean up docker-faq.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/docker-faq.adoc
Labels: documentation

#2296 SOLR-17178: Introduce the "start" command in all the places where it is missing
  solr/core/src/test/org/apache/solr/cli/TestSolrCLIRunExample.java
  solr/example/README.md
  solr/solr-ref-guide/modules/configuration-guide/pages/configuring-solr-xml.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/managed-resources.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/package-manager-internals.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/package-manager.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/realtime-get.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/collection-management.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/docker-faq.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/enabling-ssl.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/installing-solr.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/kerberos-authentication-plugin.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/replica-management.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/shard-management.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/zookeeper-file-management.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/zookeeper-utilities.adoc
  solr/solr-ref-guide/modules/getting-started/pages/about-this-guide.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-five-minutes.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-solrcloud.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/analysis-screen.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/luke-request-handler.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/schema-api.adoc
  solr/solr-ref-guide/modules/query-guide/pages/dismax-query-parser.adoc
  solr/solr-ref-guide/modules/query-guide/pages/edismax-query-parser.adoc
  solr/solr-ref-guide/modules/query-guide/pages/faceting.adoc
  solr/solr-ref-guide/modules/query-guide/pages/query-elevation-component.adoc
  solr/solr-ref-guide/modules/query-guide/pages/result-grouping.adoc
  solr/solr-ref-guide/modules/query-guide/pages/spell-checking.adoc
  solr/solr-ref-guide/modules/query-guide/pages/stats-component.adoc
  solr/solr-ref-guide/modules/query-guide/pages/term-vector-component.adoc
  solr/solr-ref-guide/modules/query-guide/pages/terms-component.adoc
Labels: documentation, examples, tests, cat:cli

#2295 SOLR-17163: Only load the films.json file when running the bin/solr start -e films
  solr/core/src/java/org/apache/solr/cli/PostTool.java
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/core/src/test/org/apache/solr/cli/PostToolTest.java
Labels: tests, cat:cli

#2282 SOLR-17159: Remove the deprecated bin/post and bin/postlogs from Solr X
  solr/.gitattributes
  solr/bin/post
  solr/bin/postlogs
  solr/core/src/java/org/apache/solr/cli/SimplePostTool.java
  solr/core/src/test/org/apache/solr/cli/SimplePostToolTest.java
  solr/packaging/build.gradle
  solr/packaging/test/test_postlogs.bats
  solr/solr-ref-guide/modules/indexing-guide/pages/post-tool.adoc
Labels: documentation, tool:build, start-scripts, tests, cat:cli

#1114 Link Solr Operator for learning on Solr in Kubernetes, and better exp…
  dev-docs/running-in-docker.adoc
  solr/solr-ref-guide/modules/deployment-guide/deployment-nav.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/docker-faq.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/docker-networking.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-in-docker.adoc
Labels: documentation, stale

#2299 SOLR-17058: fix TestDistribIDF.testDisableDistribStats failure on LRUStatsCache
  solr/core/src/test/org/apache/solr/search/stats/TestDistribIDF.java
Labels: tests, cat:search

#2283 SOLR-17066: Switch "LB" clients away from core URLs
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/component/HttpShardHandlerFactory.java
  solr/core/src/test/org/apache/solr/cloud/SSLMigrationTest.java
  solr/core/src/test/org/apache/solr/handler/component/DistributedDebugComponentTest.java
  solr/core/src/test/org/apache/solr/handler/component/TestHttpShardHandlerFactory.java
  solr/core/src/test/org/apache/solr/update/DeleteByIdWithRouterFieldTest.java
  solr/solr-ref-guide/modules/deployment-guide/pages/solrj.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/CloudSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ConcurrentUpdateHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ConcurrentUpdateSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBHttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/UpdateRequest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/TestLBHttp2SolrClient.java
  solr/solrj/src/test/org/apache/solr/client/solrj/TestLBHttpSolrClient.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudHttp2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudSolrClientCacheTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpSolrClientConPoolTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBHttp2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBHttpSolrClientBadInputTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBHttpSolrClientBuilderTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBHttpSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBSolrClientTest.java
Labels: documentation, client:solrj, tests, cat:search, cat:cloud, cat:index

#2297 SOLR-16780: Prevent ZK subcommands from being run without the bin/solr zk prefix
  solr/bin/solr
  solr/bin/solr.cmd
  solr/packaging/test/test_zk.bats
Labels: start-scripts

#2301 SOLR-17181: Using apache commons implementation for wildcard matching for glob patterns
  solr/solrj/src/java/org/apache/solr/common/util/GlobPatternUtil.java
Labels: client:solrj

#2289 SOLR-17156: introducing RandomNoReverseMergePolicyFactory
  solr/core/src/test/org/apache/solr/cloud/NestedShardedAtomicUpdateTest.java
  solr/core/src/test/org/apache/solr/handler/JsonLoaderTest.java
  solr/core/src/test/org/apache/solr/response/transform/TestChildDocTransformer.java
  solr/core/src/test/org/apache/solr/response/transform/TestChildDocTransformerHierarchy.java
  solr/core/src/test/org/apache/solr/search/facet/TestJsonFacetsWithNestedObjects.java
  solr/core/src/test/org/apache/solr/search/join/BJQParserTest.java
  solr/core/src/test/org/apache/solr/search/join/TestCloudNestedDocsSort.java
  solr/core/src/test/org/apache/solr/search/join/TestNestedDocsSort.java
  solr/core/src/test/org/apache/solr/search/join/another/BJQFilterAccessibleTest.java
  solr/core/src/test/org/apache/solr/update/AddBlockUpdateTest.java
  solr/core/src/test/org/apache/solr/update/RootFieldTest.java
  solr/core/src/test/org/apache/solr/update/TestNestedUpdateProcessor.java
  solr/core/src/test/org/apache/solr/update/processor/AtomicUpdatesTest.java
  solr/core/src/test/org/apache/solr/update/processor/NestedAtomicUpdateTest.java
  solr/test-framework/src/java/org/apache/solr/util/RandomMergePolicy.java
  solr/test-framework/src/java/org/apache/solr/util/RandomNoReverseMergePolicyFactory.java
Labels: test-framework, tests, cat:search, cat:cloud, cat:index

#2294 added a few useful hits to build solr and run it locally
  README.md
Labels: documentation

#428 SOLR-14410: switch from SysV to systemd service
  solr/CHANGES.txt
  solr/bin/init.d/solr
  solr/bin/install_solr_service.sh
  solr/bin/systemd/solr.service
  solr/packaging/build.gradle
  solr/solr-ref-guide/modules/deployment-guide/pages/taking-solr-to-production.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
Labels: documentation, help wanted, tool:build, start-scripts, stale

#380 SOLR-15444 Document the SwedishMinimalStemmer
  solr/solr-ref-guide/modules/indexing-guide/pages/language-analysis.adoc
Labels: documentation

#2089 clarify .github/workflows display name: gradle precommit--->check w/ Java 11
  .github/workflows/gradle-precommit.yml
Labels: stale

#2317 SOLR-17184: Fixing sorting order of documents for comparison in PeerSyncTest to avoid random failures
  solr/core/src/test/org/apache/solr/update/PeerSyncTest.java
Labels: tests, cat:index

#2290 SOLR-17172: Add QueryLimits termination to existing heavy SearchComponent-s
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/MoreLikeThisHandler.java
  solr/core/src/java/org/apache/solr/handler/RequestHandlerBase.java
  solr/core/src/java/org/apache/solr/handler/component/ExpandComponent.java
  solr/core/src/java/org/apache/solr/handler/component/FacetComponent.java
  solr/core/src/java/org/apache/solr/handler/component/HighlightComponent.java
  solr/core/src/java/org/apache/solr/handler/component/MoreLikeThisComponent.java
  solr/core/src/java/org/apache/solr/handler/component/QueryComponent.java
  solr/core/src/java/org/apache/solr/handler/component/ResponseBuilder.java
  solr/core/src/java/org/apache/solr/handler/component/SearchHandler.java
  solr/core/src/java/org/apache/solr/handler/component/SpellCheckComponent.java
  solr/core/src/java/org/apache/solr/handler/component/SuggestComponent.java
  solr/core/src/java/org/apache/solr/request/SolrRequestInfo.java
  solr/core/src/java/org/apache/solr/response/SolrQueryResponse.java
  solr/core/src/java/org/apache/solr/search/QueryLimits.java
  solr/core/src/java/org/apache/solr/search/QueryLimitsExceededException.java
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
  solr/core/src/java/org/apache/solr/search/facet/FacetModule.java
  solr/core/src/java/org/apache/solr/search/grouping/distributed/responseprocessor/SearchGroupShardResponseProcessor.java
  solr/core/src/java/org/apache/solr/search/grouping/distributed/responseprocessor/TopGroupsShardResponseProcessor.java
  solr/core/src/java/org/apache/solr/spelling/SpellCheckCollator.java
  solr/core/src/java/org/apache/solr/util/TestInjection.java
  solr/core/src/test/org/apache/solr/TestGroupingSearch.java
  solr/core/src/test/org/apache/solr/search/CallerSpecificQueryLimit.java
  solr/core/src/test/org/apache/solr/search/TestQueryLimits.java
  solr/modules/clustering/src/java/org/apache/solr/handler/clustering/ClusteringComponent.java
  solr/solr-ref-guide/modules/query-guide/pages/common-query-parameters.adoc
  solr/solrj/src/java/org/apache/solr/client/solrj/SolrQuery.java
  solr/solrj/src/java/org/apache/solr/common/params/CommonParams.java
Labels: documentation, client:solrj, tests, cat:search, module:clustering

#2319 Update tutorial-five-minutes.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-five-minutes.adoc
Labels: documentation

#2318 Tests: JettyConfig.Builder.sslConfig now self inits
  solr/core/src/test/org/apache/solr/TestSolrCoreProperties.java
  solr/core/src/test/org/apache/solr/cloud/ConcurrentCreateRoutedAliasTest.java
  solr/core/src/test/org/apache/solr/cloud/TestConfigSetsAPIExclusivity.java
  solr/core/src/test/org/apache/solr/cloud/TestConfigSetsAPIZkFailure.java
  solr/core/src/test/org/apache/solr/cloud/TestRequestForwarding.java
  solr/core/src/test/org/apache/solr/cloud/TestWaitForStateWithJettyShutdowns.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/ConcurrentDeleteAndCreateCollectionTest.java
  solr/core/src/test/org/apache/solr/handler/PingRequestHandlerTest.java
  solr/core/src/test/org/apache/solr/handler/V2StandaloneTest.java
  solr/core/src/test/org/apache/solr/handler/admin/CoreAdminHandlerTest.java
  solr/core/src/test/org/apache/solr/handler/admin/DaemonStreamApiTest.java
  solr/core/src/test/org/apache/solr/handler/component/SearchHandlerTest.java
  solr/core/src/test/org/apache/solr/response/TestRawTransformer.java
  solr/core/src/test/org/apache/solr/search/stats/TestDistribIDF.java
  solr/core/src/test/org/apache/solr/security/BasicAuthStandaloneTest.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/security/hadoop/TestSolrCloudWithDelegationTokens.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/security/hadoop/TestSolrCloudWithSecureImpersonation.java
  solr/modules/ltr/src/test/org/apache/solr/ltr/TestLTROnSolrCloud.java
  solr/solrj/src/test/org/apache/solr/client/solrj/TestLBHttp2SolrClient.java
  solr/solrj/src/test/org/apache/solr/client/solrj/TestLBHttpSolrClient.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/BasicHttpSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/ConcurrentUpdateHttp2SolrClientBadInputTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/ConcurrentUpdateHttp2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/ConcurrentUpdateSolrClientBadInputTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/ConcurrentUpdateSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientProxyTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpSolrClientBadInputTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBHttpSolrClientBadInputTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/TestCloudSolrClientConnections.java
  solr/test-framework/src/java/org/apache/solr/BaseDistributedSearchTestCase.java
  solr/test-framework/src/java/org/apache/solr/SolrJettyTestBase.java
  solr/test-framework/src/java/org/apache/solr/SolrTestCaseHS.java
  solr/test-framework/src/java/org/apache/solr/SolrTestCaseJ4.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractFullDistribZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/MiniSolrCloudCluster.java
  solr/test-framework/src/java/org/apache/solr/embedded/JettyConfig.java
  solr/test-framework/src/java/org/apache/solr/util/SolrJettyTestRule.java
  solr/test-framework/src/test/org/apache/solr/embedded/TestJettySolrRunner.java
Labels: test-framework, client:solrj, module:hadoop-auth, module:ltr, tests, cat:search, cat:cloud, cat:security
