Repository apache/solr, pull requests merged in 2024-07, with the labels that each got.

#2524 Refactor: QueryResult: don't provide to SolrIndexSearcher
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/MoreLikeThisHandler.java
  solr/core/src/java/org/apache/solr/handler/component/QueryComponent.java
  solr/core/src/java/org/apache/solr/search/QueryCommand.java
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
  solr/core/src/java/org/apache/solr/util/SolrPluginUtils.java
  solr/core/src/test/org/apache/solr/search/TestSearchPerf.java
Labels: tests, cat:search

#2547 SOLR-17358: Escape + symbol to render documentation correctly
  solr/solr-ref-guide/modules/query-guide/pages/standard-query-parser.adoc
Labels: documentation

#2534 SOLR-17347: Remove ENV storage/retrieval in EnvUtils
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/CreateCollectionCmd.java
  solr/core/src/test/org/apache/solr/cli/PostToolTest.java
  solr/modules/opentelemetry/src/java/org/apache/solr/opentelemetry/OtelTracerConfigurator.java
  solr/solrj/src/java/org/apache/solr/common/util/EnvUtils.java
  solr/solrj/src/test/org/apache/solr/common/util/EnvUtilsTest.java
  solr/test-framework/src/java/org/apache/solr/cloud/SolrCloudTestCase.java
Labels: test-framework, client:solrj, module:opentelemetry, tests, cat:cloud, cat:cli, cat:api

#2522 SOLR-17333: Various rate limiting fixes
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/RateLimiterConfig.java
  solr/core/src/java/org/apache/solr/servlet/QueryRateLimiter.java
  solr/core/src/java/org/apache/solr/servlet/RateLimitManager.java
  solr/core/src/java/org/apache/solr/servlet/RequestRateLimiter.java
  solr/core/src/java/org/apache/solr/servlet/ServletUtils.java
  solr/core/src/test/org/apache/solr/servlet/TestRequestRateLimiter.java
  solr/solr-ref-guide/modules/deployment-guide/pages/rate-limiters.adoc
Labels: documentation, jetty-server, tests

#2405 SOLR-10654: Introduce output of Prometheus metrics directly from Solr
  solr/CHANGES.txt
  solr/core/build.gradle
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/handler/admin/MetricsHandler.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/SolrMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/SolrNoOpMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/SolrPrometheusExporter.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/PrometheusCoreExporterInfo.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreCacheMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreHandlerMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreHighlighterMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreIndexMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreSearcherMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreTlogMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrPrometheusCoreExporter.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/package-info.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jetty/SolrJettyDispatchesMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jetty/SolrJettyMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jetty/SolrJettyReqRespMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jetty/SolrPrometheusJettyExporter.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jetty/package-info.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jvm/PrometheusJvmExporterInfo.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jvm/SolrJvmBuffersMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jvm/SolrJvmGcMetrics.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jvm/SolrJvmMemoryMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jvm/SolrJvmMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jvm/SolrJvmOsMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jvm/SolrPrometheusJvmExporter.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/jvm/package-info.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/node/PrometheusNodeExporterInfo.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/node/SolrNodeContainerMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/node/SolrNodeHandlerMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/node/SolrNodeMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/node/SolrPrometheusNodeExporter.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/node/package-info.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/package-info.java
  solr/core/src/java/org/apache/solr/response/PrometheusResponseWriter.java
  solr/core/src/test-files/prometheus/solr-prometheus-output.txt
  solr/core/src/test/org/apache/solr/handler/admin/MetricsHandlerTest.java
  solr/core/src/test/org/apache/solr/metrics/SolrCoreMetricTest.java
  solr/core/src/test/org/apache/solr/metrics/SolrPrometheusExporterTest.java
  solr/core/src/test/org/apache/solr/response/TestPrometheusResponseWriter.java
  solr/licenses/prometheus-metrics-exposition-formats-1.1.0.jar.sha1
  solr/licenses/prometheus-metrics-exposition-formats-LICENSE-ASL.txt
  solr/licenses/prometheus-metrics-exposition-formats-NOTICE.txt
  solr/licenses/prometheus-metrics-model-1.1.0.jar.sha1
  solr/licenses/prometheus-metrics-model-LICENSE-ASL.txt
  solr/licenses/prometheus-metrics-model-NOTICE.txt
  solr/solr-ref-guide/modules/deployment-guide/pages/metrics-reporting.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/monitoring-with-prometheus-and-grafana.adoc
  versions.lock
Labels: documentation, dependencies, tool:build, tests, cat:search, cat:metrics

#2551 SOLR-17349: (adjusted) SolrDocumentFetcher should always skip lazy field loading overhead if documentCache==null
  solr/core/src/java/org/apache/solr/search/SolrDocumentFetcher.java
  solr/core/src/java/org/apache/solr/util/SolrPluginUtils.java
Labels: cat:search

#2539 SOLR-17321: Fix TestSolrCoreSnapshots.testBackupRestore
  solr/test-framework/src/java/org/apache/solr/handler/BackupRestoreUtils.java
Labels: test-framework

#2533 SOLR-17346: Synchronise stopwords from snowball with those in lucene
  solr/CHANGES.txt
  solr/server/solr/configsets/_default/conf/lang/stopwords_da.txt
  solr/server/solr/configsets/_default/conf/lang/stopwords_de.txt
  solr/server/solr/configsets/_default/conf/lang/stopwords_es.txt
  solr/server/solr/configsets/_default/conf/lang/stopwords_fi.txt
  solr/server/solr/configsets/_default/conf/lang/stopwords_fr.txt
  solr/server/solr/configsets/_default/conf/lang/stopwords_hu.txt
  solr/server/solr/configsets/_default/conf/lang/stopwords_it.txt
  solr/server/solr/configsets/_default/conf/lang/stopwords_nl.txt
  solr/server/solr/configsets/_default/conf/lang/stopwords_no.txt
  solr/server/solr/configsets/_default/conf/lang/stopwords_pt.txt
  solr/server/solr/configsets/_default/conf/lang/stopwords_ru.txt
  solr/server/solr/configsets/_default/conf/lang/stopwords_sv.txt
Labels: configs

#2550 SOLR-16198: Introduce tabbed blocks again
  dev-docs/ref-guide/asciidoc-syntax.adoc
  solr/CHANGES.txt
  solr/solr-ref-guide/build.gradle
  solr/solr-ref-guide/modules/configuration-guide/pages/collections-api.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/config-api.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/config-sets.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/configsets-api.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/coreadmin-api.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/implicit-requesthandlers.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/property-substitution.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/realtime-get.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/alias-management.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/backup-restore.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/basic-authentication-plugin.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/cluster-node-management.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/collection-management.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/configuring-logging.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/enabling-ssl.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/jwt-authentication-plugin.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/monitoring-with-prometheus-and-grafana.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/replica-management.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/shard-management.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/task-management.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/zookeeper-access-control.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/zookeeper-ensemble.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-films.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-paramsets.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-solrcloud.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-vectors.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/analyzers.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/charfilters.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/filters.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/indexing-nested-documents.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/language-analysis.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/schema-api.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/tokenizers.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/transforming-and-indexing-custom-json.adoc
  solr/solr-ref-guide/modules/query-guide/pages/dense-vector-search.adoc
  solr/solr-ref-guide/modules/query-guide/pages/json-facet-api.adoc
  solr/solr-ref-guide/modules/query-guide/pages/json-faceting-domain-changes.adoc
  solr/solr-ref-guide/modules/query-guide/pages/json-query-dsl.adoc
  solr/solr-ref-guide/modules/query-guide/pages/json-request-api.adoc
  solr/solr-ref-guide/modules/query-guide/pages/morelikethis.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-7.adoc
  solr/solr-ref-guide/playbook.template.yml
  solr/solr-ref-guide/ui-src/css/site.css
  solr/solr-ref-guide/ui-src/css/tabs.css
  solr/solr-ref-guide/ui-src/partials/footer-content.hbs
Labels: documentation, tool:build

#2555 ref doc format fix on backup page
  solr/solr-ref-guide/modules/deployment-guide/pages/collection-management.adoc
Labels: documentation

#2554 [ref guide] Fix description of field backupName for backup
  solr/solr-ref-guide/modules/deployment-guide/pages/collection-management.adoc
Labels: documentation

#2304 SOLR-17160: Time based tracking of core admin requests with Caffeine cache
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/admin/CoreAdminHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/api/GetNodeCommandStatus.java
  solr/core/src/test/org/apache/solr/handler/admin/CoreAdminHandlerTest.java
  solr/core/src/test/org/apache/solr/handler/admin/api/GetNodeCommandStatusTest.java
  solr/solrj/src/java/org/apache/solr/common/util/EnvUtils.java
Labels: client:solrj, tests

#2530 Review org.apache.solr.client.solrj.io.stream and responding to some warnings.
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/CloudAuthStreamTest.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/JDBCStreamTest.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/ParallelFacetStreamOverAliasTest.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/SelectWithEvaluatorsTest.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/StreamDecoratorTest.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/StreamExecutorHelperTest.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/StreamExpressionTest.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/StreamExpressionToExpressionTest.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/StreamingTest.java
Labels: client:solrj, tests

#2545 SOLR-17357: Improve SolrCLI tool --help printout
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/java/org/apache/solr/cli/Tool.java
  solr/core/src/test/org/apache/solr/cli/AuthToolTest.java
  solr/core/src/test/org/apache/solr/cli/CreateToolTest.java
  solr/core/src/test/org/apache/solr/cli/DeleteToolTest.java
  solr/core/src/test/org/apache/solr/cli/HealthcheckToolTest.java
  solr/core/src/test/org/apache/solr/cli/PackageToolTest.java
  solr/core/src/test/org/apache/solr/cli/PostToolTest.java
  solr/core/src/test/org/apache/solr/cli/SolrCLIZkToolsTest.java
  solr/core/src/test/org/apache/solr/cli/TestExportTool.java
  solr/core/src/test/org/apache/solr/cli/TestSolrCLIRunExample.java
  solr/core/src/test/org/apache/solr/cli/ZkSubcommandsTest.java
  solr/core/src/test/org/apache/solr/cloud/SolrCloudExampleTest.java
  solr/core/src/test/org/apache/solr/security/BasicAuthIntegrationTest.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractDistribZkTestBase.java
Labels: test-framework, tests, cat:cloud, cat:cli, cat:security

#2536 SOLR-10255 Add support for docValues to solr.BinaryField
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/schema/BinaryField.java
  solr/core/src/java/org/apache/solr/search/SolrDocumentFetcher.java
  solr/core/src/test-files/solr/collection1/conf/bad-schema-unsupported-docValues.xml
  solr/core/src/test-files/solr/collection1/conf/schema-binaryfield.xml
  solr/core/src/test/org/apache/solr/schema/TestBinaryField.java
Labels: tests, cat:search, cat:schema

#2557 SOLR-17367 - org.apache.solr.cli.PostTool is ignoring -params option
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/PostTool.java
  solr/core/src/test/org/apache/solr/cli/PostToolTest.java
Labels: tests, cat:cli

#2579 SOLR-17336: Eliminate linux/window tabs for bin/solr post.
  solr/solr-ref-guide/modules/deployment-guide/pages/enabling-ssl.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-films.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-paramsets.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-techproducts.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-vectors.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/indexing-with-tika.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/post-tool.adoc
  solr/solr-ref-guide/modules/query-guide/pages/spatial-search.adoc
  solr/solr-ref-guide/modules/query-guide/pages/tagger-handler.adoc
Labels: documentation

#2514 Don't create a Thread when there is no thread
  solr/core/src/java/org/apache/solr/cloud/SyncStrategy.java
Labels: cat:cloud

#2508 SOLR-13350: multi-threaded search: replace cached with fixed threadpool
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/solrj/src/java/org/apache/solr/common/util/ExecutorUtil.java
Labels: client:solrj

#2569 SOLR-13350: multi-threaded search: default to 'available processors' thread count
  solr/bin/solr
  solr/core/src/java/org/apache/solr/core/NodeConfig.java
  solr/server/solr/solr.xml
  solr/solr-ref-guide/modules/configuration-guide/pages/configuring-solr-xml.adoc
Labels: documentation, configs, start-scripts

#2580 SOLR-15831: Refactor bin/solr and bin/solr.cmd to delegate args parsing and usage help to SolrCLI
  solr/CHANGES.txt
  solr/bin/solr
  solr/bin/solr.cmd
  solr/core/src/java/org/apache/solr/cli/AuthTool.java
  solr/core/src/java/org/apache/solr/cli/DeleteTool.java
  solr/core/src/java/org/apache/solr/cli/PackageTool.java
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageManager.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageUtils.java
  solr/core/src/java/org/apache/solr/packagemanager/RepositoryManager.java
  solr/packaging/test/test_help.bats
  solr/packaging/test/test_packages.bats
Labels: start-scripts, cat:cli, cat:packagemanager

#2506 SOLR-17322: Make RankQuery.getTopDocsCollector use covariant generic types
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/search/AbstractReRankQuery.java
  solr/core/src/java/org/apache/solr/search/ExportQParserPlugin.java
  solr/core/src/java/org/apache/solr/search/RankQuery.java
  solr/core/src/test/org/apache/solr/search/RankQueryTest.java
  solr/core/src/test/org/apache/solr/search/RankQueryTestPlugin.java
  solr/core/src/test/org/apache/solr/search/SolrIndexSearcherTest.java
Labels: tests, cat:search

#2594 SOLR-17337: Show proper distributed stage id
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/component/DebugComponent.java
  solr/core/src/test/org/apache/solr/handler/component/DebugComponentTest.java
Labels: tests, cat:search

#2585 Delegate Collection Property Management to CollectionPropertiesZkStateReader
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/CollectionPropertiesZkStateReader.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkStateReader.java
Labels: client:solrj

#2601 SOLR-12963: Default uninvertible=false in schema version 1.7
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/schema/FieldType.java
  solr/core/src/java/org/apache/solr/schema/SortableTextField.java
  solr/core/src/java/org/apache/solr/uninverting/UninvertingReader.java
  solr/core/src/test-files/solr/collection1/conf/schema-collate.xml
  solr/core/src/test-files/solr/collection1/conf/schema-custom-field.xml
  solr/core/src/test-files/solr/collection1/conf/schema-distributed-missing-sort.xml
  solr/core/src/test-files/solr/collection1/conf/schema-docValues.xml
  solr/core/src/test-files/solr/collection1/conf/schema-docValuesFaceting.xml
  solr/core/src/test-files/solr/collection1/conf/schema-docValuesJoin.xml
  solr/core/src/test-files/solr/collection1/conf/schema-id-and-version-fields-only.xml
  solr/core/src/test-files/solr/collection1/conf/schema-multiword-synonyms.xml
  solr/core/src/test-files/solr/collection1/conf/schema-numeric.xml
  solr/core/src/test-files/solr/collection1/conf/schema-pseudo-fields.xml
  solr/core/src/test-files/solr/collection1/conf/schema-rest.xml
  solr/core/src/test-files/solr/collection1/conf/schema-sorting-text.xml
  solr/core/src/test-files/solr/collection1/conf/schema-spatial.xml
  solr/core/src/test-files/solr/collection1/conf/schema_latest.xml
  solr/core/src/test-files/solr/configsets/cloud-dynamic/conf/schema.xml
  solr/core/src/test-files/solr/configsets/cloud-managed/conf/managed-schema.xml
  solr/core/src/test-files/solr/configsets/cloud-minimal/conf/schema.xml
  solr/core/src/test-files/solr/configsets/dedup/conf/schema.xml
  solr/core/src/test-files/solr/configsets/different-stopwords/collectionA/conf/schema.xml
  solr/core/src/test-files/solr/configsets/different-stopwords/collectionB/conf/schema.xml
  solr/core/src/test-files/solr/configsets/doc-expiry/conf/schema.xml
  solr/core/src/test-files/solr/configsets/exitable-directory/conf/schema.xml
  solr/core/src/test/org/apache/solr/handler/designer/TestSchemaDesignerAPI.java
  solr/core/src/test/org/apache/solr/rest/schema/TestFieldResource.java
  solr/core/src/test/org/apache/solr/schema/SchemaVersionSpecificBehaviorTest.java
  solr/modules/ltr/src/test-files/solr/collection1/conf/schema.xml
  solr/modules/sql/src/test-files/solr/configsets/sql/conf/schema.xml
  solr/prometheus-exporter/src/test-files/solr/collection1/conf/managed-schema.xml
  solr/server/solr/configsets/_default/conf/managed-schema.xml
  solr/server/solr/configsets/sample_techproducts_configs/conf/managed-schema.xml
  solr/solr-ref-guide/modules/indexing-guide/pages/field-type-definitions-and-properties.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-9.adoc
  solr/solrj-streaming/src/test-files/solrj/solr/configsets/ml/conf/schema.xml
  solr/solrj-streaming/src/test-files/solrj/solr/configsets/streaming/conf/schema.xml
  solr/solrj/src/test-files/solrj/solr/collection1/conf/schema-replication1.xml
  solr/solrj/src/test-files/solrj/solr/collection1/conf/schema-sql.xml
  solr/solrj/src/test-files/solrj/solr/collection1/conf/schema.xml
  solr/solrj/src/test-files/solrj/solr/configsets/ml/conf/schema.xml
  solr/solrj/src/test-files/solrj/solr/configsets/shared/conf/schema.xml
  solr/solrj/src/test-files/solrj/solr/configsets/streaming/conf/schema.xml
  solr/solrj/src/test-files/solrj/solr/configsets/tracking-updates/conf/schema.xml
  solr/solrj/src/test-files/solrj/solr/multicore/core0/conf/schema.xml
  solr/solrj/src/test-files/solrj/solr/multicore/core1/conf/schema.xml
  solr/test-framework/src/test-files/solr/collection1/conf/schema.xml
Labels: documentation, configs, test-framework, client:solrj, module:ltr, prometheus-exporter, module:sql, tests, cat:schema

#2595 SOLR-17298 - ThreadCpuTimer safe for multi-threaded search
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/handler/RequestHandlerBase.java
  solr/core/src/java/org/apache/solr/request/SolrRequestInfo.java
  solr/core/src/java/org/apache/solr/search/CpuAllowedLimit.java
  solr/core/src/java/org/apache/solr/search/MultiThreadedSearcher.java
  solr/core/src/java/org/apache/solr/search/QueryLimit.java
  solr/core/src/java/org/apache/solr/search/QueryLimits.java
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
  solr/core/src/java/org/apache/solr/search/TimeAllowedLimit.java
  solr/core/src/java/org/apache/solr/util/TestInjection.java
  solr/core/src/java/org/apache/solr/util/ThreadCpuTimer.java
  solr/core/src/test/org/apache/solr/search/CallerSpecificQueryLimit.java
  solr/core/src/test/org/apache/solr/search/TestCpuAllowedLimit.java
  solr/solrj/src/java/org/apache/solr/common/util/ExecutorUtil.java
Labels: client:solrj, tests, cat:search

#2600 Produce test report for integration tests
  solr/packaging/build.gradle
Labels: tool:build

#2589 SOLR-13350, SOLR-17298: multi-threaded search: revert TestFiltering.java change
  solr/core/src/test/org/apache/solr/search/TestFiltering.java
Labels: tests, cat:search

#2586 [SOLR-17368] TestPrometheusResponseWriter redesign
  solr/core/src/test-files/prometheus/solr-prometheus-output.txt
  solr/core/src/test/org/apache/solr/response/TestPrometheusResponseWriter.java
Labels: tests, cat:search
