Repository apache/solr, pull requests merged in 2024-11, with the labels that each got.

#2808 SOLR-17524: Call out a few changes in 10.
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
Labels: documentation

#2820 SOLR-17352: Remove deprecated options from CLI
  solr/CHANGES.txt
  solr/bin/solr
  solr/bin/solr.cmd
  solr/bin/solr.in.cmd
  solr/core/src/java/org/apache/solr/cli/ApiTool.java
  solr/core/src/java/org/apache/solr/cli/AssertTool.java
  solr/core/src/java/org/apache/solr/cli/AuthTool.java
  solr/core/src/java/org/apache/solr/cli/ClusterTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigSetDownloadTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigSetUploadTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigTool.java
  solr/core/src/java/org/apache/solr/cli/CreateTool.java
  solr/core/src/java/org/apache/solr/cli/DeleteTool.java
  solr/core/src/java/org/apache/solr/cli/ExportTool.java
  solr/core/src/java/org/apache/solr/cli/HealthcheckTool.java
  solr/core/src/java/org/apache/solr/cli/LinkConfigTool.java
  solr/core/src/java/org/apache/solr/cli/PackageTool.java
  solr/core/src/java/org/apache/solr/cli/PostLogsTool.java
  solr/core/src/java/org/apache/solr/cli/PostTool.java
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotCreateTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotDeleteTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotDescribeTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotExportTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotListTool.java
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/java/org/apache/solr/cli/StatusTool.java
  solr/core/src/java/org/apache/solr/cli/UpdateACLTool.java
  solr/core/src/java/org/apache/solr/cli/ZkCpTool.java
  solr/core/src/java/org/apache/solr/cli/ZkLsTool.java
  solr/core/src/java/org/apache/solr/cli/ZkMkrootTool.java
  solr/core/src/java/org/apache/solr/cli/ZkMvTool.java
  solr/core/src/java/org/apache/solr/cli/ZkRmTool.java
  solr/core/src/test/org/apache/solr/cli/CreateToolTest.java
  solr/core/src/test/org/apache/solr/cli/DeleteToolTest.java
  solr/core/src/test/org/apache/solr/cli/PackageToolTest.java
  solr/packaging/test/test_bats.bats
  solr/packaging/test/test_config.bats
  solr/packaging/test/test_post.bats
  solr/packaging/test/test_postlogs.bats
  solr/packaging/test/test_prometheus.bats
  solr/packaging/test/test_snapshots.bats
  solr/packaging/test/test_ssl.bats
  solr/packaging/test/test_version.bats
  solr/packaging/test/test_zk.bats
  solr/prometheus-exporter/bin/solr-exporter
  solr/prometheus-exporter/bin/solr-exporter.cmd
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/exporter/SolrExporter.java
  solr/solr-ref-guide/modules/deployment-guide/pages/enabling-ssl.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/monitoring-with-prometheus-and-grafana.adoc
Labels: documentation, start-scripts, prometheus-exporter, tests, cat:cli

#2795 SOLR-17530: Prometheus regex cloud pattern fix for core names
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/PrometheusCoreFormatterInfo.java
  solr/core/src/test/org/apache/solr/metrics/SolrPrometheusFormatterTest.java
Labels: tests, cat:metrics

#2826 SOLR-17534 ClusterState.getCollectionNames
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/DeleteTool.java
  solr/core/src/java/org/apache/solr/handler/admin/ColStatus.java
  solr/core/src/test/org/apache/solr/cloud/ClusterStateMockUtilTest.java
  solr/core/src/test/org/apache/solr/cloud/ClusterStateTest.java
  solr/core/src/test/org/apache/solr/cloud/OverseerTest.java
  solr/core/src/test/org/apache/solr/cloud/ReindexCollectionTest.java
  solr/modules/sql/src/java/org/apache/solr/handler/sql/SolrSchema.java
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/scraper/SolrCloudScraper.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/sql/JdbcTest.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkStateReader.java
  solr/solrj/src/java/org/apache/solr/common/cloud/ClusterState.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractFullDistribZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/MiniSolrCloudCluster.java
Labels: test-framework, client:solrj, prometheus-exporter, module:sql, tests, cat:cloud, cat:cli

#2762 SOLR-17456: TransactionLog ctor integrity
  solr/core/src/java/org/apache/solr/update/TransactionLog.java
Labels: cat:index

#2774 SOLR-17390: EmbeddedSolrServer now considers the ResponseParser
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/client/solrj/embedded/EmbeddedSolrServer.java
  solr/core/src/java/org/apache/solr/request/SolrQueryRequest.java
  solr/core/src/java/org/apache/solr/servlet/HttpSolrCall.java
  solr/core/src/java/org/apache/solr/servlet/SolrRequestParsers.java
  solr/core/src/test/org/apache/solr/response/TestRawTransformer.java
  solr/solrj/src/java/org/apache/solr/client/solrj/SolrRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/NoOpResponseParser.java
Labels: jetty-server, client:solrj, tests, cat:search

#2811 SOLR-17256: Remove usages of deprecated SolrRequest.setBasePath
  solr/benchmark/src/java/org/apache/solr/bench/MiniClusterState.java
  solr/benchmark/src/java/org/apache/solr/bench/index/CloudIndexing.java
  solr/benchmark/src/java/org/apache/solr/bench/search/FilterCache.java
  solr/benchmark/src/java/org/apache/solr/bench/search/JsonFaceting.java
  solr/benchmark/src/java/org/apache/solr/bench/search/NumericSearch.java
  solr/benchmark/src/java/org/apache/solr/bench/search/QueryResponseWriters.java
  solr/benchmark/src/java/org/apache/solr/bench/search/SimpleSearch.java
  solr/benchmark/src/test/org/apache/solr/bench/MiniClusterBenchStateTest.java
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/java/org/apache/solr/handler/IndexFetcher.java
  solr/core/src/java/org/apache/solr/update/PeerSyncWithLeader.java
  solr/core/src/java/org/apache/solr/update/SolrCmdDistributor.java
  solr/core/src/java/org/apache/solr/update/processor/DistributedUpdateProcessor.java
  solr/core/src/test/org/apache/solr/handler/ReplicationTestHelper.java
  solr/core/src/test/org/apache/solr/handler/TestUserManagedReplicationWithAuth.java
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/impl/SolrClientNodeStateProvider.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/NodesSysPropsCacher.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ConcurrentUpdateHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/HealthCheckRequest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpJdkSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpSolrClientTestBase.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBHttp2SolrClientTest.java
Labels: client:solrj, tests, cat:cloud, cat:index

#2832 SOLR-17538: CloudHttp2SolrClient needs a custom ClusterStateProvider option
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/test/org/apache/solr/cloud/OverseerTest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/CloudHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/CloudSolrClient.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudHttp2SolrClientBuilderTest.java
Labels: client:solrj, tests, cat:cloud

#2848 SOLR-17545: Upgrade to Gradle 8.10
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/WrapperDownloader.java
  gradle/documentation/render-javadoc.gradle
  gradle/globals.gradle
  gradle/node.gradle
  gradle/solr/packaging.gradle
  gradle/testing/alternative-jdk-support.gradle
  gradle/testing/beasting.gradle
  gradle/testing/profiling.gradle
  gradle/testing/randomization.gradle
  gradle/testing/slowest-tests-at-end.gradle
  gradle/validation/check-environment.gradle
  gradle/validation/jar-checks.gradle
  gradle/validation/spotless.gradle
  gradle/wrapper/gradle-wrapper.jar.sha256
  gradle/wrapper/gradle-wrapper.jar.version
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle
Labels: tool:build

#2725 SOLR-17544: Prevent conflicting connection flags from being used via OptionGroup
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/ApiTool.java
  solr/core/src/java/org/apache/solr/cli/AssertTool.java
  solr/core/src/java/org/apache/solr/cli/AuthTool.java
  solr/core/src/java/org/apache/solr/cli/ClusterTool.java
  solr/core/src/java/org/apache/solr/cli/CommonCLIOptions.java
  solr/core/src/java/org/apache/solr/cli/ConfigSetDownloadTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigSetUploadTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigTool.java
  solr/core/src/java/org/apache/solr/cli/CreateTool.java
  solr/core/src/java/org/apache/solr/cli/DeleteTool.java
  solr/core/src/java/org/apache/solr/cli/ExportTool.java
  solr/core/src/java/org/apache/solr/cli/HealthcheckTool.java
  solr/core/src/java/org/apache/solr/cli/LinkConfigTool.java
  solr/core/src/java/org/apache/solr/cli/PackageTool.java
  solr/core/src/java/org/apache/solr/cli/PostLogsTool.java
  solr/core/src/java/org/apache/solr/cli/PostTool.java
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotCreateTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotDeleteTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotDescribeTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotExportTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotListTool.java
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/java/org/apache/solr/cli/StatusTool.java
  solr/core/src/java/org/apache/solr/cli/Tool.java
  solr/core/src/java/org/apache/solr/cli/ToolBase.java
  solr/core/src/java/org/apache/solr/cli/UpdateACLTool.java
  solr/core/src/java/org/apache/solr/cli/VersionTool.java
  solr/core/src/java/org/apache/solr/cli/ZkCpTool.java
  solr/core/src/java/org/apache/solr/cli/ZkLsTool.java
  solr/core/src/java/org/apache/solr/cli/ZkMkrootTool.java
  solr/core/src/java/org/apache/solr/cli/ZkMvTool.java
  solr/core/src/java/org/apache/solr/cli/ZkRmTool.java
  solr/core/src/java/org/apache/solr/cli/ZkToolHelp.java
  solr/core/src/test/org/apache/solr/cli/SolrCLITest.java
  solr/packaging/test/test_create.bats
  solr/packaging/test/test_status.bats
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/exporter/SolrExporter.java
Labels: prometheus-exporter, tests, cat:cli

#2737 SOLR-17453: Leverage waitForState() instead of busy waiting
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/api/collections/CreateCollectionCmd.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/MigrateCmd.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/MoveReplicaCmd.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/ReindexCollectionCmd.java
  solr/core/src/java/org/apache/solr/servlet/HttpSolrCall.java
  solr/core/src/test/org/apache/solr/cloud/ChaosMonkeyNothingIsSafeWithPullReplicasTest.java
  solr/core/src/test/org/apache/solr/cloud/ChaosMonkeySafeLeaderWithPullReplicasTest.java
  solr/core/src/test/org/apache/solr/cloud/DeleteReplicaTest.java
  solr/core/src/test/org/apache/solr/cloud/HttpPartitionTest.java
  solr/core/src/test/org/apache/solr/cloud/LeaderFailureAfterFreshStartTest.java
  solr/core/src/test/org/apache/solr/cloud/PeerSyncReplicationTest.java
  solr/core/src/test/org/apache/solr/cloud/TestPullReplica.java
  solr/core/src/test/org/apache/solr/cloud/TestPullReplicaErrorHandling.java
  solr/core/src/test/org/apache/solr/cloud/TestRebalanceLeaders.java
  solr/core/src/test/org/apache/solr/cloud/TestTlogReplica.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/ShardSplitTest.java
  solr/modules/hdfs/src/test/org/apache/solr/hdfs/cloud/SharedFileSystemAutoReplicaFailoverTest.java
  solr/modules/hdfs/src/test/org/apache/solr/hdfs/cloud/StressHdfsTest.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractChaosMonkeyNothingIsSafeTestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractChaosMonkeySafeLeaderTestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractDistribZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractFullDistribZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractUnloadDistributedZkTestBase.java
Labels: test-framework, jetty-server, module:hdfs, tests, cat:cloud, cat:api

#2827 Update references to ASF Jenkins jobs
  README.md
  dev-docs/asf-jenkins.adoc
Labels: documentation

#2834 SOLR-17535 ClusterState.collectionStream() in lieu of getCollectionStates()
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerConfigSetHelper.java
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/impl/SolrClientNodeStateProvider.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkStateReader.java
  solr/solrj/src/java/org/apache/solr/common/cloud/ClusterState.java
Labels: client:solrj

#2761 SOLR-17495: Change CLI delete command to not delete configs by default.
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/DeleteTool.java
  solr/core/src/test/org/apache/solr/cli/DeleteToolTest.java
  solr/packaging/test/bats_helper.bash
  solr/packaging/test/test_basic_auth.bats
  solr/packaging/test/test_delete_collection.bats
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
Labels: documentation, tests, cat:cli

#2822 SOLR-17533: Rearrange and cleanup solr.cmd
  solr/bin/solr.cmd
Labels: start-scripts

#2855 SOLR-16116: Fix various issues with Curator
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/java/org/apache/solr/cloud/ZkShardTerms.java
  solr/core/src/test/org/apache/solr/cloud/DistributedQueueTest.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/BeforeReconnect.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/OnDisconnect.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/OnReconnect.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/SolrZkClient.java
Labels: client:solrj, tests, cat:cloud

#2854 SOLR-17535: Deprecate ClusterState.forEachCollection
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cluster/events/impl/CollectionsRepairEventListener.java
  solr/core/src/test/org/apache/solr/cloud/ReindexCollectionTest.java
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/impl/SolrClientNodeStateProvider.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/LazySolrCluster.java
  solr/solrj/src/java/org/apache/solr/common/cloud/ClusterState.java
Labels: client:solrj, tests, cat:cloud

#2852 SOLR-17256: Nuke SolrRequest set/getBasePath in 10
  solr/CHANGES.txt
  solr/solr-ref-guide/modules/deployment-guide/pages/solrj.adoc
  solr/solrj/src/java/org/apache/solr/client/solrj/SolrRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClientBase.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/RequestWriter.java
  solr/solrj/src/java/org/apache/solr/client/solrj/util/ClientUtils.java
  solr/solrj/src/test/org/apache/solr/client/solrj/SolrExampleCborTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/util/ClientUtilsTest.java
Labels: documentation, client:solrj, tests

#2862 Update com.google.errorprone:* to 2.31.0
  gradle/validation/error-prone.gradle
  solr/core/src/java/org/apache/solr/pkg/PackageListeningClassLoader.java
  solr/core/src/java/org/apache/solr/update/processor/ClassificationUpdateProcessorFactory.java
  solr/core/src/test/org/apache/solr/handler/admin/IndexSizeEstimatorTest.java
  solr/core/src/test/org/apache/solr/handler/admin/api/ReloadCoreAPITest.java
  solr/core/src/test/org/apache/solr/handler/admin/api/UnloadCoreAPITest.java
  solr/licenses/error_prone_annotations-2.28.0.jar.sha1
  solr/licenses/error_prone_annotations-2.31.0.jar.sha1
  solr/modules/ltr/src/java/org/apache/solr/ltr/feature/Feature.java
  solr/modules/ltr/src/java/org/apache/solr/ltr/feature/OriginalScoreFeature.java
  solr/modules/ltr/src/java/org/apache/solr/ltr/feature/SolrFeature.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/SolrZkClient.java
  solr/solrj/src/test/org/apache/solr/client/solrj/request/TestUpdateRequestCodec.java
  solr/test-framework/src/java/org/apache/solr/cloud/ZkTestServer.java
  versions.lock
  versions.props
Labels: dependencies, test-framework, client:solrj, module:ltr, tool:build, tests, cat:cloud, cat:index, cat:packagemanager

#2864 SOLR-17545: Fix alternative jdk testing support
  gradle/testing/alternative-jdk-support.gradle
Labels: tool:build

#2846 SOLR-17535: Migrate ClusterState.getCollectionsMap callers to Stream
  solr/core/src/java/org/apache/solr/cloud/ConfigSetCmds.java
  solr/core/src/java/org/apache/solr/cloud/DistributedClusterStateUpdater.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/DeleteCollectionCmd.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/ReplicaMigrationUtils.java
  solr/core/src/java/org/apache/solr/cloud/overseer/NodeMutator.java
  solr/core/src/java/org/apache/solr/cluster/maintenance/InactiveShardRemover.java
  solr/core/src/java/org/apache/solr/cluster/placement/impl/SimpleClusterAbstractionsImpl.java
  solr/core/src/java/org/apache/solr/handler/admin/ClusterStatus.java
  solr/core/src/java/org/apache/solr/handler/admin/api/ListCollections.java
  solr/core/src/java/org/apache/solr/servlet/HttpSolrCall.java
  solr/core/src/test/org/apache/solr/cloud/CollectionsAPISolrJTest.java
  solr/core/src/test/org/apache/solr/cloud/OverseerTest.java
  solr/modules/hdfs/src/test/org/apache/solr/hdfs/cloud/SharedFileSystemAutoReplicaFailoverTest.java
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/scraper/SolrCloudScraper.java
  solr/prometheus-exporter/src/test/org/apache/solr/prometheus/scraper/SolrCloudScraperTest.java
  solr/solrj/src/java/org/apache/solr/common/cloud/ClusterState.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractFullDistribZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/common/cloud/ClusterStateUtil.java
Labels: test-framework, jetty-server, client:solrj, module:hdfs, prometheus-exporter, tests, cat:cloud, cat:api

#2828 SOLR-17516: LBHttpSolrClient: support HttpJdkSolrClient (Generic Version)
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/component/HttpShardHandler.java
  solr/core/src/java/org/apache/solr/handler/component/HttpShardHandlerFactory.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/CloudHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpJdkSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClientBase.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBSolrClient.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpJdkSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBHttp2SolrClientIntegrationTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBHttp2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/MockTrustManager.java
Labels: client:solrj, tests, cat:search

#2744 SOLR-17501: Move out CLI utils from SolrCLI
  solr/core/src/java/org/apache/solr/cli/ApiTool.java
  solr/core/src/java/org/apache/solr/cli/AssertTool.java
  solr/core/src/java/org/apache/solr/cli/AuthTool.java
  solr/core/src/java/org/apache/solr/cli/CLIUtils.java
  solr/core/src/java/org/apache/solr/cli/ClusterTool.java
  solr/core/src/java/org/apache/solr/cli/CommonCLIOptions.java
  solr/core/src/java/org/apache/solr/cli/ConfigSetDownloadTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigSetUploadTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigTool.java
  solr/core/src/java/org/apache/solr/cli/CreateTool.java
  solr/core/src/java/org/apache/solr/cli/DeleteTool.java
  solr/core/src/java/org/apache/solr/cli/ExportTool.java
  solr/core/src/java/org/apache/solr/cli/HealthcheckTool.java
  solr/core/src/java/org/apache/solr/cli/LinkConfigTool.java
  solr/core/src/java/org/apache/solr/cli/PackageTool.java
  solr/core/src/java/org/apache/solr/cli/PostLogsTool.java
  solr/core/src/java/org/apache/solr/cli/PostTool.java
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotCreateTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotDeleteTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotDescribeTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotExportTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotListTool.java
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/java/org/apache/solr/cli/StatusTool.java
  solr/core/src/java/org/apache/solr/cli/StreamTool.java
  solr/core/src/java/org/apache/solr/cli/UpdateACLTool.java
  solr/core/src/java/org/apache/solr/cli/ZkCpTool.java
  solr/core/src/java/org/apache/solr/cli/ZkLsTool.java
  solr/core/src/java/org/apache/solr/cli/ZkMkrootTool.java
  solr/core/src/java/org/apache/solr/cli/ZkMvTool.java
  solr/core/src/java/org/apache/solr/cli/ZkRmTool.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageManager.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageUtils.java
  solr/core/src/test/org/apache/solr/cli/CLIUtilsTest.java
  solr/core/src/test/org/apache/solr/cli/SolrCLITest.java
  solr/core/src/test/org/apache/solr/cli/TestSolrCLIRunExample.java
  solr/core/src/test/org/apache/solr/cloud/SolrCloudExampleTest.java
Labels: tests, cat:cloud, cat:cli, cat:packagemanager

#2877 SOLR-17567: Fix auth issue in stream tests
  solr/core/src/java/org/apache/solr/cli/StreamTool.java
  solr/packaging/test/test_stream.bats
Labels: cat:cli

#2870 SOLR-16825: Migrate v2 API definitions to 'api' module, pt 9
  solr/api/src/java/org/apache/solr/client/api/endpoint/CollectionBackupApi.java
  solr/api/src/java/org/apache/solr/client/api/endpoint/CollectionSnapshotApis.java
  solr/api/src/java/org/apache/solr/client/api/endpoint/CreateCollectionSnapshotApi.java
  solr/api/src/java/org/apache/solr/client/api/endpoint/DeleteCollectionSnapshotApi.java
  solr/api/src/java/org/apache/solr/client/api/endpoint/ReplicationBackupApis.java
  solr/api/src/java/org/apache/solr/client/api/endpoint/ZooKeeperReadApis.java
  solr/api/src/java/org/apache/solr/client/api/model/ExperimentalResponse.java
  solr/api/src/java/org/apache/solr/client/api/model/ListCollectionSnapshotsResponse.java
  solr/api/src/java/org/apache/solr/client/api/model/ReplicationBackupRequestBody.java
  solr/api/src/java/org/apache/solr/client/api/model/ReplicationBackupResponse.java
  solr/api/src/java/org/apache/solr/client/api/model/RestoreCollectionRequestBody.java
  solr/api/src/java/org/apache/solr/client/api/model/ZooKeeperFileResponse.java
  solr/api/src/java/org/apache/solr/client/api/model/ZooKeeperListChildrenResponse.java
  solr/api/src/java/org/apache/solr/client/api/model/ZooKeeperStat.java
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/handler/admin/CollectionsHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/ZookeeperRead.java
  solr/core/src/java/org/apache/solr/handler/admin/ZookeeperReadAPI.java
  solr/core/src/java/org/apache/solr/handler/admin/api/CreateCollectionBackup.java
  solr/core/src/java/org/apache/solr/handler/admin/api/CreateCollectionSnapshot.java
  solr/core/src/java/org/apache/solr/handler/admin/api/DeleteCollectionSnapshot.java
  solr/core/src/java/org/apache/solr/handler/admin/api/ListCollectionSnapshots.java
  solr/core/src/java/org/apache/solr/handler/admin/api/RestoreCollection.java
  solr/core/src/java/org/apache/solr/handler/admin/api/SnapshotBackupAPI.java
  solr/core/src/java/org/apache/solr/jersey/MediaTypeOverridingFilter.java
  solr/core/src/test/org/apache/solr/handler/admin/ZookeeperReadAPITest.java
  solr/core/src/test/org/apache/solr/handler/admin/api/RestoreCollectionAPITest.java
  solr/core/src/test/org/apache/solr/handler/admin/api/SnapshotBackupAPITest.java
Labels: tests, cat:api

#2788 SOLR-16390: v2 Cluster Property APIs.
  dev-docs/v2-api-conventions.adoc
  solr/CHANGES.txt
  solr/api/src/java/org/apache/solr/client/api/endpoint/ClusterPropertyApis.java
  solr/api/src/java/org/apache/solr/client/api/model/ClusterPropertyDetails.java
  solr/api/src/java/org/apache/solr/client/api/model/GetClusterPropertyResponse.java
  solr/api/src/java/org/apache/solr/client/api/model/ListClusterPropertiesResponse.java
  solr/api/src/java/org/apache/solr/client/api/model/SetClusterPropertyRequestBody.java
  solr/core/src/java/org/apache/solr/handler/ClusterAPI.java
  solr/core/src/java/org/apache/solr/handler/admin/CollectionsHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/api/ClusterProperty.java
  solr/core/src/test/org/apache/solr/cloud/CollectionsAPISolrJTest.java
  solr/core/src/test/org/apache/solr/handler/V2ApiIntegrationTest.java
  solr/core/src/test/org/apache/solr/handler/V2ClusterAPIMappingTest.java
  solr/core/src/test/org/apache/solr/handler/admin/api/ClusterPropsAPITest.java
  solr/solr-ref-guide/modules/deployment-guide/pages/cluster-node-management.adoc
  solr/solrj/src/resources/java-template/api.mustache
Labels: documentation, client:solrj, tests, cat:cloud, cat:api

#2872 SOLR-17567: Improve Stream CLI implementation
  gradle/validation/forbidden-apis/commons-cli.commons-cli.all.txt
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/java/org/apache/solr/cli/StreamTool.java
  solr/core/src/java/org/apache/solr/handler/CatStream.java
  solr/core/src/test/org/apache/solr/cli/StreamToolTest.java
  solr/modules/hdfs/src/java/org/apache/solr/hdfs/snapshots/SolrOnHdfsSnapshotsTool.java
  solr/packaging/test/test_stream.bats
  solr/solr-ref-guide/modules/query-guide/pages/stream-tool.adoc
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/LetStream.java
Labels: documentation, client:solrj, module:hdfs, tool:build, tests, cat:cli

#2861 SOLR-17556: Examples should run with the standard & recommended Solr home and solr data dir
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/core/src/test/org/apache/solr/cli/TestSolrCLIRunExample.java
  solr/server/resources/log4j2-console.xml
  solr/server/resources/log4j2.xml
  solr/server/solr/configsets/_default/conf/solrconfig.xml
  solr/server/solr/configsets/sample_techproducts_configs/conf/solrconfig.xml
  solr/solr-ref-guide/modules/query-guide/pages/learning-to-rank.adoc
  solr/solr-ref-guide/modules/query-guide/pages/result-clustering.adoc
Labels: documentation, configs, jetty-server, tests, cat:cli

#2871 SOLR-17564: Remove backwards compatibility code from Assign
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/api/collections/Assign.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/CreateCollectionCmd.java
  solr/core/src/test/org/apache/solr/cloud/AssignBackwardCompatibilityTest.java
Labels: tests, cat:cloud, cat:api

#2884 SOLR-17569: fix flaky test TestLBHttpSolrClient (9.x) / LBHttp2SolrClientIntegrationTest (main)
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBSolrClient.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBHttp2SolrClientIntegrationTest.java
  solr/test-framework/src/java/org/apache/solr/util/LogListener.java
Labels: test-framework, client:solrj, tests

#2883 SOLR-16903: Update CLI tools to use java.nio.file.Path instead of java.io.File
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/AuthTool.java
  solr/core/src/java/org/apache/solr/cli/ExportTool.java
  solr/core/src/java/org/apache/solr/cli/PostTool.java
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/test/org/apache/solr/cli/PostToolTest.java
Labels: tests, cat:cli

#2858 SOLR-17352: CLI - Remove unsupported options for auth command
  solr/bin/solr.cmd
Labels: start-scripts

#2890 Fix claim name in JWT Authentication Plugin docs
  solr/solr-ref-guide/modules/deployment-guide/pages/jwt-authentication-plugin.adoc
Labels: documentation

#2886 SOLR-17575: Fixed broken backwards compatibility with the legacy "langid.whitelist" config in Solr Langid
  solr/CHANGES.txt
  solr/modules/langid/src/java/org/apache/solr/update/processor/LanguageIdentifierUpdateProcessor.java
  solr/modules/langid/src/test/org/apache/solr/update/processor/LanguageIdentifierUpdateProcessorFactoryTestCase.java
Labels: tests, cat:index, module:langid
