Repository apache/solr, pull requests merged in 2024-05, with the labels that each got.

#2422 fixTestUninvertingReader
  solr/core/src/test/org/apache/solr/uninverting/TestUninvertingReader.java
Labels: tests

#2420 SOLR-17257: Avoid instantiating NodeStateProvider several times when computing replica placement
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cluster/placement/impl/AttributeFetcherImpl.java
Labels: cat:cloud

#2431 SOLR-17261: Allow cores to load without a timeout
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/solrj/src/java/org/apache/solr/common/util/ExecutorUtil.java
Labels: client:solrj

#2436 SOLR-17265: Fix randomized PRS testing
  solr/core/src/java/org/apache/solr/cloud/api/collections/CreateCollectionCmd.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractBasicDistributedZk2TestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/SolrCloudTestCase.java
Labels: test-framework, cat:cloud, cat:api

#2417 SOLR-17248: Refactor ZK related SolrCli tools to separate SolrZkClient and CloudSolrClient instantiation/usage
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/AuthTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigSetDownloadTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigSetUploadTool.java
  solr/core/src/java/org/apache/solr/cli/CreateTool.java
  solr/core/src/java/org/apache/solr/cli/DeleteTool.java
  solr/core/src/java/org/apache/solr/cli/HealthcheckTool.java
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/java/org/apache/solr/cli/ZkCpTool.java
  solr/core/src/java/org/apache/solr/cli/ZkLsTool.java
  solr/core/src/java/org/apache/solr/cli/ZkMkrootTool.java
  solr/core/src/java/org/apache/solr/cli/ZkMvTool.java
  solr/core/src/java/org/apache/solr/cli/ZkRmTool.java
  solr/core/src/test/org/apache/solr/cloud/SolrCLIZkUtilsTest.java
Labels: tests, cat:cloud, cat:cli

#1138 Remove the Before SolrCloud section, and expand the supported feature…
  solr/solr-ref-guide/modules/deployment-guide/pages/solrcloud-shards-indexing.adoc
Labels: stale

#2430 SOLR-17260 ReleaseWizard should remove old minor versions from Docker Hub
  dev-tools/scripts/releaseWizard.py
  dev-tools/scripts/releaseWizard.yaml
Labels: scripts

#2437 SOLR-17088: Fix custom solr.xml usage in tests with extra jettys
  solr/test-framework/src/java/org/apache/solr/cloud/MiniSolrCloudCluster.java
Labels: test-framework, cat:cloud

#2446 SOLR-17282: Update basic-authentication-plugin.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/basic-authentication-plugin.adoc
Labels: documentation

#2450 fix errorprone build error by grouping operators together
  solr/core/src/test/org/apache/solr/util/TimeZoneUtilsTest.java
Labels: tests

#2395 SOLR-17192: Add "field-limiting" URP to catch ill-designed schemas
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/update/processor/NumFieldLimitingUpdateRequestProcessorFactory.java
  solr/core/src/test-files/solr/configsets/cloud-minimal-field-limiting/conf/schema.xml
  solr/core/src/test-files/solr/configsets/cloud-minimal-field-limiting/conf/solrconfig.xml
  solr/core/src/test/org/apache/solr/update/processor/NumFieldLimitingUpdateRequestProcessorFactoryTest.java
  solr/core/src/test/org/apache/solr/update/processor/NumFieldLimitingUpdateRequestProcessorIntegrationTest.java
  solr/server/solr/configsets/_default/conf/solrconfig.xml
  solr/solr-ref-guide/modules/configuration-guide/pages/update-request-processors.adoc
  solr/solrj/src/java/org/apache/solr/common/util/StrUtils.java
Labels: documentation, configs, client:solrj, tests, cat:index

#2445 SOLR-17279: consolidate security.json constants in tests
  solr/CHANGES.txt
  solr/core/src/test/org/apache/solr/cli/CreateToolTest.java
  solr/core/src/test/org/apache/solr/cli/DeleteToolTest.java
  solr/core/src/test/org/apache/solr/cli/PackageToolTest.java
  solr/core/src/test/org/apache/solr/cli/PostToolTest.java
  solr/core/src/test/org/apache/solr/cli/TestExportTool.java
  solr/core/src/test/org/apache/solr/cloud/DistribDocExpirationUpdateProcessorTest.java
  solr/core/src/test/org/apache/solr/cloud/TestPullReplicaWithAuth.java
  solr/modules/opentelemetry/src/test/org/apache/solr/opentelemetry/BasicAuthIntegrationTracingTest.java
  solr/test-framework/src/java/org/apache/solr/util/SecurityJson.java
Labels: test-framework, module:opentelemetry, tests, cat:cloud, cat:cli

#2415 SOLR-17244 - initial cut at an orientation for prospective release managers
  dev-docs/releasing.adoc
Labels: documentation

#2451 SOLR-17274: allow JSON atomic updates to use multiple modifiers or a modifier like 'set' as a field name if child docs not enabled
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/loader/JsonLoader.java
  solr/core/src/test-files/solr/collection1/conf/atomic-update-json-test.xml
  solr/core/src/test/org/apache/solr/update/processor/AtomicUpdateJsonTest.java
Labels: tests, cat:index

#2444 DelegatingBackupRepository extends AbstractBackupRepository.
  solr/core/src/java/org/apache/solr/core/backup/repository/DelegatingBackupRepository.java
  solr/test-framework/src/java/org/apache/solr/cloud/api/collections/AbstractBackupRepositoryTest.java
Labels: test-framework, cat:cloud

#2457 SOLR-17066 Fix ShardSplitTest & StressHdfsTest
  solr/core/src/test/org/apache/solr/cloud/api/collections/ShardSplitTest.java
  solr/modules/hdfs/src/test/org/apache/solr/hdfs/cloud/StressHdfsTest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClient.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractBasicDistributedZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractFullDistribZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/embedded/JettySolrRunner.java
Labels: test-framework, client:solrj, module:hdfs, tests, cat:cloud

#2432 SOLR-17049: Fix Replica Down on startup logic
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/java/org/apache/solr/cloud/overseer/NodeMutator.java
  solr/core/src/java/org/apache/solr/servlet/CoordinatorHttpSolrCall.java
  solr/core/src/test/org/apache/solr/cloud/ClusterStateMockUtil.java
  solr/core/src/test/org/apache/solr/cloud/ZkControllerTest.java
  solr/solrj/src/java/org/apache/solr/common/cloud/ClusterState.java
  solr/solrj/src/java/org/apache/solr/common/cloud/Replica.java
Labels: jetty-server, client:solrj, tests, cat:cloud

#2433 SOLR-17263: HttpJdkSolrClient doesn't encode curly braces etc
  solr/CHANGES.txt
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpJdkSolrClient.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpJdkSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpSolrClientTestBase.java
Labels: client:solrj, tests

#2463 SOLR-17275: Major performance regression of CloudSolrClient in Solr 9.6.0 when using aliases
  solr/CHANGES.txt
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/impl/ZkClientClusterStateProvider.java
Labels: client:solrj

#2466 Fix typo in system-requirements.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/system-requirements.adoc
Labels: documentation

#2454 Refactor preparePutOrPost in HttpJdkSolrClient
  solr/CHANGES.txt
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpJdkSolrClient.java
Labels: client:solrj

#2467 SOLR-17300: Copy existing listeners on re-creation of Http2SolrClient
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/IndexFetcher.java
  solr/core/src/test/org/apache/solr/cloud/RecoveryZkTestWithAuth.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
Labels: client:solrj, tests, cat:cloud

#2472 Clarify the cache behavior in the Ref Guide
  solr/solr-ref-guide/modules/configuration-guide/pages/caches-warming.adoc
Labels: documentation

#2475 Admin UI: fixed node list display bug caused by different hostname with same front part (duplicates PR #2449)
  solr/CHANGES.txt
  solr/webapp/web/js/angular/controllers/cloud.js
Labels: admin-ui

#2464 SOLR-17307: Use file separator instead of '/' in CachingDirectoryFactory
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/CachingDirectoryFactory.java
  solr/core/src/test/org/apache/solr/core/CachingDirectoryFactoryTest.java
Labels: tests

#2453 Minor: Http2SolrClient cleanups
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
Labels: client:solrj

#2473 SOLR-16659: Properly construct V2 base urls instead of replacing substring "/solr" with "/api"
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/filestore/DistribFileStore.java
  solr/core/src/java/org/apache/solr/pkg/PackageAPI.java
  solr/core/src/test/org/apache/solr/cloud/AliasIntegrationTest.java
  solr/core/src/test/org/apache/solr/cloud/MigrateReplicasTest.java
  solr/core/src/test/org/apache/solr/cloud/TestConfigSetsAPI.java
  solr/core/src/test/org/apache/solr/filestore/TestDistribFileStore.java
  solr/core/src/test/org/apache/solr/handler/TestContainerPlugin.java
  solr/core/src/test/org/apache/solr/handler/admin/ZookeeperReadAPITest.java
  solr/core/src/test/org/apache/solr/pkg/TestPackages.java
  solr/core/src/test/org/apache/solr/security/AuditLoggerIntegrationTest.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkStateReader.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/common/util/Utils.java
Labels: client:solrj, tests, cat:cloud, cat:security, cat:packagemanager

#2447 SOLR-17284: Remove deprecated BlobRepository
  solr/core/src/java/org/apache/solr/core/BlobRepository.java
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/filestore/FileStoreAPI.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageUtils.java
  solr/core/src/java/org/apache/solr/packagemanager/RepositoryManager.java
  solr/core/src/test-files/solr/configsets/resource-sharing/schema.xml
  solr/core/src/test-files/solr/configsets/resource-sharing/solrconfig.xml
  solr/core/src/test/org/apache/solr/core/BlobRepositoryCloudTest.java
  solr/core/src/test/org/apache/solr/core/BlobRepositoryMockingTest.java
  solr/core/src/test/org/apache/solr/handler/component/ResourceSharingTestComponent.java
  solr/core/src/test/org/apache/solr/handler/designer/TestSchemaDesignerAPI.java
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
  solr/solrj/src/java/org/apache/solr/common/util/Utils.java
Labels: documentation, client:solrj, tests, cat:search, cat:packagemanager

#2460 SOLR-17290: Update SyncStrategy and PeerSyncWithLeader to use the recovery Http2SolrClient
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/SyncStrategy.java
  solr/core/src/java/org/apache/solr/update/PeerSyncWithLeader.java
Labels: cat:cloud, cat:index

#2470 SOLR-17302: Convert /cluster filestore APIs to JAX-RS
  solr/api/src/java/org/apache/solr/client/api/endpoint/ClusterFileStoreApis.java
  solr/api/src/java/org/apache/solr/client/api/model/UploadToFileStoreResponse.java
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/filestore/ClusterFileStore.java
  solr/core/src/java/org/apache/solr/filestore/DistribFileStore.java
  solr/core/src/java/org/apache/solr/filestore/FileStore.java
  solr/core/src/java/org/apache/solr/filestore/FileStoreAPI.java
  solr/core/src/java/org/apache/solr/filestore/FileStoreUtils.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageUtils.java
  solr/core/src/java/org/apache/solr/packagemanager/RepositoryManager.java
  solr/core/src/java/org/apache/solr/pkg/PackageAPI.java
  solr/core/src/java/org/apache/solr/pkg/SolrPackageLoader.java
  solr/core/src/test/org/apache/solr/filestore/TestDistribFileStore.java
  solr/core/src/test/org/apache/solr/handler/TestContainerPlugin.java
  solr/core/src/test/org/apache/solr/pkg/TestPackages.java
Labels: tests, cat:api, cat:packagemanager

#2455 SOLR-17044: Consolidate SolrJ URL-building logic
  solr/core/src/test/org/apache/solr/handler/admin/HealthCheckHandlerTest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpJdkSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClientBase.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/util/ClientUtils.java
  solr/solrj/src/test/org/apache/solr/client/solrj/util/ClientUtilsTest.java
Labels: client:solrj, tests

#2416 SOLR-17247: Fix bug - 'WWW-Authenticate' headers missing in MultiAuthPlugin
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/security/MultiAuthPlugin.java
  solr/core/src/test-files/solr/security/multi_auth_plugin_security.json
  solr/core/src/test/org/apache/solr/security/MultiAuthPluginTest.java
Labels: tests, cat:security

#2232 SOLR-17137 Add configuration for SSL between Solr and Prometheus exporter.
  solr/CHANGES.txt
  solr/packaging/build.gradle
  solr/packaging/test/bats_helper.bash
  solr/packaging/test/test_prometheus.bats
  solr/prometheus-exporter/bin/solr-exporter
  solr/prometheus-exporter/bin/solr-exporter.cmd
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/exporter/SolrClientFactory.java
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/exporter/SolrExporter.java
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/exporter/SolrScrapeConfiguration.java
  solr/solr-ref-guide/modules/deployment-guide/pages/monitoring-with-prometheus-and-grafana.adoc
Labels: documentation, tool:build, prometheus-exporter

#2486 Move setShardAttributesToParams
  solr/core/src/java/org/apache/solr/handler/component/SearchHandler.java
  solr/core/src/java/org/apache/solr/handler/component/ShardHandler.java
  solr/core/src/java/org/apache/solr/handler/component/TaskManagementHandler.java
  solr/core/src/test/org/apache/solr/core/TestShardHandlerFactory.java
  solr/solrj/src/java/org/apache/solr/common/params/ModifiableSolrParams.java
  solr/solrj/src/test/org/apache/solr/common/params/ModifiableSolrParamsTest.java
Labels: client:solrj, tests, cat:search

#2484 SOLR-16093: Tests: don't require IPv6
  gradle/testing/randomization/policies/solr-tests.policy
  solr/server/etc/security.policy
  solr/test-framework/src/java/org/apache/solr/SolrTestCaseJ4.java
Labels: test-framework, jetty-server, tool:build

#2443 SOLR-17271: PerReplicaState: Shard leader elections still impact state.json
  solr/core/src/java/org/apache/solr/cloud/overseer/SliceMutator.java
  solr/solrj/src/test/org/apache/solr/common/cloud/PerReplicaStatesIntegrationTest.java
Labels: client:solrj, tests, cat:cloud
