Repository apache/solr, pull requests merged in 2024-10, with the labels that each got.

#2735 Fix failure in PackageToolTest caused by --params instead of --param CLI command
  solr/core/src/test/org/apache/solr/cli/PackageToolTest.java
Labels: tests, cat:cli

#2666 SOLR-17158 Terminate distributed processing quickly when query limit is reached
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/RequestHandlerBase.java
  solr/core/src/java/org/apache/solr/handler/component/HttpShardHandler.java
  solr/core/src/java/org/apache/solr/handler/component/ParallelHttpShardHandler.java
  solr/core/src/java/org/apache/solr/handler/component/QueryComponent.java
  solr/core/src/java/org/apache/solr/handler/component/ResponseBuilder.java
  solr/core/src/java/org/apache/solr/handler/component/SearchHandler.java
  solr/core/src/java/org/apache/solr/handler/component/ShardHandler.java
  solr/core/src/java/org/apache/solr/handler/component/ShardResponse.java
  solr/core/src/java/org/apache/solr/request/SolrQueryRequest.java
  solr/core/src/java/org/apache/solr/request/SolrRequestInfo.java
  solr/core/src/java/org/apache/solr/response/SolrQueryResponse.java
  solr/core/src/java/org/apache/solr/search/QueryLimits.java
  solr/core/src/java/org/apache/solr/search/QueryResult.java
  solr/core/src/java/org/apache/solr/search/facet/FacetModule.java
  solr/core/src/java/org/apache/solr/search/grouping/CommandHandler.java
  solr/core/src/java/org/apache/solr/search/grouping/distributed/responseprocessor/SearchGroupShardResponseProcessor.java
  solr/core/src/java/org/apache/solr/search/grouping/distributed/responseprocessor/TopGroupsShardResponseProcessor.java
  solr/core/src/java/org/apache/solr/search/stats/ExactStatsCache.java
  solr/core/src/java/org/apache/solr/util/SolrResponseUtil.java
  solr/core/src/test/org/apache/solr/search/TestCpuAllowedLimit.java
  solr/solr-ref-guide/modules/query-guide/pages/common-query-parameters.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-9.adoc
  solr/solrj/src/java/org/apache/solr/common/params/ShardParams.java
  solr/solrj/src/test/org/apache/solr/common/params/ShardParamsTest.java
Labels: documentation, client:solrj, tests, cat:search

#2587 SOLR-17285: Move RemoteSolrException to SolrClient in v10
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/api/collections/CollectionHandlingUtils.java
  solr/core/src/test/org/apache/solr/TestDistributedSearch.java
  solr/core/src/test/org/apache/solr/cloud/CreateCollectionCleanupTest.java
  solr/core/src/test/org/apache/solr/cloud/DistribJoinFromCollectionTest.java
  solr/core/src/test/org/apache/solr/cloud/LeaderTragicEventTest.java
  solr/core/src/test/org/apache/solr/cloud/MigrateRouteKeyTest.java
  solr/core/src/test/org/apache/solr/cloud/MultiThreadedOCPTest.java
  solr/core/src/test/org/apache/solr/cloud/OverseerStatusTest.java
  solr/core/src/test/org/apache/solr/cloud/SplitShardTest.java
  solr/core/src/test/org/apache/solr/cloud/TestAuthenticationFramework.java
  solr/core/src/test/org/apache/solr/cloud/TestConfigSetsAPI.java
  solr/core/src/test/org/apache/solr/cloud/TestConfigSetsAPIZkFailure.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/CollectionsAPIAsyncDistributedZkTest.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/ShardSplitTest.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/TestCollectionAPI.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/TestRequestStatusCollectionAPI.java
  solr/core/src/test/org/apache/solr/handler/V2ApiIntegrationTest.java
  solr/core/src/test/org/apache/solr/handler/admin/CoreAdminHandlerTest.java
  solr/core/src/test/org/apache/solr/handler/admin/HealthCheckHandlerTest.java
  solr/core/src/test/org/apache/solr/handler/admin/ShowFileRequestHandlerTest.java
  solr/core/src/test/org/apache/solr/security/BasicAuthIntegrationTest.java
  solr/core/src/test/org/apache/solr/servlet/TestRequestRateLimiter.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/security/hadoop/TestDelegationWithHadoopAuth.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/security/hadoop/TestImpersonationWithHadoopAuth.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/security/hadoop/TestRuleBasedAuthorizationWithKerberos.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/security/hadoop/TestSolrCloudWithDelegationTokens.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/security/hadoop/TestSolrCloudWithSecureImpersonation.java
  solr/solrj/src/java/org/apache/solr/client/solrj/SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/BaseHttpClusterStateProvider.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/BaseHttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ConcurrentUpdateHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ConcurrentUpdateSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClientBase.java
  solr/solrj/src/test/org/apache/solr/client/solrj/SolrExampleTests.java
  solr/solrj/src/test/org/apache/solr/client/solrj/TestSolrJErrorHandling.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/BasicHttpSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudHttp2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientCompatibilityTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpJdkSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpSolrClientTestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/api/collections/AbstractCollectionsAPIDistributedZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/api/collections/AbstractInstallShardTest.java
Labels: test-framework, jetty-server, client:solrj, module:hadoop-auth, tests, cat:cloud, cat:api, cat:security

#2733 SOLR-17464
  solr/CHANGES.txt
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpJdkSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpSolrClientTestBase.java
Labels: client:solrj, tests

#2731 Close stale PRs after 60 more days
  .github/workflows/stale.yml
Labels: exempt-stale

#2723 SOLR-17044: Remove 'solr.v2RealPath' sysprop
  solr/solrj/src/java/org/apache/solr/client/solrj/util/ClientUtils.java
  solr/solrj/src/test/org/apache/solr/client/solrj/util/ClientUtilsTest.java
  solr/test-framework/src/java/org/apache/solr/SolrTestCaseJ4.java
Labels: test-framework, client:solrj, tests

#2714 SOLR-17256: Introduce SolrRequest.setBasePath alternative
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/IndexFetcher.java
  solr/solrj/src/java/org/apache/solr/client/solrj/SolrClientFunction.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/util/ClientUtils.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/DebugServlet.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientTest.java
Labels: client:solrj, tests

#2739 SOLR-17473: Introduce build tools formatting
  build-tools/build-infra/build.gradle
  build-tools/build-infra/settings.gradle
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/Checksum.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/ErrorReportingTestListener.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/GradlePropertiesGenerator.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/PrefixedWriter.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/ProfileResults.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/SpillWriter.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/StdOutTeeWriter.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/WrapperDownloader.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/buildinfra/BuildInfraPlugin.java
  build-tools/missing-doclet/build.gradle
  build-tools/missing-doclet/settings.gradle
  build-tools/missing-doclet/src/main/java/org/apache/lucene/missingdoclet/MissingDoclet.java
  build-tools/scriptDepVersions.gradle
  build.gradle
  buildSrc/src/main/java/org/apache/lucene/gradle/ErrorReportingTestListener.java
  buildSrc/src/main/java/org/apache/lucene/gradle/StdOutTeeWriter.java
  dev-tools/README.txt
  gradle/conventions.gradle
  gradle/testing/defaults-tests.gradle
  gradle/testing/failed-tests-at-end.gradle
  gradle/testing/profiling.gradle
  gradle/validation/check-environment.gradle
  gradle/validation/jar-checks.gradle
  gradle/validation/owasp-dependency-check.gradle
  gradle/validation/rat-sources.gradle
  gradle/validation/spotless.gradle
  gradlew
  gradlew.bat
  settings.gradle
  solr/distribution/build.gradle
Labels: tool:build, scripts

#2740 SOLR-17469: CLI: Resolve -f flag conflicts
  solr/core/src/java/org/apache/solr/cli/DeleteTool.java
  solr/core/src/java/org/apache/solr/cli/PostTool.java
  solr/prometheus-exporter/bin/solr-exporter
  solr/prometheus-exporter/bin/solr-exporter.cmd
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/exporter/SolrExporter.java
  solr/solr-ref-guide/modules/deployment-guide/pages/monitoring-with-prometheus-and-grafana.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/post-tool.adoc
Labels: documentation, prometheus-exporter, cat:cli

#2708 SOLR-17150: Create MemAllowedLimit
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/search/MemAllowedLimit.java
  solr/core/src/java/org/apache/solr/search/QueryLimits.java
  solr/core/src/test/org/apache/solr/search/TestMemAllowedLimit.java
  solr/solr-ref-guide/modules/query-guide/pages/common-query-parameters.adoc
  solr/solrj/src/java/org/apache/solr/common/params/CommonParams.java
Labels: documentation, client:solrj, tests, cat:search

#2624 SOLR-17249 Edit .asf.yaml on main branch
  dev-tools/scripts/releaseWizard.yaml
Labels: stale, scripts

#2689 SOLR-16503: New home for default http2 client
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/core/HttpSolrClientProvider.java
  solr/core/src/java/org/apache/solr/update/UpdateShardHandler.java
  solr/core/src/java/org/apache/solr/util/stats/InstrumentedHttpListenerFactory.java
  solr/core/src/test/org/apache/solr/core/TestHttpSolrClientProvider.java
  solr/solrj/src/java/org/apache/solr/common/util/IOUtils.java
Labels: client:solrj, tests, cat:index

#2743 SOLR-17470: CLI resolve -s
  dev-tools/scripts/cloud.sh
  solr/bin/solr
  solr/bin/solr.cmd
  solr/core/src/java/org/apache/solr/cli/AssertTool.java
  solr/core/src/java/org/apache/solr/cli/AuthTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigSetDownloadTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigSetUploadTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigTool.java
  solr/core/src/java/org/apache/solr/cli/CreateTool.java
  solr/core/src/java/org/apache/solr/cli/DeleteTool.java
  solr/core/src/java/org/apache/solr/cli/HealthcheckTool.java
  solr/core/src/java/org/apache/solr/cli/PackageTool.java
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotCreateTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotDeleteTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotDescribeTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotExportTool.java
  solr/core/src/java/org/apache/solr/cli/SnapshotListTool.java
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/java/org/apache/solr/cli/ZkCpTool.java
  solr/core/src/java/org/apache/solr/cli/ZkLsTool.java
  solr/core/src/java/org/apache/solr/cli/ZkMkrootTool.java
  solr/core/src/java/org/apache/solr/cli/ZkMvTool.java
  solr/core/src/java/org/apache/solr/cli/ZkRmTool.java
  solr/core/src/test/org/apache/solr/cli/TestSolrCLIRunExample.java
  solr/packaging/test/test_assert.bats
  solr/prometheus-exporter/bin/solr-exporter
  solr/prometheus-exporter/bin/solr-exporter.cmd
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/exporter/SolrExporter.java
  solr/solr-ref-guide/modules/deployment-guide/pages/enabling-ssl.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/monitoring-with-prometheus-and-grafana.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-films.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-solrcloud.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-techproducts.adoc
Labels: documentation, start-scripts, prometheus-exporter, tests, cat:cli, scripts

#2752 Update to mention bin/solr instead of zkcli.sh in Ref Guide
  solr/solr-ref-guide/modules/deployment-guide/pages/enabling-ssl.adoc
Labels: documentation

#2746 SOLR-17482: Change long form of -r to --recursive
  solr/bin/solr.cmd
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/java/org/apache/solr/cli/ZkCpTool.java
  solr/core/src/java/org/apache/solr/cli/ZkLsTool.java
  solr/core/src/java/org/apache/solr/cli/ZkRmTool.java
  solr/core/src/test/org/apache/solr/cli/SolrCLIZkToolsTest.java
  solr/packaging/test/test_zk.bats
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkMaintenanceUtils.java
  solr/solrj-zookeeper/src/test/org/apache/solr/common/cloud/TestZkMaintenanceUtils.java
Labels: documentation, client:solrj, start-scripts, tests, cat:cli

#2747 SOLR-17480: Use --data-home everywhere
  solr/bin/solr
  solr/bin/solr.cmd
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
Labels: documentation, start-scripts

#2748 SOLR-17479: Deprecate the single letter options
  solr/core/src/java/org/apache/solr/cli/AssertTool.java
  solr/core/src/test/org/apache/solr/cli/AssertToolTest.java
  solr/packaging/test/test_assert.bats
  solr/packaging/test/test_placement_plugin.bats
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
Labels: documentation, tests, cat:cli

#2745 SOLR-17481: Resolve use of -n flag in CLI commands
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/prometheus-exporter/bin/solr-exporter
  solr/prometheus-exporter/bin/solr-exporter.cmd
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/exporter/SolrExporter.java
  solr/solr-ref-guide/modules/deployment-guide/pages/monitoring-with-prometheus-and-grafana.adoc
Labels: documentation, prometheus-exporter, cat:cli

#2755 ref guide: remove policy reference
  solr/solr-ref-guide/modules/deployment-guide/pages/collection-management.adoc
Labels: documentation

#2754 SOLR-17488: CLI: Resolve -d conflicts
  solr/bin/solr
  solr/bin/solr.cmd
  solr/core/src/java/org/apache/solr/cli/DeleteTool.java
  solr/core/src/java/org/apache/solr/cli/PostTool.java
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/post-tool.adoc
Labels: documentation, start-scripts, cat:cli

#2729 SOLR-17467: Start solr in Cloud mode, introduce --user-managed switch for User Managed mode
  dev-docs/running-in-docker.adoc
  solr/CHANGES.txt
  solr/bin/solr
  solr/bin/solr.cmd
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/test/org/apache/solr/cli/TestSolrCLIRunExample.java
  solr/docker/gradle-help.txt
  solr/docker/scripts/solr-create
  solr/docker/scripts/solr-demo
  solr/docker/scripts/solr-precreate
  solr/docker/scripts/start-local-solr
  solr/docker/tests/cases/cloud_multi_node_embedded_zk/test.sh
  solr/docker/tests/cases/prometheus-exporter-cloud/test.sh
  solr/docker/tests/cases/user_volume/test.sh
  solr/packaging/test/test_adminconsole_urls.bats
  solr/packaging/test/test_assert.bats
  solr/packaging/test/test_auth.bats
  solr/packaging/test/test_basic_auth.bats
  solr/packaging/test/test_bats.bats
  solr/packaging/test/test_config.bats
  solr/packaging/test/test_create.bats
  solr/packaging/test/test_create_collection.bats
  solr/packaging/test/test_delete_collection.bats
  solr/packaging/test/test_export.bats
  solr/packaging/test/test_extraction.bats
  solr/packaging/test/test_healthcheck.bats
  solr/packaging/test/test_modules.bats
  solr/packaging/test/test_packages.bats
  solr/packaging/test/test_placement_plugin.bats
  solr/packaging/test/test_post.bats
  solr/packaging/test/test_postlogs.bats
  solr/packaging/test/test_prometheus.bats
  solr/packaging/test/test_security_manager.bats
  solr/packaging/test/test_snapshots.bats
  solr/packaging/test/test_ssl.bats
  solr/packaging/test/test_start_solr.bats
  solr/packaging/test/test_zk.bats
  solr/solr-ref-guide/modules/configuration-guide/pages/package-manager-internals.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/package-manager.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/collection-management.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/kerberos-authentication-plugin.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/replica-management.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/shard-management.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-on-hdfs.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-aws.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-films.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-five-minutes.adoc
Labels: documentation, docker, start-scripts, tests, cat:cli

#2701 SOLR-17414: Multi-threaded search: don't throw RejectedExecutionException
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/core/NodeConfig.java
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
  solr/solr-ref-guide/modules/query-guide/pages/common-query-parameters.adoc
  solr/solrj/src/java/org/apache/solr/common/util/ExecutorUtil.java
Labels: documentation, client:solrj, cat:search

#2756 SOLR-17489: CLI: Deprecate variations on solr urls options
  solr/core/src/java/org/apache/solr/cli/ExportTool.java
  solr/core/src/java/org/apache/solr/cli/PostLogsTool.java
  solr/core/src/java/org/apache/solr/cli/PostTool.java
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/core/src/test/org/apache/solr/cli/PostToolTest.java
  solr/core/src/test/org/apache/solr/cli/TestExportTool.java
  solr/core/src/test/org/apache/solr/cloud/SolrCloudExampleTest.java
  solr/packaging/test/test_basic_auth.bats
  solr/packaging/test/test_export.bats
  solr/packaging/test/test_extraction.bats
  solr/packaging/test/test_post.bats
  solr/packaging/test/test_snapshots.bats
  solr/packaging/test/test_ssl.bats
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/exporter/SolrExporter.java
  solr/solr-ref-guide/modules/deployment-guide/pages/enabling-ssl.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/post-tool.adoc
  solr/solr-ref-guide/modules/query-guide/pages/spatial-search.adoc
Labels: documentation, prometheus-exporter, tests, cat:cloud, cat:cli

#2730 SOLR-17468: Put SolrCloud docs first in Ref Guide
  dev-docs/apis.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/config-sets.adoc
  solr/solr-ref-guide/modules/deployment-guide/deployment-nav.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/cluster-types.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/enabling-ssl.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/installing-solr.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/monitoring-with-prometheus-and-grafana.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/rate-limiters.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-in-docker.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-on-hdfs.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solrj.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/user-managed-index-replication.adoc
  solr/solr-ref-guide/modules/getting-started/pages/introduction.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/schema-api.adoc
Labels: documentation

#2712 SOLR-17450 StatusTool with pure Java code
  gradle/testing/randomization/policies/solr-tests.policy
  solr/bin/solr
  solr/bin/solr.cmd
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/java/org/apache/solr/cli/SolrProcessManager.java
  solr/core/src/java/org/apache/solr/cli/StatusTool.java
  solr/core/src/test/org/apache/solr/cli/SolrProcessManagerTest.java
  solr/packaging/test/test_help.bats
  solr/packaging/test/test_status.bats
Labels: tool:build, start-scripts, tests, cat:cli

#2781 SOLR-17467: Finish migration to --user-managed mode
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/packaging/test/test_example_noprompt.bats
Labels: cat:cli

#2780 SOLR-17467: Update docs to reflect SolrCloud is now default mode.
  README.md
  solr/solr-ref-guide/modules/deployment-guide/pages/enabling-ssl.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/installing-solr.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-on-hdfs.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-solrcloud.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-techproducts.adoc
Labels: documentation

#2758 SOLR-17494: Remove language specific writer types
  dev-tools/scripts/smokeTestRelease.py
  solr/CHANGES.txt
  solr/benchmark/src/java/org/apache/solr/bench/search/QueryResponseWriters.java
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/response/PHPResponseWriter.java
  solr/core/src/java/org/apache/solr/response/PHPSerializedResponseWriter.java
  solr/core/src/java/org/apache/solr/response/PythonResponseWriter.java
  solr/core/src/java/org/apache/solr/response/RubyResponseWriter.java
  solr/core/src/test/org/apache/solr/response/JSONWriterTest.java
  solr/core/src/test/org/apache/solr/response/TestPHPSerializedResponseWriter.java
  solr/example/exampledocs/test_utf8.sh
  solr/server/solr/configsets/_default/conf/solrconfig.xml
  solr/server/solr/configsets/sample_techproducts_configs/conf/solrconfig.xml
  solr/solr-ref-guide/modules/deployment-guide/pages/python.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/ruby.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-techproducts.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/indexing-with-tika.adoc
  solr/solr-ref-guide/modules/query-guide/pages/response-writers.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
Labels: documentation, configs, examples, tests, cat:search, scripts

#2779 SOLR-17505: Revamp tutorials in Ref Guide to deemphasize SolrCloud since it's just default mode.
  solr/solr-ref-guide/modules/deployment-guide/pages/cluster-types.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-five-minutes.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-solrcloud.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-techproducts.adoc
Labels: documentation

#2784 SOLR-17467: Fix Windows start script for default / cloud mode
  solr/bin/solr.cmd
Labels: start-scripts

#2777 Add an option in the gradle.properties for html junit reports
  gradle/template.gradle.properties
  gradle/testing/defaults-tests.gradle
Labels: tool:build

#2682 Bump up Java version to 21
  .github/workflows/bin-solr-test.yml
  .github/workflows/docker-test.yml
  .github/workflows/gradle-precommit.yml
  .github/workflows/solrj-test.yml
  build-tools/scriptDepVersions.gradle
  build.gradle
  crave.yaml
  dev-docs/solr-source-code.adoc
  gradle/globals.gradle
  gradle/java/javac.gradle
  gradle/testing/defaults-tests.gradle
  solr/CHANGES.txt
  solr/benchmark/jmh.sh
  solr/bin/solr
  solr/bin/solr.in.cmd
  solr/bin/solr.in.sh
  solr/core/src/java/org/apache/solr/search/ValueSourceParser.java
  solr/core/src/test/org/apache/solr/cli/AssertToolTest.java
  solr/core/src/test/org/apache/solr/handler/component/TestPivotHelperCode.java
  solr/core/src/test/org/apache/solr/legacy/TestLegacyNumericUtils.java
  solr/docker/build.gradle
  solr/modules/scripting/src/java/org/apache/solr/scripting/update/ScriptUpdateProcessorFactory.java
  solr/modules/scripting/src/test/org/apache/solr/scripting/update/ScriptUpdateProcessorFactoryTest.java
  solr/solr-ref-guide/modules/deployment-guide/pages/system-requirements.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-aws.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/eval/AddEvaluatorTest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/beans/DocumentObjectBinder.java
  solr/solrj/src/java/org/apache/solr/common/util/SolrNamedThreadFactory.java
Labels: documentation, docker, client:solrj, tool:build, start-scripts, tests, cat:search, cat:index, cat:cli, module:scripting

#2751 Replace CloudLegacySolrClient with CloudHttp2SolrClient in SolrClientCloudManager
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/test/org/apache/solr/cloud/OverseerTest.java
  solr/core/src/test/org/apache/solr/cloud/ZkControllerTest.java
  solr/solrj-zookeeper/build.gradle
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/cloud/DelegatingCloudManager.java
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/cloud/SolrCloudManager.java
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/impl/SolrClientCloudManager.java
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/impl/SolrClientNodeStateProvider.java
  solr/solrj-zookeeper/src/test/org/apache/solr/client/solrj/impl/NodeValueFetcherTest.java
Labels: client:solrj, tool:build, tests, cat:cloud

#2767 Add docs detailing our ASF Jenkins usage
  dev-docs/asf-jenkins.adoc
Labels: documentation

#2794 SOLR-17511: Deprecate -i CLI usages
  solr/core/src/java/org/apache/solr/cli/SnapshotExportTool.java
  solr/packaging/test/test_prometheus.bats
  solr/prometheus-exporter/bin/solr-exporter
  solr/prometheus-exporter/bin/solr-exporter.cmd
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/exporter/SolrExporter.java
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/scraper/SolrScraper.java
  solr/solr-ref-guide/modules/deployment-guide/pages/monitoring-with-prometheus-and-grafana.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
Labels: documentation, prometheus-exporter, cat:cli

#2765 SOLR-17413: ulog replay should copy SolrQueryRequest
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/update/UpdateLog.java
Labels: cat:index

#2796 Fix release wizard to remove from Solr space before attempting Lucene
  dev-tools/scripts/releaseWizard.yaml
Labels: scripts

#2798 Fix StatusTool related issues on Windows
  gradle/testing/randomization/policies/solr-tests.policy
  solr/core/src/test/org/apache/solr/cli/SolrProcessManagerTest.java
Labels: tool:build, tests, cat:cli

#2792 SOLR-17321: Cleanup JDK version related logic in scripts
  solr/bin/solr
  solr/bin/solr.cmd
Labels: start-scripts

#2813 SOLR-17528: Match PackageTool use of -y
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
Labels: cat:cli

#2807 SOLR-17384: Bring ExportTool options in line with the new CLI pattern
  solr/core/src/java/org/apache/solr/cli/ExportTool.java
  solr/core/src/test/org/apache/solr/cli/TestExportTool.java
  solr/packaging/test/test_basic_auth.bats
  solr/packaging/test/test_export.bats
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
Labels: documentation, tests, cat:cli

#2812 SOLR-17526: Deprecate --out in favour of --verbose.
  solr/core/src/java/org/apache/solr/cli/PostTool.java
  solr/packaging/test/test_post.bats
  solr/solr-ref-guide/modules/indexing-guide/pages/indexing-with-tika.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/post-tool.adoc
Labels: documentation, cat:cli

#2802 SOLR-17515: Always init Http2SolrClient authStore
  solr/core/src/test/org/apache/solr/cloud/RecoveryZkTestWithAuth.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
Labels: client:solrj, tests, cat:cloud

#2763 SOLR-17485 Remove CheckLoggingConfiguration; unnecessary
  solr/core/src/java/org/apache/solr/servlet/BaseSolrFilter.java
  solr/core/src/java/org/apache/solr/servlet/BaseSolrServlet.java
  solr/core/src/java/org/apache/solr/servlet/CheckLoggingConfiguration.java
  solr/core/src/java/org/apache/solr/servlet/LoadAdminUiServlet.java
  solr/core/src/java/org/apache/solr/servlet/RedirectServlet.java
  solr/core/src/java/org/apache/solr/servlet/ServletUtils.java
  solr/core/src/java/org/apache/solr/servlet/SolrDispatchFilter.java
Labels: jetty-server

#2799 SOLR-11191: SolrIndexSplitter: Routing child docs by _root_ when available
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/update/SolrIndexSplitter.java
  solr/core/src/test-files/solr/configsets/cloud-minimal/conf/schema.xml
  solr/core/src/test/org/apache/solr/cloud/SplitShardTest.java
  solr/core/src/test/org/apache/solr/update/SolrIndexSplitterTest.java
  solr/solr-ref-guide/modules/deployment-guide/pages/collection-management.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/node-roles.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solrcloud-shards-indexing.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/indexing-nested-documents.adoc
Labels: documentation, tests, cat:cloud, cat:index

#2703 SOLR-16976: Remove log4j-jul jar and use slf4j bridge for JUL
  solr/CHANGES.txt
  solr/bin/solr
  solr/bin/solr.cmd
  solr/licenses/log4j-jul-2.21.0.jar.sha1
  solr/licenses/log4j-jul-LICENSE-ASL.txt
  solr/licenses/log4j-jul-NOTICE.txt
  solr/packaging/test/test_start_solr.bats
  solr/server/build.gradle
  solr/server/etc/jetty.xml
  versions.lock
Labels: dependencies, jetty-server, tool:build, start-scripts

#2797 Fix SolrJmxReporterTest#testClosedCore
  solr/core/src/test/org/apache/solr/metrics/reporters/SolrJmxReporterTest.java
Labels: tests, cat:metrics

#2816 SOLR-17483: Cleanup zk-related logic in bin/solr.cmd
  solr/bin/solr.cmd
Labels: start-scripts
