Repository apache/solr, pull requests merged in 2024-12, with the labels that each got.

#2887 SOLR-17576: Remove deprecated master/slave support in ReplicationHandler
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/IndexFetcher.java
  solr/core/src/java/org/apache/solr/handler/ReplicationHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/HealthCheckHandler.java
  solr/core/src/test-files/solr/collection1/conf/solrconfig-replication-legacy.xml
  solr/core/src/test/org/apache/solr/handler/TestReplicationHandler.java
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
Labels: documentation, tests

#2885 SOLR-17568: SolrCloud shouldn't proxy/route a core specific request
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/api/V2HttpCall.java
  solr/core/src/java/org/apache/solr/cli/ExportTool.java
  solr/core/src/java/org/apache/solr/servlet/HttpSolrCall.java
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractBasicDistributedZk2TestBase.java
Labels: documentation, test-framework, jetty-server, cat:cloud, cat:cli, cat:api

#2892 SOLR-17574: Move host allow list cache to AllowListUrlChecker.
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/security/AllowListUrlChecker.java
  solr/core/src/test/org/apache/solr/handler/component/TestShardHandlerFactory.java
  solr/core/src/test/org/apache/solr/security/AllowListUrlCheckerTest.java
  solr/solrj/src/java/org/apache/solr/common/cloud/ClusterState.java
Labels: client:solrj, tests, cat:search, cat:security

#2875 SOLR-16781: Remove solrconfig.xml <lib> directives
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/core/src/java/org/apache/solr/core/ConfigSetService.java
  solr/core/src/java/org/apache/solr/core/SolrConfig.java
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerAPI.java
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerConfigSetHelper.java
  solr/core/src/test-files/solr/collection1/conf/solrconfig-test-misc.xml
  solr/core/src/test-files/solr/configsets/upload/with-lib-directive/managed-schema.xml
  solr/core/src/test-files/solr/configsets/upload/with-lib-directive/solrconfig.xml
  solr/core/src/test/org/apache/solr/cloud/TestConfigSetsAPI.java
  solr/core/src/test/org/apache/solr/core/TestConfLoadPerf.java
  solr/core/src/test/org/apache/solr/core/TestConfig.java
  solr/core/src/test/org/apache/solr/core/TestMinimalConfig.java
  solr/core/src/test/org/apache/solr/schema/TestManagedSchemaThreadSafety.java
  solr/example/README.md
  solr/modules/ltr/src/test-files/solr/collection1/conf/solrconfig-ltr.xml
  solr/solr-ref-guide/modules/configuration-guide/pages/config-sets.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/configsets-api.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/configuring-solr-xml.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/configuring-solrconfig-xml.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/libs.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/resource-loading.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/solr-modules.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/update-request-processors.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/rule-based-authorization-plugin.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/indexing-with-tika.adoc
  solr/solr-ref-guide/modules/query-guide/pages/learning-to-rank.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-9.adoc
Labels: documentation, module:ltr, examples, tests, cat:cloud, cat:cli, cat:schema

#2897 SOLR-16781: Fix missing change in RunExampleTool
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
Labels: cat:cli

#2853 SOLR-17381 SolrJ fix to fetch entire ClusterState if asked
  solr/CHANGES.txt
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/BaseHttpClusterStateProvider.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/ClusterStateProviderTest.java
Labels: client:solrj, tests

#2856 SOLR-14680: Remove SimpleMap (affects NamedList)
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/ApiTool.java
  solr/core/src/java/org/apache/solr/cli/CLIUtils.java
  solr/core/src/java/org/apache/solr/cli/CreateTool.java
  solr/core/src/java/org/apache/solr/cli/DeleteTool.java
  solr/core/src/java/org/apache/solr/cli/StatusTool.java
  solr/core/src/java/org/apache/solr/core/OverlaidConfigNode.java
  solr/core/src/java/org/apache/solr/core/PluginInfo.java
  solr/core/src/java/org/apache/solr/core/SolrXmlConfig.java
  solr/core/src/java/org/apache/solr/schema/IndexSchema.java
  solr/core/src/java/org/apache/solr/search/CacheConfig.java
  solr/core/src/java/org/apache/solr/update/UpdateLog.java
  solr/core/src/java/org/apache/solr/util/DOMConfigNode.java
  solr/core/src/java/org/apache/solr/util/DataConfigNode.java
  solr/core/src/test/org/apache/solr/core/TestCodecSupport.java
  solr/core/src/test/org/apache/solr/handler/RequestHandlerMetricsTest.java
  solr/core/src/test/org/apache/solr/handler/admin/CoreAdminHandlerActionTest.java
  solr/core/src/test/org/apache/solr/search/facet/SpatialHeatmapFacetsTest.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/LazySolrCluster.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/SimpleZkMap.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/PerReplicaStatesOps.java
  solr/solrj/src/java/org/apache/solr/cluster/api/ApiType.java
  solr/solrj/src/java/org/apache/solr/cluster/api/CollectionConfig.java
  solr/solrj/src/java/org/apache/solr/cluster/api/HashRange.java
  solr/solrj/src/java/org/apache/solr/cluster/api/Resource.java
  solr/solrj/src/java/org/apache/solr/cluster/api/Router.java
  solr/solrj/src/java/org/apache/solr/cluster/api/Shard.java
  solr/solrj/src/java/org/apache/solr/cluster/api/ShardReplica.java
  solr/solrj/src/java/org/apache/solr/cluster/api/SimpleMap.java
  solr/solrj/src/java/org/apache/solr/cluster/api/SolrCluster.java
  solr/solrj/src/java/org/apache/solr/cluster/api/SolrCollection.java
  solr/solrj/src/java/org/apache/solr/cluster/api/SolrNode.java
  solr/solrj/src/java/org/apache/solr/cluster/api/package-info.java
  solr/solrj/src/java/org/apache/solr/common/ConfigNode.java
  solr/solrj/src/java/org/apache/solr/common/cloud/DocRouter.java
  solr/solrj/src/java/org/apache/solr/common/cloud/PerReplicaStates.java
  solr/solrj/src/java/org/apache/solr/common/util/DOMUtil.java
  solr/solrj/src/java/org/apache/solr/common/util/NamedList.java
  solr/solrj/src/java/org/apache/solr/common/util/WrappedSimpleMap.java
  solr/solrj/src/test/org/apache/solr/common/cloud/PerReplicaStatesIntegrationTest.java
Labels: client:solrj, tests, cat:search, cat:cloud, cat:index, cat:cli, cat:schema

#2898 SOLR-17561 Deprecations in ClusterState/DocCollection/Replica
  solr/solrj/src/java/org/apache/solr/common/cloud/ClusterState.java
  solr/solrj/src/java/org/apache/solr/common/cloud/DocCollection.java
  solr/solrj/src/java/org/apache/solr/common/cloud/Replica.java
Labels: client:solrj

#2901 SOLR-16390: fix flaky test ClusterPropsAPITest.testClusterPropertyOpsAllGood
  solr/core/src/test/org/apache/solr/handler/admin/api/ClusterPropsAPITest.java
Labels: tests

#2891 SOLR-17578: Remove ZkController internal core supplier.
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/java/org/apache/solr/core/ZkContainer.java
  solr/core/src/test/org/apache/solr/cloud/LeaderElectionIntegrationTest.java
  solr/core/src/test/org/apache/solr/cloud/MockSimpleZkController.java
  solr/core/src/test/org/apache/solr/cloud/TestLeaderElectionZkExpiry.java
  solr/core/src/test/org/apache/solr/cloud/ZkControllerTest.java
Labels: tests, cat:cloud

#2903 SOLR-17583: Bring back documentation for Adding Custom Expressions
  solr/solr-ref-guide/modules/query-guide/pages/streaming-expressions.adoc
Labels: documentation

#2893 SOLR-17579: Refactoring suggested by IDE in ReplicationHandler and tests
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/IndexFetcher.java
  solr/core/src/java/org/apache/solr/handler/ReplicationHandler.java
  solr/core/src/test/org/apache/solr/handler/TestReplicationHandler.java
  solr/core/src/test/org/apache/solr/handler/TestReplicationHandlerBackup.java
Labels: tests

#2809 SOLR-17525: Text Embedder Query Parser
  gradle/libs.versions.toml
  gradle/testing/randomization/policies/solr-tests.policy
  settings.gradle
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/search/neural/KnnQParser.java
  solr/licenses/converter-jackson-2.9.0.jar.sha1
  solr/licenses/converter-jackson-LICENSE-ASL.txt
  solr/licenses/converter-jackson-NOTICE.txt
  solr/licenses/jtokkit-1.1.0.jar.sha1
  solr/licenses/jtokkit-LICENSE-MIT.txt
  solr/licenses/langchain4j-0.35.0.jar.sha1
  solr/licenses/langchain4j-LICENSE-ASL.txt
  solr/licenses/langchain4j-NOTICE.txt
  solr/licenses/langchain4j-cohere-0.35.0.jar.sha1
  solr/licenses/langchain4j-core-0.35.0.jar.sha1
  solr/licenses/langchain4j-hugging-face-0.35.0.jar.sha1
  solr/licenses/langchain4j-mistral-ai-0.35.0.jar.sha1
  solr/licenses/langchain4j-open-ai-0.35.0.jar.sha1
  solr/licenses/okhttp-sse-4.12.0.jar.sha1
  solr/licenses/openai4j-0.22.0.jar.sha1
  solr/licenses/openai4j-LICENSE-ASL.txt
  solr/licenses/openai4j-NOTICE.txt
  solr/licenses/retrofit-2.9.0.jar.sha1
  solr/licenses/retrofit-LICENSE-ASL.txt
  solr/licenses/retrofit-NOTICE.txt
  solr/modules/llm/README.md
  solr/modules/llm/build.gradle
  solr/modules/llm/src/java/org/apache/solr/llm/texttovector/model/SolrTextToVectorModel.java
  solr/modules/llm/src/java/org/apache/solr/llm/texttovector/model/package-info.java
  solr/modules/llm/src/java/org/apache/solr/llm/texttovector/search/TextToVectorQParserPlugin.java
  solr/modules/llm/src/java/org/apache/solr/llm/texttovector/search/package-info.java
  solr/modules/llm/src/java/org/apache/solr/llm/texttovector/store/TextToVectorModelException.java
  solr/modules/llm/src/java/org/apache/solr/llm/texttovector/store/TextToVectorModelStore.java
  solr/modules/llm/src/java/org/apache/solr/llm/texttovector/store/package-info.java
  solr/modules/llm/src/java/org/apache/solr/llm/texttovector/store/rest/ManagedTextToVectorModelStore.java
  solr/modules/llm/src/java/org/apache/solr/llm/texttovector/store/rest/package-info.java
  solr/modules/llm/src/java/overview.html
  solr/modules/llm/src/test-files/log4j2.xml
  solr/modules/llm/src/test-files/modelExamples/cohere-model.json
  solr/modules/llm/src/test-files/modelExamples/dummy-model-ambiguous.json
  solr/modules/llm/src/test-files/modelExamples/dummy-model-unsupported.json
  solr/modules/llm/src/test-files/modelExamples/dummy-model.json
  solr/modules/llm/src/test-files/modelExamples/huggingface-model.json
  solr/modules/llm/src/test-files/modelExamples/mistralai-model.json
  solr/modules/llm/src/test-files/modelExamples/openai-model.json
  solr/modules/llm/src/test-files/solr/collection1/conf/schema.xml
  solr/modules/llm/src/test-files/solr/collection1/conf/solrconfig-llm.xml
  solr/modules/llm/src/test-files/solr/solr.xml
  solr/modules/llm/src/test/org/apache/solr/llm/TestLlmBase.java
  solr/modules/llm/src/test/org/apache/solr/llm/texttovector/model/DummyEmbeddingModel.java
  solr/modules/llm/src/test/org/apache/solr/llm/texttovector/model/DummyEmbeddingModelTest.java
  solr/modules/llm/src/test/org/apache/solr/llm/texttovector/search/TextToVectorQParserTest.java
  solr/modules/llm/src/test/org/apache/solr/llm/texttovector/store/rest/TestModelManager.java
  solr/modules/llm/src/test/org/apache/solr/llm/texttovector/store/rest/TestModelManagerPersistence.java
  solr/server/etc/security.policy
  solr/solr-ref-guide/modules/query-guide/pages/dense-vector-search.adoc
  solr/solr-ref-guide/modules/query-guide/pages/text-to-vector.adoc
  versions.lock
Labels: documentation, dependencies, jetty-server, tool:build, tests, cat:search

#2917 SOLR-17597: Fix `CaffeineCache.put()` ramBytes decrement
  solr/core/src/java/org/apache/solr/search/CaffeineCache.java
  solr/core/src/test/org/apache/solr/search/TestCaffeineCache.java
Labels: tests, cat:search

#2899 SOLR-17541: LBSolrClient implementations should agree on 'getClient()' semantics
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/java/org/apache/solr/core/HttpSolrClientProvider.java
  solr/core/src/java/org/apache/solr/handler/component/HttpShardHandler.java
  solr/core/src/java/org/apache/solr/handler/component/HttpShardHandlerFactory.java
  solr/core/src/java/org/apache/solr/security/HttpClientBuilderPlugin.java
  solr/core/src/java/org/apache/solr/security/PKIAuthenticationPlugin.java
  solr/core/src/test/org/apache/solr/cli/PostToolTest.java
  solr/core/src/test/org/apache/solr/cloud/OverseerTest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/SolrClientFunction.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/CloudHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpJdkSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBSolrClient.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudHttp2SolrClientBuilderTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpJdkSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBHttp2SolrClientIntegrationTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBHttp2SolrClientTest.java
Labels: client:solrj, tests, cat:search, cat:cloud, cat:cli, cat:security

#2900 SOLR-17588 : javabin must support primitive arrays
  solr/solrj/src/java/org/apache/solr/common/util/JavaBinCodec.java
  solr/solrj/src/test/org/apache/solr/common/util/TestJavaBinCodec.java
Labels: client:solrj, tests

#2912 SOLR-15751: Modify v2 `GET /collections/collName` to support full ColStatus response
  solr/CHANGES.txt
  solr/api/src/java/org/apache/solr/client/api/endpoint/CollectionStatusApi.java
  solr/api/src/java/org/apache/solr/client/api/endpoint/SegmentsApi.java
  solr/api/src/java/org/apache/solr/client/api/model/CollectionStatusResponse.java
  solr/api/src/java/org/apache/solr/client/api/model/GetSegmentDataResponse.java
  solr/core/src/java/org/apache/solr/api/V2HttpCall.java
  solr/core/src/java/org/apache/solr/handler/admin/ColStatus.java
  solr/core/src/java/org/apache/solr/handler/admin/CollectionsHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/SegmentsInfoRequestHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/api/CollectionStatus.java
  solr/core/src/java/org/apache/solr/handler/admin/api/CollectionStatusAPI.java
  solr/core/src/java/org/apache/solr/handler/admin/api/GetSegmentData.java
  solr/core/src/java/org/apache/solr/handler/api/V2ApiUtils.java
  solr/core/src/java/org/apache/solr/jersey/CatchAllExceptionMapper.java
  solr/core/src/java/org/apache/solr/jersey/MediaTypeOverridingFilter.java
  solr/core/src/test/org/apache/solr/cloud/CollectionsAPISolrJTest.java
  solr/core/src/test/org/apache/solr/handler/admin/IndexSizeEstimatorTest.java
  solr/core/src/test/org/apache/solr/handler/admin/TestApiFramework.java
  solr/core/src/test/org/apache/solr/handler/admin/api/V2CollectionAPIMappingTest.java
  solr/solr-ref-guide/modules/deployment-guide/pages/collection-management.adoc
Labels: documentation, tests, cat:cloud, cat:api

#2868 SOLR-17321 More jdk upgrade
  build-tools/missing-doclet/src/main/java/org/apache/lucene/missingdoclet/MissingDoclet.java
  build.gradle
  gradle/hacks/hashmapAssertions.gradle
  gradle/testing/fail-on-unsupported-jdk.gradle
  solr/core/src/java/org/apache/solr/servlet/CoreContainerProvider.java
  solr/test-framework/src/java/org/apache/solr/util/SSLTestConfig.java
  solr/test-framework/src/test/org/apache/solr/util/TestSSLTestConfig.java
Labels: test-framework, jetty-server, tool:build, tests

#2919 Deprecate MapWriter.append
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/test/org/apache/solr/cloud/OverseerTaskQueueTest.java
  solr/solrj/src/java/org/apache/solr/common/MapWriter.java
Labels: client:solrj, tests, cat:cloud
