Repository apache/solr, pull requests merged in 2024-06, with the labels that each got.

#2474 SOLR-17118: Simplify CoreContainerProvider initialization
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/servlet/CoreContainerProvider.java
  solr/core/src/java/org/apache/solr/servlet/SolrDispatchFilter.java
  solr/core/src/test/org/apache/solr/cloud/ZkFailoverTest.java
  solr/core/src/test/org/apache/solr/handler/admin/HealthCheckHandlerTest.java
  solr/test-framework/src/java/org/apache/solr/embedded/JettySolrRunner.java
Labels: test-framework, jetty-server, tests, cat:cloud

#2487 Build: report test history via GE
  gradle/testing/failed-tests-at-end.gradle
Labels: tool:build

#2495 Refactor: dedupe Utils.RANDOM from other spots
  solr/core/src/java/org/apache/solr/cloud/DistributedClusterStateUpdater.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/CollectionHandlingUtils.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/CreateCollectionCmd.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/MoveReplicaCmd.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/RestoreCmd.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/SplitShardCmd.java
  solr/core/src/java/org/apache/solr/servlet/HttpSolrCall.java
Labels: jetty-server, cat:cloud, cat:api

#2494 SOLR-17256: Deprecate SolrRequest get/set BasePath
  solr/solrj/src/java/org/apache/solr/client/solrj/SolrRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/RequestWriter.java
Labels: client:solrj

#2278 SOLR-17099: snitch does not return spurious tags
  solr/CHANGES.txt
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/impl/NodeValueFetcher.java
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/impl/SolrClientNodeStateProvider.java
  solr/solrj-zookeeper/src/test/org/apache/solr/client/solrj/impl/NodeValueFetcherTest.java
Labels: client:solrj, tests

#2492 Add 'score' field caveat to cursormark docs
  solr/solr-ref-guide/modules/query-guide/pages/pagination-of-results.adoc
Labels: documentation

#2471 SOLR-17304: PKG_VERSIONS not honored when loading the schema plugins
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/ZkSolrResourceLoader.java
  solr/core/src/java/org/apache/solr/core/SolrConfig.java
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/core/SolrResourceLoader.java
  solr/core/src/java/org/apache/solr/pkg/PackageListeners.java
  solr/core/src/java/org/apache/solr/pkg/PackageListeningClassLoader.java
  solr/core/src/test-files/solr/configsets/conf-using-mypkg-version-1/conf/params.json
  solr/core/src/test-files/solr/configsets/conf-using-mypkg-version-1/conf/schema.xml
  solr/core/src/test-files/solr/configsets/conf-using-mypkg-version-1/conf/solrconfig.xml
  solr/core/src/test/org/apache/solr/core/TestConfLoadPerf.java
  solr/core/src/test/org/apache/solr/pkg/PackageStoreSchemaPluginsTest.java
Labels: tests, cat:cloud, cat:packagemanager

#2485 SOLR-17313: Remove deprecated class SolrLogPostTool
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/SolrLogPostTool.java
Labels: cat:cli

#2496 SOLR-17317: Correct 'wt' interpretation for v2 APIs
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/api/V2ApiUtils.java
  solr/core/src/java/org/apache/solr/jersey/CatchAllExceptionMapper.java
  solr/core/src/java/org/apache/solr/jersey/MediaTypeOverridingFilter.java
  solr/core/src/test/org/apache/solr/handler/api/V2ApiUtilsTest.java
Labels: tests, cat:api

#2507 SOLR-17302: Convert /cluster filestore APIs to JAX-RS (reinstating after revert)
  solr/api/src/java/org/apache/solr/client/api/endpoint/ClusterFileStoreApis.java
  solr/api/src/java/org/apache/solr/client/api/model/UploadToFileStoreResponse.java
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/filestore/ClusterFileStore.java
  solr/core/src/java/org/apache/solr/filestore/DistribFileStore.java
  solr/core/src/java/org/apache/solr/filestore/FileStore.java
  solr/core/src/java/org/apache/solr/filestore/FileStoreAPI.java
  solr/core/src/java/org/apache/solr/filestore/FileStoreUtils.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageUtils.java
  solr/core/src/java/org/apache/solr/packagemanager/RepositoryManager.java
  solr/core/src/java/org/apache/solr/pkg/PackageAPI.java
  solr/core/src/java/org/apache/solr/pkg/SolrPackageLoader.java
  solr/core/src/test/org/apache/solr/filestore/TestDistribFileStore.java
  solr/core/src/test/org/apache/solr/handler/TestContainerPlugin.java
  solr/core/src/test/org/apache/solr/pkg/TestPackages.java
  solr/solrj/src/java/org/apache/solr/client/solrj/response/SolrResponseBase.java
  solr/solrj/src/resources/java-template/api.mustache
Labels: client:solrj, tests, cat:api, cat:packagemanager

#2502 Clean openApiGenerate output dir before generating
  solr/solrj/build.gradle
Labels: client:solrj, tool:build

#2509 fix documentation for cbor response writer. The parameter used in cod…
  solr/solr-ref-guide/modules/query-guide/pages/response-writers.adoc
Labels: documentation

#2511 SOLR-17315: Fix message formatting
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/CreateTool.java
Labels: cat:cli

#2172 SOLR-17109: Give security manager explicit read access to sharedLib
  solr/CHANGES.txt
  solr/server/etc/security.policy
Labels: jetty-server

#1203 SOLR-16796: Add Maven SBOMs via cyclonedx
  build.gradle
  gradle/maven/cyclonedx-bom.gradle
  gradle/maven/defaults-maven.gradle
  solr/CHANGES.txt
Labels: tool:build

#2510 SOLR-17326: Fix wrong references in generated API classes
  solr/CHANGES.txt
  solr/solrj/src/resources/java-template/api.mustache
  solr/solrj/src/test/org/apache/solr/client/solrj/ApiMustacheTemplateTests.java
Labels: client:solrj, tests

#1895 SOLR-16962: Restore ability to configure tlog directory
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/MoveReplicaCmd.java
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/handler/IndexFetcher.java
  solr/core/src/java/org/apache/solr/handler/ReplicationHandler.java
  solr/core/src/java/org/apache/solr/update/DirectUpdateHandler2.java
  solr/core/src/java/org/apache/solr/update/UpdateHandler.java
  solr/core/src/java/org/apache/solr/update/UpdateLog.java
  solr/core/src/test-files/solr/configsets/cloud-hdfs/conf/solrconfig.xml
  solr/core/src/test/org/apache/solr/cloud/TestCloudRecovery.java
  solr/core/src/test/org/apache/solr/cloud/TestPullReplica.java
  solr/core/src/test/org/apache/solr/cloud/TestTlogReplica.java
  solr/core/src/test/org/apache/solr/search/TestRecovery.java
  solr/core/src/test/org/apache/solr/update/CustomTLogDirTest.java
  solr/modules/hdfs/src/java/org/apache/solr/hdfs/HdfsDirectoryFactory.java
  solr/modules/hdfs/src/java/org/apache/solr/hdfs/update/HdfsUpdateLog.java
  solr/modules/hdfs/src/test/org/apache/solr/hdfs/search/TestRecoveryHdfs.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/CoreAdminRequest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/request/TestCoreAdmin.java
Labels: client:solrj, module:hdfs, tests, cat:search, cat:cloud, cat:index, cat:api

#2517 SOLR-17332: Removing lingering references to post.jar from ref guide
  solr/solr-ref-guide/modules/deployment-guide/pages/enabling-ssl.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-films.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-techproducts.adoc
Labels: documentation

#2516 SOLR-17332: Remove remnants of post.jar in build tooling.
  build.gradle
  gradle/ant-compat/solr.post-jar.gradle
  solr/.gitignore
Labels: tool:build

#2438 SOLR-17269: Do not publish synthetic solr core (of Coordinator node) to ZK
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/ZkConfigSetService.java
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/core/SyntheticSolrCore.java
  solr/core/src/java/org/apache/solr/servlet/CoordinatorHttpSolrCall.java
  solr/core/src/test/org/apache/solr/search/TestCoordinatorRole.java
Labels: jetty-server, tests, cat:search, cat:cloud

#2525 fix MoveReplicaHdfsFailoverTest after SOLR-16962
  solr/modules/hdfs/src/test/org/apache/solr/hdfs/cloud/MoveReplicaHdfsFailoverTest.java
Labels: module:hdfs, tests

#2500 Remove 'IndexUpgraderTool' page from ref-guide
  solr/solr-ref-guide/modules/deployment-guide/deployment-nav.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/indexupgrader-tool.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/upgrading-a-solr-cluster.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-7.adoc
Labels: documentation

#2501 SOLR-17321: Remove Deprecated URL API in Preparation for Java 21
  gradle/validation/forbidden-apis/defaults.all.txt
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/PostTool.java
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/java/org/apache/solr/cli/StatusTool.java
  solr/core/src/java/org/apache/solr/handler/admin/AdminHandlersProxy.java
  solr/core/src/java/org/apache/solr/packagemanager/DefaultPackageRepository.java
  solr/core/src/java/org/apache/solr/packagemanager/RepositoryManager.java
  solr/core/src/java/org/apache/solr/schema/OpenExchangeRatesOrgProvider.java
  solr/core/src/java/org/apache/solr/security/AllowListUrlChecker.java
  solr/core/src/java/org/apache/solr/security/SolrNodeKeyPair.java
  solr/core/src/java/org/apache/solr/servlet/SolrRequestParsers.java
  solr/core/src/java/org/apache/solr/update/processor/URLClassifyProcessor.java
  solr/core/src/test/org/apache/solr/cli/PostToolTest.java
  solr/core/src/test/org/apache/solr/cloud/OverseerRolesTest.java
  solr/core/src/test/org/apache/solr/cloud/TestPullReplicaErrorHandling.java
  solr/core/src/test/org/apache/solr/cloud/TestRequestForwarding.java
  solr/core/src/test/org/apache/solr/handler/ReplicationTestHelper.java
  solr/core/src/test/org/apache/solr/handler/TestReplicationHandler.java
  solr/core/src/test/org/apache/solr/handler/TestReplicationHandlerBackup.java
  solr/core/src/test/org/apache/solr/request/TestRemoteStreaming.java
  solr/core/src/test/org/apache/solr/response/transform/TestSubQueryTransformerDistrib.java
  solr/core/src/test/org/apache/solr/security/AuditLoggerIntegrationTest.java
  solr/core/src/test/org/apache/solr/servlet/HttpSolrCallCloudTest.java
  solr/modules/jwt-auth/src/java/org/apache/solr/security/jwt/JWTIssuerConfig.java
  solr/modules/jwt-auth/src/test/org/apache/solr/security/jwt/JWTAuthPluginIntegrationTest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/util/ClientUtils.java
  solr/solrj/src/test/org/apache/solr/client/solrj/TestSolrJErrorHandling.java
  solr/solrj/src/test/org/apache/solr/client/solrj/embedded/JettyWebappTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudHttp2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/common/util/ContentStreamTest.java
  solr/test-framework/src/java/org/apache/solr/embedded/JettySolrRunner.java
  solr/test-framework/src/java/org/apache/solr/handler/BackupRestoreUtils.java
  solr/test-framework/src/java/org/apache/solr/handler/TestRestoreCoreUtil.java
Labels: test-framework, jetty-server, client:solrj, module:jwt-auth, tool:build, tests, cat:search, cat:cloud, cat:index, cat:cli, cat:schema, cat:security, cat:packagemanager

#2092 Add a note that tells cosine similarities are normalized
  solr/solr-ref-guide/modules/query-guide/pages/dense-vector-search.adoc
Labels: stale

#340 SOLR-15591 / Avoid needless catch by checking condition
  solr/CHANGES.txt
  solr/test-framework/src/java/org/apache/solr/util/ExternalPaths.java
Labels: test-framework, stale

#257 SOLR-15582: Remove deprecated APIs in solrj Tuple class.
  solr/CHANGES.txt
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/Tuple.java
Labels: client:solrj, stale

#2238 example/films: README.md and vectors tweaks
  solr/example/films/README.md
  solr/example/films/vectors/create_model.py
  solr/example/films/vectors/films.py
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-vectors.adoc
Labels: documentation, examples

#2537 Fix failing test for SOLR-16962; update log must be enabled
  solr/core/src/test/org/apache/solr/update/CustomTLogDirTest.java
Labels: tests, cat:index

#1557 SOLR-16677: Updated Solr to use new Lucene 9.5 storedFields() API
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/QuerySenderListener.java
  solr/core/src/java/org/apache/solr/handler/BlobHandler.java
  solr/core/src/java/org/apache/solr/handler/MoreLikeThisHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/IndexSizeEstimator.java
  solr/core/src/java/org/apache/solr/handler/admin/LukeRequestHandler.java
  solr/core/src/java/org/apache/solr/handler/component/MoreLikeThisComponent.java
  solr/core/src/java/org/apache/solr/handler/component/RealTimeGetComponent.java
  solr/core/src/java/org/apache/solr/handler/component/ResponseLogComponent.java
  solr/core/src/java/org/apache/solr/handler/component/TermVectorComponent.java
  solr/core/src/java/org/apache/solr/highlight/DefaultSolrHighlighter.java
  solr/core/src/java/org/apache/solr/highlight/SolrHighlighter.java
  solr/core/src/java/org/apache/solr/highlight/UnifiedSolrHighlighter.java
  solr/core/src/java/org/apache/solr/index/SlowCompositeReaderWrapper.java
  solr/core/src/java/org/apache/solr/response/DocsStreamer.java
  solr/core/src/java/org/apache/solr/response/ResultContext.java
  solr/core/src/java/org/apache/solr/response/transform/ChildDocTransformer.java
  solr/core/src/java/org/apache/solr/search/ReturnFields.java
  solr/core/src/java/org/apache/solr/search/SolrDocumentFetcher.java
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
  solr/core/src/java/org/apache/solr/search/grouping/distributed/shardresultserializer/TopGroupsResultTransformer.java
  solr/core/src/java/org/apache/solr/util/SolrPluginUtils.java
  solr/core/src/test/org/apache/solr/schema/TestPointFields.java
  solr/core/src/test/org/apache/solr/search/TestDocSet.java
  solr/core/src/test/org/apache/solr/search/TestStressLucene.java
  solr/core/src/test/org/apache/solr/search/function/TestOrdValues.java
  solr/core/src/test/org/apache/solr/uninverting/TestFieldCacheVsDocValues.java
  solr/modules/clustering/src/java/org/apache/solr/handler/clustering/ClusteringComponent.java
  solr/modules/ltr/src/java/org/apache/solr/ltr/feature/FieldValueFeature.java
Labels: module:ltr, tests, cat:search, cat:index, cat:schema, module:clustering

#2535 SOLR-17349: SolrDocumentFetcher should always skip lazy field loading overhead if documentCache==null
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/search/SolrDocumentFetcher.java
Labels: cat:search
