Repository apache/solr, pull requests merged in 2024-03, with the labels that each got.

#2321 SOLR-17186: Streaming query breaks if token contains backtick
  solr/CHANGES.txt
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/expr/StreamExpressionParser.java
  solr/solrj-streaming/src/test/org/apache/solr/client/solrj/io/stream/StreamExpressionTest.java
Labels: client:solrj, tests

#2330 Add DateRangeField example to Ref Guide
  solr/core/src/test/org/apache/solr/request/macro/TestMacroExpander.java
  solr/solr-ref-guide/modules/indexing-guide/pages/date-formatting-math.adoc
  solr/solr-ref-guide/modules/query-guide/pages/learning-to-rank.adoc
  solr/solr-ref-guide/modules/query-guide/pages/streaming-expressions.adoc
Labels: documentation, tests, cat:search

#2329 SOLR-17197: Fix getting fieldType by its name in FileBasedSpellChecker
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/spelling/FileBasedSpellChecker.java
  solr/core/src/test-files/solr/collection1/conf/schema-spellchecker.xml
  solr/core/src/test/org/apache/solr/spelling/FileBasedSpellCheckerTest.java
Labels: tests, cat:search

#2328 SOLR-17190: Replace org.apache.solr.util.LongSet with hppc LongHashSet
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/component/RealTimeGetComponent.java
  solr/core/src/java/org/apache/solr/search/facet/UniqueAgg.java
  solr/core/src/java/org/apache/solr/search/join/GraphPointsCollector.java
  solr/core/src/java/org/apache/solr/update/UpdateLog.java
  solr/core/src/java/org/apache/solr/util/LongSet.java
  solr/core/src/test/org/apache/solr/util/LongSetTest.java
Labels: tests, cat:search, cat:index

#2338 SOLR-17172: Fix the test failure - sometimes execution was faster than 1 ms.
  solr/core/src/test/org/apache/solr/TestGroupingSearch.java
Labels: tests

#2162 Make parameter descriptions consistent in faceting.adoc
  solr/solr-ref-guide/modules/query-guide/pages/faceting.adoc
Labels: documentation, stale

#2340 Add default/optional tables to common-query-parameters.adoc
  solr/solr-ref-guide/modules/query-guide/pages/common-query-parameters.adoc
Labels: documentation

#2259 SOLR-599 New Solr Client Using Java 11+ java.net.http.HttpClient
  gradle/testing/randomization/policies/solr-tests.policy
  solr/CHANGES.txt
  solr/solr-ref-guide/modules/deployment-guide/pages/solrj.adoc
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpJdkSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClientBase.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClientBuilderBase.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/DebugServlet.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientCompatibilityTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientProxyTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpJdkSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpSolrClientTestBase.java
  solr/test-framework/src/java/org/apache/solr/util/SSLTestConfig.java
Labels: documentation, test-framework, client:solrj, tool:build, tests

#1926 SOLR-16403: Cluster Singleton to remove inactive Shards
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cluster/maintenance/InactiveShardRemover.java
  solr/core/src/java/org/apache/solr/cluster/maintenance/InactiveShardRemoverConfig.java
  solr/core/src/java/org/apache/solr/cluster/maintenance/package-info.java
  solr/core/src/test/org/apache/solr/cloud/DeleteShardTest.java
  solr/core/src/test/org/apache/solr/cluster/maintenance/InactiveShardRemoverTest.java
  solr/solr-ref-guide/modules/configuration-guide/pages/cluster-singleton-plugins.adoc
  solr/test-framework/src/java/org/apache/solr/cloud/ShardTestUtil.java
Labels: documentation, test-framework, tests, cat:cloud

#2337 Tests: avoid NPE in JettySolrRunner lifeCycleStopped
  solr/test-framework/src/java/org/apache/solr/embedded/JettySolrRunner.java
Labels: test-framework

#2332 fail distrib.statsCache=true when LocalStatsCache
  solr/core/src/java/org/apache/solr/handler/component/QueryComponent.java
  solr/core/src/java/org/apache/solr/handler/component/ResponseBuilder.java
  solr/core/src/java/org/apache/solr/search/QueryCommand.java
  solr/core/src/java/org/apache/solr/search/QueryResultKey.java
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
  solr/core/src/test/org/apache/solr/core/QueryResultKeyTest.java
  solr/core/src/test/org/apache/solr/search/stats/TestBaseStatsCache.java
  solr/core/src/test/org/apache/solr/search/stats/TestDefaultStatsCache.java
Labels: tests, cat:search

#2335 SOLR-17198: AttributeFetcher no longer fails when it observes multiple shard leaders
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cluster/placement/impl/CollectionMetricsBuilder.java
  solr/core/src/test/org/apache/solr/cluster/placement/impl/CollectionMetricsBuilderTest.java
Labels: tests, cat:cloud

#2347 SOLR-17203 fix calculation for CpuAllowedLimit
  solr/core/src/java/org/apache/solr/handler/RequestHandlerBase.java
  solr/core/src/java/org/apache/solr/search/CpuAllowedLimit.java
  solr/core/src/java/org/apache/solr/util/ThreadCpuTimer.java
  solr/core/src/test/org/apache/solr/search/TestCpuAllowedLimit.java
Labels: tests, cat:search

#2359 Fix unreliable DeleteShardTest
  solr/core/src/test/org/apache/solr/cloud/DeleteShardTest.java
Labels: tests, cat:cloud

#2345 SOLR-17201 Make Http2SolrClients not experimental
  solr/CHANGES.txt
  solr/solr-ref-guide/modules/deployment-guide/pages/solrj.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-9.adoc
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/CloudHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ConcurrentUpdateHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Krb5HttpClientBuilder.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/PreemptiveBasicAuthClientBuilderFactory.java
Labels: documentation, client:solrj

#286 SOLR-14892 - shards.info with shards.tolerant can yield an empty key
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/component/QueryComponent.java
  solr/core/src/test/org/apache/solr/cloud/TestShardsInfoResponse.java
Labels: tests, cat:search, cat:cloud

#2362 HttpJdkSolrClient: Close the underlying http client, if it is supported (java 21+)
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpJdkSolrClient.java
Labels: client:solrj

#2355 SOLR-16982 Reference guide change for sharded request and circuit breaker
  solr/solr-ref-guide/modules/deployment-guide/pages/circuit-breakers.adoc
Labels: documentation

#2356 SOLR-12089: FileBasedSpellChecker docs have some missing params
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/component/SpellCheckComponent.java
  solr/core/src/java/org/apache/solr/spelling/AbstractLuceneSpellChecker.java
  solr/core/src/java/org/apache/solr/spelling/WordBreakSolrSpellChecker.java
  solr/core/src/test-files/solr/collection1/conf/solrconfig-minhash.xml
  solr/core/src/test-files/solr/collection1/conf/solrconfig-plugcollector.xml
  solr/core/src/test-files/solr/collection1/conf/solrconfig-spellcheckcomponent.xml
  solr/core/src/test-files/solr/collection1/conf/solrconfig.xml
  solr/server/solr/configsets/sample_techproducts_configs/conf/solrconfig.xml
  solr/solr-ref-guide/modules/query-guide/pages/function-queries.adoc
  solr/solr-ref-guide/modules/query-guide/pages/spell-checking.adoc
  solr/test-framework/src/test-files/solr/collection1/conf/solrconfig.xml
Labels: documentation, configs, test-framework, tests, cat:search

#2273 Update required JTS version
  solr/solr-ref-guide/modules/query-guide/pages/spatial-search.adoc
Labels: documentation

#2315 [SOLR-17185] Open ValueAugmenter in ValueAugmenterFactory for extension
  solr/core/src/java/org/apache/solr/response/transform/ValueAugmenterFactory.java
  solr/core/src/test/org/apache/solr/pkg/ValueAugmenterPublicTest.java
Labels: tests, cat:search, cat:packagemanager

#2354 SOLR-17209: Fix NullPointerException in QueryComponent
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/component/QueryComponent.java
Labels: cat:search

#2372 Disable PRS for this testcase to observe if PRS is causing the problem
  solr/core/src/test/org/apache/solr/cloud/api/collections/TestLocalFSCloudBackupRestore.java
  solr/test-framework/src/java/org/apache/solr/cloud/SolrCloudTestCase.java
Labels: test-framework, tests, cat:cloud

#2371 Reorganize sort section in common-query-parameters.adoc
  solr/solr-ref-guide/modules/query-guide/pages/common-query-parameters.adoc
Labels: documentation

#2366 Update tutorial docs in the Ref Guide
  solr/solr-ref-guide/modules/configuration-guide/pages/configuration-files.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
  solr/solr-ref-guide/modules/getting-started/pages/introduction.adoc
  solr/solr-ref-guide/modules/getting-started/pages/searching-in-solr.adoc
  solr/solr-ref-guide/modules/getting-started/pages/solr-tutorial.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-aws.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-diy.adoc
  solr/solr-ref-guide/modules/getting-started/pages/tutorial-solrcloud.adoc
Labels: documentation

#2367 SOLR-17110: Fix JacksonJsonWriter to properly quote uuid values in json query response
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/response/JacksonJsonWriter.java
  solr/core/src/test/org/apache/solr/response/JSONWriterTest.java
Labels: tests, cat:search
