Repository apache/solr, pull requests merged in 2024-01, with the labels that each got.

#2187 githubPRs script: Exclude solrbot and draft PRs
  dev-tools/scripts/githubPRs.py
  dev-tools/scripts/requirements.txt
Labels: tool:scripts

#2192 SOLR-15960 Move EnvUtils to Solrj common
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
  solr/core/src/java/org/apache/solr/core/TracerConfigurator.java
  solr/core/src/java/org/apache/solr/pkg/PackageAPI.java
  solr/core/src/java/org/apache/solr/util/ModuleUtils.java
  solr/core/src/java/org/apache/solr/util/StartupLoggingUtils.java
  solr/core/src/java/org/apache/solr/util/circuitbreaker/CircuitBreakerRegistry.java
  solr/solrj/src/java/org/apache/solr/common/util/EnvUtils.java
  solr/solrj/src/java/org/apache/solr/common/util/PropertiesUtil.java
  solr/solrj/src/test/org/apache/solr/common/util/EnvUtilsTest.java
  solr/test-framework/src/java/org/apache/solr/SolrTestCase.java
Labels: test-framework, client:solrj

#2191 ReleaseWizard commands to protect new minor branch
  dev-tools/scripts/releaseWizard.yaml
Labels: tool:scripts

#2173 SOLR-17066: Switch HttpSolrClient away from core URLs, pt 1
  solr/core/src/java/org/apache/solr/cloud/RecoveryStrategy.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/CollectionHandlingUtils.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/ReindexCollectionCmd.java
  solr/core/src/java/org/apache/solr/handler/IndexFetcher.java
  solr/core/src/java/org/apache/solr/handler/ReplicationHandler.java
  solr/core/src/java/org/apache/solr/handler/SolrConfigHandler.java
  solr/core/src/java/org/apache/solr/handler/component/IterativeMergeStrategy.java
  solr/core/src/java/org/apache/solr/schema/ManagedIndexSchema.java
  solr/core/src/java/org/apache/solr/update/PeerSyncWithLeader.java
  solr/core/src/java/org/apache/solr/update/StreamingSolrClients.java
  solr/core/src/test/org/apache/solr/core/ConfigureRecoveryStrategyTest.java
  solr/core/src/test/org/apache/solr/update/SolrCmdDistributorTest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/BaseHttpClusterStateProvider.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/common/util/URLUtil.java
  solr/solrj/src/test/org/apache/solr/client/solrj/response/TestSuggesterResponse.java
  solr/solrj/src/test/org/apache/solr/common/util/URLUtilTest.java
  solr/test-framework/src/java/org/apache/solr/BaseDistributedSearchTestCase.java
  solr/test-framework/src/java/org/apache/solr/SolrTestCaseJ4.java
Labels: test-framework, client:solrj

#2196 Build: validation.git.failOnModified default to isCIBuild
  gradle/globals.gradle
  gradle/validation/git-status.gradle
Labels: tool:build

#2126 SOLR-17096: Cluster Singleton plugin support in solr.xml
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/api/ClusterPluginsSource.java
  solr/core/src/java/org/apache/solr/api/ContainerPluginsRegistry.java
  solr/core/src/java/org/apache/solr/api/NodeConfigClusterPluginsSource.java
  solr/core/src/java/org/apache/solr/api/ZkClusterPluginsSource.java
  solr/core/src/java/org/apache/solr/cluster/placement/impl/PlacementPluginFactoryLoader.java
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/core/NodeConfig.java
  solr/core/src/java/org/apache/solr/core/SolrXmlConfig.java
  solr/core/src/java/org/apache/solr/handler/SolrConfigHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/ContainerPluginsApi.java
  solr/core/src/test-files/solr/solr-50-all.xml
  solr/core/src/test/org/apache/solr/api/NodeConfigClusterPluginsSourceTest.java
  solr/core/src/test/org/apache/solr/cluster/placement/impl/NodeConfigPlacementPluginTest.java
  solr/core/src/test/org/apache/solr/cluster/placement/impl/PlacementPluginIntegrationTest.java
  solr/core/src/test/org/apache/solr/core/TestSolrXml.java
  solr/solr-ref-guide/modules/configuration-guide/pages/cluster-plugins.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/configuring-solr-xml.adoc
Labels: documentation

#2204 SOLR-15960: Use ConcurrentHashMap for EnvUtils.camelCaseToDotsMap
  solr/solrj/src/java/org/apache/solr/common/util/EnvUtils.java
Labels: client:solrj

#2201 SOLR-17066: Replace 'data store' term in code and docs
  solr/CHANGES.txt
  solr/api/src/java/org/apache/solr/client/api/endpoint/GetSchemaApi.java
  solr/api/src/java/org/apache/solr/client/api/endpoint/SelectApi.java
  solr/api/src/java/org/apache/solr/client/api/model/IndexType.java
  solr/api/src/java/org/apache/solr/client/api/util/Constants.java
  solr/api/src/java/org/apache/solr/client/api/util/StoreApiParameters.java
  solr/core/src/java/org/apache/solr/cloud/RecoveryStrategy.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/CollectionHandlingUtils.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/ReindexCollectionCmd.java
  solr/core/src/java/org/apache/solr/handler/SolrConfigHandler.java
  solr/core/src/java/org/apache/solr/handler/component/IterativeMergeStrategy.java
  solr/core/src/java/org/apache/solr/schema/ManagedIndexSchema.java
  solr/core/src/java/org/apache/solr/update/PeerSyncWithLeader.java
  solr/core/src/java/org/apache/solr/update/StreamingSolrClients.java
  solr/solr-ref-guide/modules/getting-started/pages/solr-glossary.adoc
  solr/solrj/src/java/org/apache/solr/client/solrj/SolrRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/CloudLegacySolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ConcurrentUpdateHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ConcurrentUpdateSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBHttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/SolrClientBuilder.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/AbstractUpdateRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/CollectionRequiringSolrRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/DirectXmlRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/DocumentAnalysisRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/FieldAnalysisRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/LukeRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/QueryRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/SolrPing.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/schema/AbstractSchemaRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/util/ClientUtils.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/ConcurrentUpdateSolrClientBuilderTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpSolrClientBuilderTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBHttpSolrClientBuilderTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/response/TestSuggesterResponse.java
  solr/solrj/src/test/org/apache/solr/client/solrj/util/ClientUtilsTest.java
  solr/test-framework/src/java/org/apache/solr/SolrTestCaseJ4.java
  solr/test-framework/src/java/org/apache/solr/cloud/ConfigRequest.java
Labels: documentation, test-framework, client:solrj, api

#2188 SOLR-17116: Fix INSTALLSHARDDATA async reporting
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/api/collections/InstallShardDataCmd.java
  solr/test-framework/src/java/org/apache/solr/cloud/api/collections/AbstractInstallShardTest.java
Labels: test-framework

#2208 Give NPM registry option for downloading node tools
  gradle/node.gradle
  help/localSettings.txt
Labels: documentation, tool:build

#2194 SOLR-15960: Rename getProp as getProperty
  solr/core/src/java/org/apache/solr/api/ClusterPluginsSource.java
  solr/core/src/java/org/apache/solr/core/TracerConfigurator.java
  solr/core/src/java/org/apache/solr/pkg/PackageAPI.java
  solr/core/src/java/org/apache/solr/util/ModuleUtils.java
  solr/core/src/java/org/apache/solr/util/StartupLoggingUtils.java
  solr/core/src/java/org/apache/solr/util/circuitbreaker/CircuitBreakerRegistry.java
  solr/solrj/src/java/org/apache/solr/common/util/EnvUtils.java
  solr/solrj/src/java/org/apache/solr/common/util/PropertiesUtil.java
  solr/solrj/src/test/org/apache/solr/common/util/EnvUtilsTest.java
  solr/test-framework/src/java/org/apache/solr/SolrTestCase.java
Labels: test-framework, client:solrj

#2200 SOLR-17074 - Not correctly escaped quote in bin/solr script
  solr/CHANGES.txt
  solr/bin/solr
Labels: start-scripts

#2210 solr-ref-guide: fix typo in result-clustering.adoc
  solr/solr-ref-guide/modules/query-guide/pages/result-clustering.adoc
Labels: documentation

#2193 SOLR-15960 Cut over System.getProperty() to EnvUtils for modules
  solr/modules/extraction/src/test/org/apache/solr/handler/extraction/ExtractingRequestHandlerTest.java
  solr/modules/hadoop-auth/src/java/org/apache/solr/security/hadoop/HadoopAuthPlugin.java
  solr/modules/hadoop-auth/src/java/org/apache/solr/security/hadoop/KerberosPlugin.java
  solr/modules/hadoop-auth/src/java/org/apache/solr/util/configuration/providers/hadoop/HadoopSSLCredentialProvider.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/client/solrj/impl/Krb5HttpClientUtils.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/security/hadoop/HadoopTestUtil.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/security/hadoop/ImpersonationUtil.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/security/hadoop/KerberosTestServices.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/security/hadoop/TestImpersonationWithHadoopAuth.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/security/hadoop/TestSolrCloudWithSecureImpersonation.java
  solr/modules/hadoop-auth/src/test/org/apache/solr/util/configuration/HadoopSSLConfigurationsTest.java
  solr/modules/hdfs/src/java/org/apache/solr/hdfs/HdfsDirectoryFactory.java
  solr/modules/hdfs/src/java/org/apache/solr/hdfs/index/CheckHdfsIndex.java
  solr/modules/hdfs/src/test/org/apache/hadoop/fs/RawLocalFileSystem.java
  solr/modules/hdfs/src/test/org/apache/hadoop/util/PlatformName.java
  solr/modules/hdfs/src/test/org/apache/solr/hdfs/HdfsDirectoryFactoryTest.java
  solr/modules/hdfs/src/test/org/apache/solr/hdfs/cloud/HdfsTestUtil.java
  solr/modules/jwt-auth/src/java/org/apache/solr/security/jwt/JWTIssuerConfig.java
  solr/modules/jwt-auth/src/test/org/apache/solr/security/jwt/JWTAuthPluginTest.java
  solr/modules/ltr/src/java/org/apache/solr/ltr/interleaving/algorithms/TeamDraftInterleaving.java
  solr/modules/opentelemetry/src/java/org/apache/solr/opentelemetry/OtelTracerConfigurator.java
  solr/modules/opentelemetry/src/test/org/apache/solr/opentelemetry/CustomTestOtelTracerConfigurator.java
  solr/modules/opentelemetry/src/test/org/apache/solr/opentelemetry/OtelTracerConfiguratorTest.java
  solr/modules/s3-repository/src/java/org/apache/solr/s3/S3BackupRepositoryConfig.java
Labels: test-framework, client:solrj, module:extraction, module:hadoop-auth, module:hdfs, module:jwt-auth, module:ltr, module:opentelemetry, module:s3-repository

#2144 SOLR-16397: Modify v2 'REQUESTSTATUS' API to be more REST-ful
  solr/CHANGES.txt
  solr/api/src/java/org/apache/solr/client/api/endpoint/GetNodeCommandStatusApi.java
  solr/api/src/java/org/apache/solr/client/api/model/GetNodeCommandStatusResponse.java
  solr/core/src/java/org/apache/solr/handler/admin/CoreAdminHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/CoreAdminOperation.java
  solr/core/src/java/org/apache/solr/handler/admin/api/GetNodeCommandStatus.java
  solr/core/src/java/org/apache/solr/handler/admin/api/RequestCoreCommandStatusAPI.java
  solr/core/src/test/org/apache/solr/handler/admin/api/GetNodeCommandStatusTest.java
  solr/core/src/test/org/apache/solr/handler/admin/api/V2CoreAPIMappingTest.java
  solr/solr-ref-guide/modules/configuration-guide/pages/coreadmin-api.adoc
Labels: documentation, api

#2225 SOLR-17112 - bin/solr script doesn't do ps properly on some systems
  solr/CHANGES.txt
  solr/bin/solr
Labels: start-scripts

#2219 SOLR-15781: Document v2 API syntax conventions
  dev-docs/apis.adoc
  dev-docs/v2-api-conventions.adoc
Labels: documentation

#2229 SOLR-17066: Add GenericSolrRequest.setRequiresCollection
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/ExportTool.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageManager.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageUtils.java
  solr/core/src/java/org/apache/solr/packagemanager/RepositoryManager.java
  solr/core/src/java/org/apache/solr/update/processor/DistributedUpdateProcessor.java
  solr/core/src/test/org/apache/solr/handler/TestReplicationHandler.java
  solr/core/src/test/org/apache/solr/handler/TestStressThreadBackup.java
  solr/core/src/test/org/apache/solr/pkg/TestPackages.java
  solr/core/src/test/org/apache/solr/search/TestTaskManagement.java
  solr/core/src/test/org/apache/solr/security/BasicAuthIntegrationTest.java
  solr/core/src/test/org/apache/solr/util/TestCborDataFormat.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/GenericSolrRequest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientTest.java
  solr/test-framework/src/java/org/apache/solr/handler/BackupStatusChecker.java
Labels: test-framework, client:solrj
