Repository apache/solr, pull requests merged in 2025-09, with the labels that each got.

#3505 SOLR-17876: Http2SolrClient: followRedirects=true flaky
  solr/CHANGES.txt
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
Labels: client:solrj

#3597 Revert SOLR-17875 #3512
  solr/bin/solr
  solr/bin/solr.cmd
  solr/core/src/java/org/apache/solr/cloud/api/collections/CreateCollectionCmd.java
  solr/core/src/java/org/apache/solr/core/ConfigSetService.java
  solr/packaging/test/test_start_solr.bats
  solr/solrj-zookeeper/src/test/org/apache/solr/common/cloud/TestZkConfigSetService.java
  solr/solrj/src/resources/DeprecatedSystemPropertyMappings.properties
Labels: client:solrj, start-scripts, tests, cat:cloud, cat:api

#3599 Remove unused method SolrCloudManager.request() and cleanup DelegatingCloudManager
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/cloud/DelegatingCloudManager.java
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/cloud/SolrCloudManager.java
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/impl/SolrClientCloudManager.java
Labels: client:solrj

#3600 SOLR-17715: Deprecate SolrQuery.setRequestHandler
  solr/solrj/src/java/org/apache/solr/client/solrj/SolrQuery.java
Labels: client:solrj

#3385 SOLR-17780: Add support for scalar quantized dense vectors
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/SchemaCodecFactory.java
  solr/core/src/java/org/apache/solr/schema/DenseVectorField.java
  solr/core/src/java/org/apache/solr/schema/ScalarQuantizedDenseVectorField.java
  solr/core/src/test-files/solr/collection1/conf/bad-schema-densevector-quantized-bits.xml
  solr/core/src/test-files/solr/collection1/conf/bad-schema-densevector-quantized-compress.xml
  solr/core/src/test-files/solr/collection1/conf/bad-schema-densevector-quantized-confidence-interval-high.xml
  solr/core/src/test-files/solr/collection1/conf/bad-schema-densevector-quantized-confidence-interval-low.xml
  solr/core/src/test-files/solr/collection1/conf/schema-densevector-quantized.xml
  solr/core/src/test/org/apache/solr/core/TestSchemaCodecFactoryDefaults.java
  solr/core/src/test/org/apache/solr/schema/ScalarQuantizedDenseVectorFieldTest.java
  solr/solr-ref-guide/modules/query-guide/pages/dense-vector-search.adoc
Labels: documentation, tests, cat:schema

#3514 SOLR-17806: switch ReplicationHandler metrics to OTEL
  solr/core/src/java/org/apache/solr/handler/ReplicationHandler.java
  solr/core/src/java/org/apache/solr/metrics/SolrMetricManager.java
  solr/core/src/java/org/apache/solr/metrics/SolrMetricsContext.java
Labels: cat:metrics

#3614 SOLR-17893: Use caching to remove Remote Proxy bottleneck
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/servlet/HttpSolrCall.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkStateReader.java
Labels: jetty-server, client:solrj

#3613 SOLR-17868: Introduce a single page in Ref Guide to list all system properties
  solr/solr-ref-guide/modules/configuration-guide/config-nav.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/solr-properties.adoc
Labels: documentation

#3568 SOLR-17806: Migrate SolrIndexWriter metrics to OTEL
  solr/core/src/java/org/apache/solr/update/SolrIndexWriter.java
  solr/core/src/test-files/solr/collection1/conf/solrconfig-indexmetrics.xml
  solr/core/src/test/org/apache/solr/update/SolrIndexMetricsTest.java
Labels: tests, cat:index

#3602 SOLR-17884: SolrJ, minimize org.apache.http usage
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/SolrXmlConfig.java
  solr/core/src/java/org/apache/solr/handler/IndexFetcher.java
  solr/core/src/java/org/apache/solr/handler/component/HttpShardHandlerFactory.java
  solr/core/src/java/org/apache/solr/update/UpdateShardHandler.java
  solr/core/src/java/org/apache/solr/update/UpdateShardHandlerConfig.java
  solr/core/src/test/org/apache/solr/cloud/RecoveryZkTestWithAuth.java
  solr/core/src/test/org/apache/solr/cloud/TestMiniSolrCloudClusterSSL.java
  solr/core/src/test/org/apache/solr/core/TestHttpSolrClientProvider.java
  solr/core/src/test/org/apache/solr/filestore/TestDistribFileStore.java
  solr/core/src/test/org/apache/solr/handler/admin/api/ClusterPropsAPITest.java
  solr/core/src/test/org/apache/solr/metrics/SolrMetricsIntegrationTest.java
  solr/core/src/test/org/apache/solr/pkg/TestPackages.java
  solr/core/src/test/org/apache/solr/security/BasicAuthIntegrationTest.java
  solr/core/src/test/org/apache/solr/security/BasicAuthStandaloneTest.java
  solr/core/src/test/org/apache/solr/security/MultiAuthPluginTest.java
  solr/modules/jwt-auth/src/test/org/apache/solr/security/jwt/JWTAuthPluginIntegrationTest.java
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-9.adoc
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/SolrClientCache.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ConcurrentUpdateSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpClientBuilderFactory.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpClientUtil.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClientBuilderBase.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/PreemptiveBasicAuthClientBuilderFactory.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/SolrHttpConstants.java
  solr/solrj/src/java/org/apache/solr/common/util/Utils.java
  solr/solrj/src/test/org/apache/solr/client/solrj/SolrSchemalessExampleTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientTest.java
  solr/test-framework/src/java/org/apache/solr/cloud/SolrCloudAuthTestCase.java
  solr/test-framework/src/java/org/apache/solr/util/SSLTestConfig.java
Labels: documentation, test-framework, client:solrj, module:jwt-auth, tests, cat:search, cat:cloud, cat:index, cat:security, cat:packagemanager, cat:metrics

#3609 Fix flaky test TestCollapseQParserPlugin.testMultiSort
  solr/core/src/test/org/apache/solr/search/TestCollapseQParserPlugin.java
Labels: tests, cat:search

#3638 Fix a tiny bitrot in cloud.sh with command script params
  dev-tools/scripts/cloud.sh
Labels: scripts

#1999 SOLR-17023: Use Modern NLP Models via ONNX and Apache OpenNLP with Solr
  gradle/libs.versions.toml
  solr/core/gradle.lockfile
  solr/licenses/onnxruntime-1.20.0.jar.sha1
  solr/licenses/onnxruntime-LICENSE-MIT.txt
  solr/licenses/opennlp-LICENSE-ASL.txt
  solr/licenses/opennlp-NOTICE.txt
  solr/licenses/opennlp-dl-2.5.4.jar.sha1
  solr/licenses/opennlp-tools-2.5.3.jar.sha1
  solr/licenses/opennlp-tools-2.5.4.jar.sha1
  solr/licenses/opennlp-tools-NOTICE.txt
  solr/modules/analysis-extras/build.gradle
  solr/modules/analysis-extras/gradle.lockfile
  solr/modules/analysis-extras/src/java/org/apache/solr/update/processor/DocumentCategorizerUpdateProcessorFactory.java
  solr/modules/analysis-extras/src/test-files/analysis-extras/solr/collection1/conf/doccat-model.bin
  solr/modules/analysis-extras/src/test-files/analysis-extras/solr/collection1/conf/doccat-vocab.txt
  solr/modules/analysis-extras/src/test-files/analysis-extras/solr/collection1/conf/schema-document-categorizer.xml
  solr/modules/analysis-extras/src/test-files/analysis-extras/solr/collection1/conf/solrconfig-document-categorizer.xml
  solr/modules/analysis-extras/src/test/org/apache/solr/update/processor/TestConfiguringDocumentCategorizerUpdateProcessorFactory.java
  solr/modules/extraction/gradle.lockfile
  solr/modules/langid/gradle.lockfile
  solr/modules/sql/gradle.lockfile
  solr/packaging/test/test_opennlp.bats
  solr/solr-ref-guide/antora.yml
Labels: documentation, dependencies, module:extraction, tool:build, module:sql, tests, cat:index, module:langid

#3636 SOLR-17806 Migrate AuthenticationPlugin metrics to OTEL
  solr/core/src/java/org/apache/solr/metrics/otel/instruments/AttributedLongTimer.java
  solr/core/src/java/org/apache/solr/security/AuthenticationPlugin.java
  solr/core/src/java/org/apache/solr/security/BasicAuthPlugin.java
  solr/core/src/java/org/apache/solr/security/MultiAuthPlugin.java
  solr/core/src/java/org/apache/solr/security/PKIAuthenticationPlugin.java
  solr/core/src/java/org/apache/solr/util/RTimer.java
  solr/core/src/test/org/apache/solr/security/BasicAuthIntegrationTest.java
  solr/core/src/test/org/apache/solr/security/CertAuthPluginTest.java
  solr/core/src/test/org/apache/solr/security/TestPKIAuthenticationPlugin.java
  solr/modules/jwt-auth/build.gradle
  solr/modules/jwt-auth/gradle.lockfile
  solr/modules/jwt-auth/src/java/org/apache/solr/security/jwt/JWTAuthPlugin.java
  solr/modules/jwt-auth/src/test/org/apache/solr/security/jwt/JWTAuthPluginIntegrationTest.java
  solr/solrj/gradle.lockfile
  solr/test-framework/src/java/org/apache/solr/cloud/SolrCloudAuthTestCase.java
  solr/test-framework/src/java/org/apache/solr/util/SolrMetricTestUtils.java
Labels: dependencies, test-framework, client:solrj, module:jwt-auth, tool:build, tests, cat:cloud, cat:security, cat:metrics

#3519 SOLR-17806: Migrate thread pool metrics to OTEL
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/handler/admin/CoreAdminHandler.java
  solr/core/src/java/org/apache/solr/handler/component/HttpShardHandlerFactory.java
  solr/core/src/java/org/apache/solr/update/UpdateShardHandler.java
  solr/core/src/java/org/apache/solr/util/stats/MetricUtils.java
  solr/core/src/java/org/apache/solr/util/stats/OtelInstrumentedExecutorService.java
  solr/core/src/test/org/apache/solr/util/stats/OtelInstrumentedExecutorServiceTest.java
  solr/test-framework/src/java/org/apache/solr/util/SolrMetricTestUtils.java
Labels: test-framework, tests, cat:search, cat:index

#3639 Rename BaseDistributedSearchTestCase.queryServer
  solr/core/src/test/org/apache/solr/TestDistributedGrouping.java
  solr/core/src/test/org/apache/solr/TestDistributedSearch.java
  solr/core/src/test/org/apache/solr/TestHighlightDedupGrouping.java
  solr/core/src/test/org/apache/solr/handler/component/DistributedExpandComponentTest.java
  solr/core/src/test/org/apache/solr/handler/component/DistributedFacetExistsSmallTest.java
  solr/core/src/test/org/apache/solr/handler/component/DistributedFacetPivotLongTailTest.java
  solr/core/src/test/org/apache/solr/handler/component/DistributedFacetPivotSmallAdvancedTest.java
  solr/core/src/test/org/apache/solr/handler/component/DistributedFacetPivotSmallTest.java
  solr/core/src/test/org/apache/solr/handler/component/DistributedFacetPivotWhiteBoxTest.java
  solr/core/src/test/org/apache/solr/handler/component/DistributedQueryComponentCustomSortTest.java
  solr/core/src/test/org/apache/solr/search/AnalyticsMergeStrategyTest.java
  solr/core/src/test/org/apache/solr/search/MergeStrategyTest.java
  solr/core/src/test/org/apache/solr/search/facet/DistributedFacetSimpleRefinementLongTailTest.java
  solr/test-framework/src/java/org/apache/solr/BaseDistributedSearchTestCase.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractBasicDistributedZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractFullDistribZkTestBase.java
Labels: test-framework, tests, cat:search, cat:cloud

#3669 SOLR-13973: Deprecate existing Tika integration to open door to new ways
  solr/modules/extraction/src/java/org/apache/solr/handler/extraction/ExtractingDocumentLoader.java
  solr/modules/extraction/src/java/org/apache/solr/handler/extraction/ExtractingRequestHandler.java
Labels: module:extraction

#3619 SOLR-17806: Migrate SolrFieldCacheBean metrics to OTEL
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/search/SolrFieldCacheBean.java
  solr/core/src/java/org/apache/solr/uninverting/UninvertingReader.java
  solr/core/src/test/org/apache/solr/search/TestSolrFieldCacheBean.java
Labels: tests, cat:search

#3664 NO JIRA: provide ResponseBuilder.(get,set)Stage accessors, deprecate direct access
  solr/core/src/java/org/apache/solr/handler/component/DebugComponent.java
  solr/core/src/java/org/apache/solr/handler/component/ExpandComponent.java
  solr/core/src/java/org/apache/solr/handler/component/FacetComponent.java
  solr/core/src/java/org/apache/solr/handler/component/HighlightComponent.java
  solr/core/src/java/org/apache/solr/handler/component/MoreLikeThisComponent.java
  solr/core/src/java/org/apache/solr/handler/component/PhrasesIdentificationComponent.java
  solr/core/src/java/org/apache/solr/handler/component/QueryComponent.java
  solr/core/src/java/org/apache/solr/handler/component/RealTimeGetComponent.java
  solr/core/src/java/org/apache/solr/handler/component/ResponseBuilder.java
  solr/core/src/java/org/apache/solr/handler/component/SearchHandler.java
  solr/core/src/java/org/apache/solr/handler/component/SpellCheckComponent.java
  solr/core/src/java/org/apache/solr/handler/component/StatsComponent.java
  solr/core/src/java/org/apache/solr/handler/component/SuggestComponent.java
  solr/core/src/java/org/apache/solr/handler/component/TermVectorComponent.java
  solr/core/src/java/org/apache/solr/handler/component/TermsComponent.java
  solr/core/src/java/org/apache/solr/search/facet/FacetModule.java
  solr/modules/clustering/src/java/org/apache/solr/handler/clustering/ClusteringComponent.java
Labels: cat:search, module:clustering

#3673 SOLR-17921: Prefetch liveNodes in BaseHttpClusterStateProvider
  solr/CHANGES.txt
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/BaseHttpClusterStateProvider.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/CloudSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2ClusterStateProvider.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpClusterStateProvider.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/ClusterStateProviderTest.java
Labels: client:solrj, tests

#3665 SOLR-17806: Migrate AuditLoggerPlugin to OTEL
  solr/core/src/java/org/apache/solr/metrics/SolrMetricManager.java
  solr/core/src/java/org/apache/solr/metrics/SolrMetricProducer.java
  solr/core/src/java/org/apache/solr/security/AuditLoggerPlugin.java
  solr/core/src/java/org/apache/solr/security/AuthenticationPlugin.java
  solr/core/src/java/org/apache/solr/security/MultiDestinationAuditLogger.java
  solr/core/src/test/org/apache/solr/security/AuditLoggerIntegrationTest.java
  solr/core/src/test/org/apache/solr/security/AuditLoggerPluginTest.java
  solr/core/src/test/org/apache/solr/security/MockSolrMetricsContextFactory.java
  solr/core/src/test/org/apache/solr/security/MultiDestinationAuditLoggerTest.java
  solr/core/src/test/org/apache/solr/security/SolrLogAuditLoggerPluginTest.java
  solr/solr-ref-guide/modules/deployment-guide/pages/audit-logging.adoc
  solr/test-framework/src/java/org/apache/solr/cloud/SolrCloudAuthTestCase.java
Labels: documentation, test-framework, tests, cat:cloud, cat:security, cat:metrics

#3482 SOLR-17806: Migrate SolrIndexSearcher metrics to OTEL
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
  solr/core/src/java/org/apache/solr/search/stats/StatsCache.java
  solr/core/src/test/org/apache/solr/cloud/TestBaseStatsCacheCloud.java
  solr/core/src/test/org/apache/solr/handler/admin/StatsReloadRaceTest.java
  solr/core/src/test/org/apache/solr/search/TestIndexSearcher.java
  solr/core/src/test/org/apache/solr/search/TestMainQueryCaching.java
Labels: tests, cat:search, cat:cloud

#3413 SOLR-17798: Integrate SDK OTLP metric exporter
  gradle/libs.versions.toml
  gradle/wrapper/.gradle-wrapper2818896035930485786.tmp
  solr/api/gradle.lockfile
  solr/benchmark/gradle.lockfile
  solr/core/build.gradle
  solr/core/gradle.lockfile
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/handler/RequestHandlerBase.java
  solr/core/src/java/org/apache/solr/metrics/SolrCoreMetricManager.java
  solr/core/src/java/org/apache/solr/metrics/SolrMetricManager.java
  solr/core/src/java/org/apache/solr/metrics/otel/MetricExporterFactory.java
  solr/core/src/java/org/apache/solr/metrics/otel/NoopMetricExporter.java
  solr/core/src/test/org/apache/solr/blockcache/BufferStoreTest.java
  solr/core/src/test/org/apache/solr/metrics/SolrMetricManagerTest.java
  solr/core/src/test/org/apache/solr/metrics/SolrMetricReporterTest.java
  solr/core/src/test/org/apache/solr/search/TestCaffeineCache.java
  solr/core/src/test/org/apache/solr/search/TestSolrCachePerf.java
  solr/core/src/test/org/apache/solr/search/TestThinCache.java
  solr/core/src/test/org/apache/solr/util/stats/OtelInstrumentedExecutorServiceTest.java
  solr/cross-dc-manager/gradle.lockfile
  solr/modules/analysis-extras/gradle.lockfile
  solr/modules/clustering/gradle.lockfile
  solr/modules/cross-dc/gradle.lockfile
  solr/modules/cross-dc/src/test/org/apache/solr/crossdc/handler/MirroringCollectionsHandlerTest.java
  solr/modules/extraction/gradle.lockfile
  solr/modules/gcs-repository/gradle.lockfile
  solr/modules/jwt-auth/gradle.lockfile
  solr/modules/langid/gradle.lockfile
  solr/modules/llm/gradle.lockfile
  solr/modules/ltr/gradle.lockfile
  solr/modules/opentelemetry/build.gradle
  solr/modules/opentelemetry/gradle.lockfile
  solr/modules/opentelemetry/src/java/org/apache/solr/opentelemetry/OtlpExporterFactory.java
  solr/modules/s3-repository/gradle.lockfile
  solr/modules/scripting/gradle.lockfile
  solr/modules/sql/gradle.lockfile
  solr/prometheus-exporter/gradle.lockfile
  solr/server/gradle.lockfile
  solr/solr-ref-guide/gradle.lockfile
  solr/solrj-streaming/gradle.lockfile
  solr/solrj-zookeeper/gradle.lockfile
  solr/solrj/gradle.lockfile
  solr/test-framework/gradle.lockfile
  solr/test-framework/src/java/org/apache/solr/SolrTestCaseJ4.java
  solr/webapp/gradle.lockfile
Labels: documentation, dependencies, test-framework, client:solrj, module:extraction, module:jwt-auth, module:ltr, module:opentelemetry, module:s3-repository, tool:build, prometheus-exporter, module:gcs-repository, module:sql, admin-ui, tests, cat:search, cat:api, module:clustering, cat:metrics, module:langid, module:scripting

#3668 SOLR-17806: Migrate suggest component and cross-dc metrics to OTEL
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/handler/component/SuggestComponent.java
  solr/core/src/java/org/apache/solr/metrics/SolrCoreMetricManager.java
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
  solr/core/src/test/org/apache/solr/cloud/TestBaseStatsCacheCloud.java
  solr/core/src/test/org/apache/solr/response/TestPrometheusResponseWriterCloud.java
  solr/modules/cross-dc/src/java/org/apache/solr/crossdc/update/processor/MirroringUpdateProcessor.java
  solr/modules/cross-dc/src/java/org/apache/solr/crossdc/update/processor/ProducerMetrics.java
  solr/modules/cross-dc/src/test/org/apache/solr/crossdc/update/processor/MirroringUpdateProcessorTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudHttp2SolrClientRetryTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudSolrClientRetryTest.java
  solr/test-framework/src/java/org/apache/solr/util/SolrMetricTestUtils.java
Labels: test-framework, client:solrj, tests, cat:search, cat:cloud, cat:metrics

#3699 SOLR-17932: Remove deprecated Solr Transient Cores
  solr/CHANGES.txt
  solr/api/src/java/org/apache/solr/client/api/model/CreateCoreParams.java
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/core/CoreDescriptor.java
  solr/core/src/java/org/apache/solr/core/NodeConfig.java
  solr/core/src/java/org/apache/solr/core/SolrCores.java
  solr/core/src/java/org/apache/solr/core/SolrXmlConfig.java
  solr/core/src/java/org/apache/solr/core/TransientSolrCoreCache.java
  solr/core/src/java/org/apache/solr/core/TransientSolrCoreCacheDefault.java
  solr/core/src/java/org/apache/solr/core/TransientSolrCores.java
  solr/core/src/java/org/apache/solr/handler/admin/CoreAdminHandler.java
  solr/core/src/test-files/solr/collection1/conf/solrconfig-implicitproperties.xml
  solr/core/src/test-files/solr/solr-50-all.xml
  solr/core/src/test-files/solr/solr-transientCores.xml
  solr/core/src/test/org/apache/solr/core/TestCoreDiscovery.java
  solr/core/src/test/org/apache/solr/core/TestImplicitCoreProperties.java
  solr/core/src/test/org/apache/solr/core/TestLazyCores.java
  solr/core/src/test/org/apache/solr/core/TestSolrXml.java
  solr/core/src/test/org/apache/solr/handler/admin/MetricsHandlerTest.java
  solr/core/src/test/org/apache/solr/handler/admin/V2CoresAPIMappingTest.java
  solr/core/src/test/org/apache/solr/metrics/SolrMetricsIntegrationTest.java
  solr/solr-ref-guide/modules/configuration-guide/pages/configuring-solr-xml.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/core-discovery.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/property-substitution.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/metrics-reporting.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/impl/NodeValueFetcher.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/CoreAdminRequest.java
  solr/solrj/src/java/org/apache/solr/common/params/CoreAdminParams.java
  solr/solrj/src/test/org/apache/solr/client/solrj/request/TestCoreAdmin.java
Labels: documentation, client:solrj, tests, cat:api, cat:metrics

#3615 SOLR-17892 : Add support for cuVS-Lucene as a pluggable codec in Solr
  gradle/globals.gradle
  gradle/libs.versions.toml
  gradle/testing/randomization/policies/solr-tests.policy
  settings.gradle
  solr/CHANGES.txt
  solr/licenses/cuvs-java-25.10.0.jar.sha1
  solr/licenses/cuvs-java-LICENSE-ASL.txt
  solr/licenses/cuvs-java-NOTICE.txt
  solr/licenses/cuvs-lucene-25.10.0.jar.sha1
  solr/licenses/cuvs-lucene-LICENSE-ASL.txt
  solr/licenses/cuvs-lucene-NOTICE.txt
  solr/modules/cuvs/README.md
  solr/modules/cuvs/build.gradle
  solr/modules/cuvs/gradle.lockfile
  solr/modules/cuvs/src/java/org/apache/solr/cuvs/CuVSCodec.java
  solr/modules/cuvs/src/java/org/apache/solr/cuvs/CuVSCodecFactory.java
  solr/modules/cuvs/src/java/org/apache/solr/cuvs/package-info.java
  solr/modules/cuvs/src/java/overview.html
  solr/modules/cuvs/src/test-files/log4j2.xml
  solr/modules/cuvs/src/test-files/solr/collection1/conf/schema.xml
  solr/modules/cuvs/src/test-files/solr/collection1/conf/solrconfig.xml
  solr/modules/cuvs/src/test-files/solr/solr.xml
  solr/modules/cuvs/src/test/org/apache/solr/cuvs/TestCuVSCodecSupportIT.java
  solr/server/etc/security.policy
  solr/solr-ref-guide/modules/query-guide/pages/dense-vector-search.adoc
Labels: documentation, dependencies, jetty-server, tool:build, tests, module:cuvs

#3704 SOLR-17885: Fix authentication for new UI in browser
  solr/ui/src/commonMain/composeResources/values/strings.xml
  solr/ui/src/commonMain/kotlin/org/apache/solr/ui/components/auth/BasicAuthComponent.kt
  solr/ui/src/commonMain/kotlin/org/apache/solr/ui/components/auth/integration/DefaultAuthenticationComponent.kt
  solr/ui/src/commonMain/kotlin/org/apache/solr/ui/components/start/integration/HttpStartStoreClient.kt
  solr/ui/src/commonMain/kotlin/org/apache/solr/ui/domain/AuthMethod.kt
  solr/ui/src/commonMain/kotlin/org/apache/solr/ui/domain/AuthOption.kt
  solr/ui/src/commonMain/kotlin/org/apache/solr/ui/utils/HttpClientUtils.kt
  solr/ui/src/commonMain/kotlin/org/apache/solr/ui/views/auth/BasicAuthContent.kt
  solr/webapp/web/WEB-INF/web.xml
Labels: admin-ui
