Repository apache/solr, pull requests merged in 2025-07, with the labels that each got.

#3412 SOLR-17805: Exception in TransactionLog constructor deletes the file and does not block subsequent updates.
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/handler/RequestHandlerBase.java
  solr/core/src/java/org/apache/solr/jersey/CatchAllExceptionMapper.java
  solr/core/src/java/org/apache/solr/update/DirectUpdateHandler2.java
  solr/core/src/java/org/apache/solr/update/TransactionLog.java
  solr/core/src/java/org/apache/solr/update/UpdateLog.java
  solr/core/src/test/org/apache/solr/handler/RequestHandlerBaseTest.java
  solr/core/src/test/org/apache/solr/update/UpdateLogTest.java
Labels: tests, cat:index, cat:api

#3356 SOLR-17711 index fetcher doesn't need request timeout
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/update/UpdateShardHandler.java
Labels: cat:index

#3382 SOLR-17777: Fix leaked metric registry after core unload
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/metrics/SolrMetricManager.java
  solr/core/src/test/org/apache/solr/cloud/MigrateReplicasTest.java
  solr/core/src/test/org/apache/solr/cloud/ReplaceNodeTest.java
  solr/core/src/test/org/apache/solr/metrics/SolrCoreMetricManagerTest.java
Labels: tests, cat:cloud, cat:metrics

#3411 SOLR-17804: re-create SolrClient if closed.
  solr/cross-dc-manager/src/java/org/apache/solr/crossdc/manager/consumer/KafkaCrossDcConsumer.java
  solr/cross-dc-manager/src/java/org/apache/solr/crossdc/manager/messageprocessor/SolrMessageProcessor.java
  solr/cross-dc-manager/src/test/org/apache/solr/crossdc/manager/DeleteByQueryToIdTest.java
  solr/cross-dc-manager/src/test/org/apache/solr/crossdc/manager/SimpleSolrIntegrationTest.java
  solr/cross-dc-manager/src/test/org/apache/solr/crossdc/manager/consumer/KafkaCrossDcConsumerTest.java
  solr/cross-dc-manager/src/test/org/apache/solr/crossdc/manager/messageprocessor/SolrMessageProcessorTest.java
  solr/cross-dc-manager/src/test/org/apache/solr/crossdc/manager/messageprocessor/TestMessageProcessor.java
Labels: tests

#3398 SOLR-17792: Fix deadlocks in ParallelHttpShardHandler
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/component/HttpShardHandler.java
  solr/core/src/java/org/apache/solr/handler/component/ParallelHttpShardHandler.java
  solr/core/src/java/org/apache/solr/handler/component/SearchHandler.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBHttp2SolrClient.java
Labels: client:solrj, cat:search

#3429 SOLR-17792: Fix error handling for shard requests
  solr/core/src/java/org/apache/solr/handler/component/HttpShardHandler.java
  solr/core/src/java/org/apache/solr/handler/component/SearchHandler.java
Labels: cat:search

#3432 Restore logging level after package tool.
  solr/core/src/java/org/apache/solr/cli/PackageTool.java
Labels: cat:cli

#3437 Develocity Access check
  gradle/develocity.gradle
Labels: tool:build

#3414 SOLR-17824: RecoveryStrategy.pingLeader could NPE when there's no leader.
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/RecoveryStrategy.java
Labels: cat:cloud

#3417 SOLR-17806: Migrate DirectUpdateHandler2 metrics to OTEL
  solr/core/src/java/org/apache/solr/metrics/SolrCoreMetricManager.java
  solr/core/src/java/org/apache/solr/metrics/SolrMetricProducer.java
  solr/core/src/java/org/apache/solr/metrics/SolrMetricsContext.java
  solr/core/src/java/org/apache/solr/update/DirectUpdateHandler2.java
  solr/core/src/test/org/apache/solr/cloud/TestPullReplicaWithAuth.java
  solr/core/src/test/org/apache/solr/cloud/TestTlogReplica.java
  solr/core/src/test/org/apache/solr/metrics/SolrMetricTestUtils.java
  solr/core/src/test/org/apache/solr/update/DirectUpdateHandlerTest.java
  solr/webapp/web/js/angular/controllers/plugins.js
Labels: admin-ui, tests, cat:cloud, cat:index, cat:metrics

#3440 SOLR-17806: Migrate PeerSync and PeerSyncWithLeader metrics to OTEL
  solr/core/src/java/org/apache/solr/update/PeerSync.java
  solr/core/src/java/org/apache/solr/update/PeerSyncWithLeader.java
  solr/core/src/test/org/apache/solr/cloud/PeerSyncReplicationTest.java
  solr/core/src/test/org/apache/solr/cloud/TestCloudRecovery.java
  solr/core/src/test/org/apache/solr/metrics/SolrMetricTestUtils.java
Labels: tests, cat:cloud, cat:index, cat:metrics

#3436 SOLR-17721 - null pointer fix in the doAddDistinct method
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/update/processor/AtomicUpdateDocumentMerger.java
  solr/core/src/test/org/apache/solr/update/processor/AtomicUpdatesTest.java
Labels: tests, cat:index
