Repository apache/solr, pull requests merged in 2025-02, with the labels that each got.

#2924 SOLR-16903: Migrate off java.io.File to java.nio.file.Path from core files
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/ZkSolrResourceLoader.java
  solr/core/src/java/org/apache/solr/core/CachingDirectoryFactory.java
  solr/core/src/java/org/apache/solr/core/CoreDescriptor.java
  solr/core/src/java/org/apache/solr/core/DirectoryFactory.java
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/core/SolrPaths.java
  solr/core/src/java/org/apache/solr/core/SolrResourceLoader.java
  solr/core/src/java/org/apache/solr/core/backup/BackupManager.java
  solr/core/src/java/org/apache/solr/filestore/DistribFileStore.java
  solr/core/src/java/org/apache/solr/filestore/FileStore.java
  solr/core/src/java/org/apache/solr/handler/IndexFetcher.java
  solr/core/src/java/org/apache/solr/handler/admin/CoreAdminHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/CoreAdminOperation.java
  solr/core/src/java/org/apache/solr/handler/admin/ShowFileRequestHandler.java
  solr/core/src/java/org/apache/solr/pkg/SolrPackageLoader.java
  solr/core/src/java/org/apache/solr/rest/ManagedResourceStorage.java
  solr/core/src/java/org/apache/solr/schema/ManagedIndexSchemaFactory.java
  solr/core/src/java/org/apache/solr/spelling/AbstractLuceneSpellChecker.java
  solr/core/src/java/org/apache/solr/spelling/suggest/fst/AnalyzingInfixLookupFactory.java
  solr/core/src/java/org/apache/solr/spelling/suggest/fst/BlendedInfixLookupFactory.java
  solr/core/src/java/org/apache/solr/util/FileUtils.java
  solr/core/src/java/org/apache/solr/util/RegexFileFilter.java
  solr/core/src/java/org/apache/solr/util/SystemIdResolver.java
  solr/core/src/java/org/apache/solr/util/VersionedFile.java
  solr/core/src/test/org/apache/solr/util/RegexFileFilterTest.java
Labels: tests, cat:search, cat:cloud, cat:schema, cat:packagemanager

#3121 remove deprecated KnnVectorField use
  solr/core/src/java/org/apache/solr/schema/DenseVectorField.java
  solr/core/src/test/org/apache/solr/update/DocumentBuilderTest.java
  solr/core/src/test/org/apache/solr/update/DocumentBuilderVectorCatchAllCopyTest.java
Labels: tests, cat:index, cat:schema

#3154 SOLR-17379: Fix date parsing in Java 23, remove Lucene TestSecurityManager
  gradle/testing/randomization.gradle
  solr/core/src/java/org/apache/solr/update/processor/ParseDateFieldUpdateProcessorFactory.java
  solr/core/src/test/org/apache/solr/security/BasicAuthIntegrationTest.java
  solr/core/src/test/org/apache/solr/update/processor/ParsingFieldUpdateProcessorsTest.java
Labels: tool:build, tests, cat:index, cat:security

#3156 SOLR-17582: Stream CLUSTERSTATUS API for SolrJ version >= 9.9
  solr/core/src/java/org/apache/solr/cli/StatusTool.java
  solr/core/src/java/org/apache/solr/handler/admin/ClusterStatus.java
  solr/core/src/java/org/apache/solr/handler/admin/CollectionsHandler.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/TestCollectionAPI.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/BaseHttpClusterStateProvider.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/ClusterStateProviderTest.java
Labels: client:solrj, tests, cat:cloud, cat:cli

#3160 SOLR-17654: DistribFileStore._getRealPath() has issues on Windows
  solr/core/src/java/org/apache/solr/filestore/DistribFileStore.java
Labels: cat:packagemanager

#3155 SOLR-17648: multiThreaded=true: changed queue implementation
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
Labels: cat:search

#3037 SolrTestCaseJ4: don't reset HttpClient SSL stuff
  solr/core/src/test/org/apache/solr/cloud/SSLMigrationTest.java
  solr/core/src/test/org/apache/solr/cloud/TestMiniSolrCloudClusterSSL.java
  solr/test-framework/src/java/org/apache/solr/SolrTestCaseJ4.java
Labels: test-framework, tests, cat:cloud

#2764 SOLR-16503: Use Http2SolrClient in SolrClientCache, SchemaDesigner
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerAPI.java
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerConfigSetHelper.java
  solr/core/src/test/org/apache/solr/handler/designer/TestSchemaDesignerConfigSetHelper.java
Labels: tests

#3158 SOLR-17649: Fix Json faceting on multivalue number types
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/search/facet/FacetField.java
  solr/core/src/java/org/apache/solr/search/facet/FacetFieldProcessorByArrayDV.java
  solr/core/src/java/org/apache/solr/search/facet/FieldUtil.java
  solr/core/src/test-files/solr/collection1/conf/schema_latest.xml
  solr/core/src/test/org/apache/solr/response/TestRawTransformer.java
  solr/core/src/test/org/apache/solr/search/facet/TestJsonFacets.java
Labels: tests, cat:search

#3148 Add NavigableObject.wrap. Deprecate MapWriter.EMPTY and MapWriterMap.
  solr/core/src/test/org/apache/solr/cloud/BalanceReplicasTest.java
  solr/core/src/test/org/apache/solr/pkg/TestPackages.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/NodesSysPropsCacher.java
  solr/solrj/src/java/org/apache/solr/common/MapWriter.java
  solr/solrj/src/java/org/apache/solr/common/MapWriterMap.java
  solr/solrj/src/java/org/apache/solr/common/NavigableObject.java
  solr/solrj/src/java/org/apache/solr/common/util/Utils.java
  solr/solrj/src/test/org/apache/solr/common/cloud/PerReplicaStatesIntegrationTest.java
Labels: client:solrj, tests, cat:cloud, cat:packagemanager

#3173 SOLR-17663: Protect TimeOut from overflow.
  solr/core/src/java/org/apache/solr/util/TimeOut.java
  solr/core/src/test/org/apache/solr/util/TimeOutTest.java
Labels: tests

#3171 Fix DockMakerTest maxCardinality
  solr/benchmark/src/java/org/apache/solr/bench/generators/StringsDSL.java
  solr/benchmark/src/test/org/apache/solr/bench/DockMakerTest.java
Labels: tests

#3180 build solr/webapp/build.gradle: remove needless excludes
  solr/webapp/build.gradle
Labels: tool:build, admin-ui

#3049 SOLR-17630 Add SolrCloudManager.getSolrClient
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/ReindexCollectionCmd.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/SplitShardCmd.java
  solr/core/src/java/org/apache/solr/cluster/events/impl/CollectionsRepairEventListener.java
  solr/core/src/java/org/apache/solr/cluster/maintenance/InactiveShardRemover.java
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/handler/admin/ColStatus.java
  solr/core/src/java/org/apache/solr/handler/admin/api/CollectionStatus.java
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerAPI.java
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerConfigSetHelper.java
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/cloud/DelegatingCloudManager.java
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/cloud/SolrCloudManager.java
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/impl/SolrClientCloudManager.java
Labels: client:solrj, cat:cloud, cat:api

#3047 SOLR-17351: Decompose filestore "get file" API
  solr/CHANGES.txt
  solr/api/src/java/org/apache/solr/client/api/endpoint/ClusterFileStoreApis.java
  solr/api/src/java/org/apache/solr/client/api/endpoint/NodeFileStoreApis.java
  solr/api/src/java/org/apache/solr/client/api/model/FileStoreDirectoryListingResponse.java
  solr/api/src/java/org/apache/solr/client/api/model/FileStoreJsonFileResponse.java
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/filestore/ClusterFileStore.java
  solr/core/src/java/org/apache/solr/filestore/DistribFileStore.java
  solr/core/src/java/org/apache/solr/filestore/NodeFileStore.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageManager.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageUtils.java
  solr/core/src/java/org/apache/solr/packagemanager/RepositoryManager.java
  solr/core/src/test/org/apache/solr/filestore/TestDistribFileStore.java
  solr/core/src/test/org/apache/solr/pkg/PackageStoreSchemaPluginsTest.java
  solr/solr-ref-guide/modules/configuration-guide/pages/package-manager-internals.adoc
  solr/solrj/src/java/org/apache/solr/client/solrj/InputStreamResponse.java
  solr/solrj/src/java/org/apache/solr/client/solrj/util/ClientUtils.java
  solr/solrj/src/resources/java-template/api.mustache
Labels: documentation, client:solrj, tests, cat:api, cat:packagemanager

#3183 SOLR-17673: Disable multithreaded search at the node level by default
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/NodeConfig.java
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-9.adoc
Labels: documentation

#3186 SOLR-17673: Add back in option to use max CPU threads for searching
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
  solr/server/solr/solr.xml
  solr/solr-ref-guide/modules/configuration-guide/pages/configuring-solr-xml.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-9.adoc
Labels: documentation, configs, cat:search

#3150 SOLR-17645: Gracefully handle exceptions in executor threads
  solr/core/src/java/org/apache/solr/cloud/ZkCollectionTerms.java
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/java/org/apache/solr/cloud/ZkShardTerms.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkStateReader.java
Labels: client:solrj, cat:cloud

#3184 Exclude Kotlin multiplatform tests on -x test
  solr/ui/build.gradle.kts
Labels: admin-ui

#3175 Update enabling-ssl.adoc - fix minor typo in example
  solr/solr-ref-guide/modules/deployment-guide/pages/enabling-ssl.adoc
Labels: documentation

#3187 Update and align UI module dependencies
  gradle/libs.versions.toml
  kotlin-js-store/yarn.lock
  solr/licenses/kotlin-stdlib-2.1.0.jar.sha1
  solr/licenses/kotlin-stdlib-2.1.10.jar.sha1
  solr/licenses/kotlin-stdlib-jdk7-2.1.0.jar.sha1
  solr/licenses/kotlin-stdlib-jdk7-2.1.10.jar.sha1
  solr/licenses/kotlin-stdlib-jdk8-2.1.0.jar.sha1
  solr/licenses/kotlin-stdlib-jdk8-2.1.10.jar.sha1
  solr/modules/jwt-auth/gradle.lockfile
  solr/modules/llm/gradle.lockfile
  solr/modules/opentelemetry/gradle.lockfile
  solr/ui/build.gradle.kts
  solr/ui/gradle.lockfile
Labels: dependencies, module:jwt-auth, module:opentelemetry, tool:build, admin-ui

#3189 SOLR-17668: Add in cluster command to tool help.
  solr/core/src/java/org/apache/solr/cli/SolrCLI.java
Labels: cat:cli

#3188 Address that the word solrcli doesnt find this main page in Ref Guide
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-control-script-reference.adoc
Labels: documentation

#3041 SOLR-17609: mark deprecation of HDFS module in 9x and removal in 10
  solr/modules/hdfs/src/java/org/apache/solr/hdfs/HdfsDirectoryFactory.java
  solr/solr-ref-guide/modules/deployment-guide/pages/solr-on-hdfs.adoc
Labels: documentation, jetty-server, tool:build, start-scripts, tests, cat:search, cat:cloud, cat:index, cat:cli, cat:api, cat:schema, scripts, cat:security, cat:packagemanager, cat:metrics

#3193 SOLR-17609: Remove trailing file missed from from original SOLR-17609
  solr/modules/hdfs/gradle.lockfile
Labels: dependencies

#3161 Make PGP signing the release announcement optional
  dev-tools/scripts/releaseWizard.yaml
Labels: scripts

#3195 Bugfix: Disable wasmJs browser tests
  kotlin-js-store/yarn.lock
  solr/ui/build.gradle.kts
  solr/ui/karma.config.d/wasm/adjust-timeouts.js
  solr/ui/src/commonTest/kotlin/org/apache/solr/ui/views/components/SolrCardTest.kt
  solr/ui/src/commonTest/kotlin/org/apache/solr/ui/views/environment/EnvironmentContentTest.kt
Labels: admin-ui

#3196 Fix asciidoc errors and warnings
  solr/solr-ref-guide/modules/configuration-guide/pages/solr-plugins.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/cluster-node-management.adoc
  solr/solr-ref-guide/modules/getting-started/pages/solr-admin-ui.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/language-analysis.adoc
  solr/solr-ref-guide/modules/query-guide/pages/query-syntax-and-parsers.adoc
  solr/solr-ref-guide/modules/query-guide/pages/text-to-vector.adoc
Labels: documentation

#3194 @SOLR-17675 Remove DirContext param from DirectoryFactory create method.
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/ByteBuffersDirectoryFactory.java
  solr/core/src/java/org/apache/solr/core/CachingDirectoryFactory.java
  solr/core/src/java/org/apache/solr/core/DirectoryFactory.java
  solr/core/src/java/org/apache/solr/core/MMapDirectoryFactory.java
  solr/core/src/java/org/apache/solr/core/NIOFSDirectoryFactory.java
  solr/core/src/java/org/apache/solr/core/NRTCachingDirectoryFactory.java
  solr/core/src/java/org/apache/solr/core/RAMDirectoryFactory.java
  solr/core/src/java/org/apache/solr/core/StandardDirectoryFactory.java
  solr/core/src/test/org/apache/solr/core/AlternateDirectoryTest.java
  solr/core/src/test/org/apache/solr/core/ByteBuffersDirectoryFactoryTest.java
  solr/core/src/test/org/apache/solr/core/RAMDirectoryFactoryTest.java
  solr/core/src/test/org/apache/solr/handler/admin/CoreMergeIndexesAdminHandlerTest.java
  solr/test-framework/src/java/org/apache/solr/core/MockDirectoryFactory.java
  solr/test-framework/src/java/org/apache/solr/core/MockFSDirectoryFactory.java
Labels: test-framework, tests

#3198 Fix race condition in TestThinCache
  solr/core/src/test/org/apache/solr/search/ThinCache.java
Labels: tests, cat:search

#3202 LogListener: remove no-arg convenience methods
  solr/test-framework/src/java/org/apache/solr/util/LogListener.java
  solr/test-framework/src/test/org/apache/solr/util/TestErrorLogMuter.java
Labels: test-framework, tests

#3149 in tests replace deprecated IndexSearcher.doc() calls
  solr/core/src/test/org/apache/solr/BasicFunctionalityTest.java
  solr/core/src/test/org/apache/solr/handler/tagger/TaggerTestCase.java
  solr/core/src/test/org/apache/solr/legacy/TestNumericRangeQuery32.java
  solr/core/src/test/org/apache/solr/legacy/TestNumericRangeQuery64.java
  solr/core/src/test/org/apache/solr/search/LargeFieldTest.java
  solr/core/src/test/org/apache/solr/uninverting/TestFieldCacheSort.java
  solr/core/src/test/org/apache/solr/uninverting/TestNumericTerms32.java
  solr/core/src/test/org/apache/solr/uninverting/TestNumericTerms64.java
  solr/core/src/test/org/apache/solr/update/AddBlockUpdateTest.java
  solr/core/src/test/org/apache/solr/update/processor/ClassificationUpdateProcessorIntegrationTest.java
  solr/modules/ltr/src/test/org/apache/solr/ltr/TestLTRReRankingPipeline.java
  solr/modules/ltr/src/test/org/apache/solr/ltr/TestLTRScoringQuery.java
  solr/modules/ltr/src/test/org/apache/solr/ltr/TestSelectiveWeightCreation.java
Labels: module:ltr, tests, cat:search, cat:index

#3054 SOLR-16391: Convert create-core, core-status to JAX-RS
  solr/api/build.gradle
  solr/api/gradle.lockfile
  solr/api/src/java/org/apache/solr/client/api/endpoint/CoreApis.java
  solr/api/src/java/org/apache/solr/client/api/model/CoreStatusResponse.java
  solr/api/src/java/org/apache/solr/client/api/model/CreateCoreParams.java
  solr/api/src/java/org/apache/solr/client/api/model/CreateCoreResponse.java
  solr/benchmark/gradle.lockfile
  solr/core/src/java/org/apache/solr/cli/CLIUtils.java
  solr/core/src/java/org/apache/solr/handler/admin/CoreAdminHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/CoreAdminOperation.java
  solr/core/src/java/org/apache/solr/handler/admin/LukeRequestHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/StatusOp.java
  solr/core/src/java/org/apache/solr/handler/admin/api/AllCoresStatusAPI.java
  solr/core/src/java/org/apache/solr/handler/admin/api/CoreStatus.java
  solr/core/src/java/org/apache/solr/handler/admin/api/CreateCore.java
  solr/core/src/java/org/apache/solr/handler/admin/api/CreateCoreAPI.java
  solr/core/src/java/org/apache/solr/handler/admin/api/SingleCoreStatusAPI.java
  solr/core/src/java/org/apache/solr/jersey/SolrJacksonMapper.java
  solr/core/src/test/org/apache/solr/cloud/CollectionsAPISolrJTest.java
  solr/core/src/test/org/apache/solr/cloud/DeleteReplicaTest.java
  solr/core/src/test/org/apache/solr/cloud/DeleteShardTest.java
  solr/core/src/test/org/apache/solr/cloud/SystemCollectionCompatTest.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/CollectionReloadTest.java
  solr/core/src/test/org/apache/solr/handler/admin/CoreAdminCreateDiscoverTest.java
  solr/core/src/test/org/apache/solr/handler/admin/CoreAdminHandlerTest.java
  solr/core/src/test/org/apache/solr/handler/admin/CoreAdminOperationTest.java
  solr/core/src/test/org/apache/solr/handler/admin/TestApiFramework.java
  solr/core/src/test/org/apache/solr/handler/admin/TestCoreAdminApis.java
  solr/core/src/test/org/apache/solr/handler/admin/V2CoresAPIMappingTest.java
  solr/core/src/test/org/apache/solr/schema/TestCloudManagedSchema.java
  solr/core/src/test/org/apache/solr/schema/TestManagedSchema.java
  solr/core/src/test/org/apache/solr/util/tracing/TestSimplePropagatorDistributedTracing.java
  solr/documentation/gradle.lockfile
  solr/modules/analysis-extras/gradle.lockfile
  solr/modules/clustering/gradle.lockfile
  solr/modules/cross-dc/gradle.lockfile
  solr/modules/gcs-repository/gradle.lockfile
  solr/modules/jwt-auth/gradle.lockfile
  solr/modules/langid/gradle.lockfile
  solr/modules/llm/gradle.lockfile
  solr/modules/ltr/gradle.lockfile
  solr/modules/opentelemetry/gradle.lockfile
  solr/modules/s3-repository/gradle.lockfile
  solr/modules/scripting/gradle.lockfile
  solr/solr-ref-guide/gradle.lockfile
  solr/solr-ref-guide/modules/configuration-guide/pages/coreadmin-api.adoc
  solr/solrj-streaming/gradle.lockfile
  solr/solrj-zookeeper/gradle.lockfile
  solr/solrj/build.gradle
  solr/solrj/src/java/org/apache/solr/client/solrj/request/CoreAdminRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/response/CoreAdminResponse.java
  solr/solrj/src/java/org/apache/solr/common/util/CollectionUtil.java
  solr/solrj/src/test/org/apache/solr/client/solrj/request/TestCoreAdmin.java
  solr/test-framework/build.gradle
  solr/test-framework/gradle.lockfile
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractMoveReplicaTestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/SolrCloudTestCase.java
  solr/test-framework/src/java/org/apache/solr/cloud/api/collections/AbstractCollectionsAPIDistributedZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/embedded/JettySolrRunner.java
Labels: documentation, dependencies, test-framework, client:solrj, module:jwt-auth, module:ltr, module:opentelemetry, module:s3-repository, tool:build, module:gcs-repository, tests, cat:cloud, cat:cli, cat:api, cat:schema, module:clustering, module:langid, module:scripting

#3203 SOLR-17677: Ensure DBQ is safe before running
  solr/core/src/java/org/apache/solr/search/JoinQuery.java
  solr/core/src/java/org/apache/solr/search/SolrSearcherRequirementDetector.java
  solr/core/src/java/org/apache/solr/search/SolrSearcherRequirer.java
  solr/core/src/java/org/apache/solr/search/TopLevelJoinQuery.java
  solr/core/src/java/org/apache/solr/search/join/CrossCollectionJoinQuery.java
  solr/core/src/java/org/apache/solr/search/join/GraphQuery.java
  solr/core/src/java/org/apache/solr/search/join/HashRangeQuery.java
  solr/core/src/java/org/apache/solr/update/DirectUpdateHandler2.java
  solr/core/src/test/org/apache/solr/cloud/TestCloudDeleteByQuery.java
  solr/core/src/test/org/apache/solr/search/SolrSearcherRequirementDetectorTest.java
  solr/solr-ref-guide/modules/indexing-guide/pages/indexing-with-update-handlers.adoc
Labels: documentation, tests, cat:search, cat:cloud, cat:index

#3181 SOLR-17670: Fix unnecessary memory allocation caused by a large reRankDocs param
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/search/ReRankCollector.java
Labels: cat:search

#3206 SOLR-17677: HashRangeQuery doesn't NEED SolrIndexSearcher
  solr/core/src/java/org/apache/solr/search/join/HashRangeQuery.java
  solr/core/src/test/org/apache/solr/cloud/TestCloudDeleteByQuery.java
  solr/core/src/test/org/apache/solr/search/SolrSearcherRequirementDetectorTest.java
Labels: tests, cat:search, cat:cloud

#3205 Finally fix TestCoordinatorRole for good.
  solr/core/src/test/org/apache/solr/search/TestCoordinatorRole.java
Labels: tests, cat:search

#3204 SOLR-16903: Switch CoreContainer#getSolrHome to return Path instead of String
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/core/SyntheticSolrCore.java
  solr/core/src/java/org/apache/solr/core/ZkContainer.java
  solr/core/src/java/org/apache/solr/filestore/DistribFileStore.java
  solr/core/src/java/org/apache/solr/handler/admin/SecurityConfHandlerLocal.java
  solr/core/src/java/org/apache/solr/handler/admin/SystemInfoHandler.java
  solr/core/src/java/org/apache/solr/pkg/SolrPackageLoader.java
  solr/core/src/test/org/apache/solr/core/TestConfigSets.java
  solr/core/src/test/org/apache/solr/core/TestCoreContainer.java
  solr/core/src/test/org/apache/solr/filestore/TestDistribFileStore.java
  solr/core/src/test/org/apache/solr/metrics/SolrMetricsIntegrationTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/request/TestCoreAdmin.java
  solr/test-framework/src/test/org/apache/solr/cloud/MiniSolrCloudClusterTest.java
Labels: test-framework, client:solrj, tests, cat:cloud, cat:packagemanager, cat:metrics

#3200 SOLR-17518: Deprecate UpdateRequest.getXml() and replace it with XMLRequestWriter
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/client/solrj/embedded/EmbeddedSolrServer.java
  solr/core/src/test/org/apache/solr/update/AddBlockUpdateTest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/BinaryRequestWriter.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/XMLRequestWriter.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/RequestWriter.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/UpdateRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/util/ClientUtils.java
  solr/solrj/src/test/org/apache/solr/client/solrj/SolrExampleXMLTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/TestBatchUpdate.java
  solr/solrj/src/test/org/apache/solr/client/solrj/TestSolrJErrorHandling.java
  solr/solrj/src/test/org/apache/solr/client/solrj/embedded/SolrExampleStreamingHttp2Test.java
  solr/solrj/src/test/org/apache/solr/client/solrj/embedded/SolrExampleStreamingTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/embedded/SolrExampleXMLHttp2Test.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/BasicHttpSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpJdkSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/util/ClientUtilsTest.java
Labels: client:solrj, tests, cat:index

#3197 SOLR-17650: Fix tests for unordered buffered updates
  solr/core/src/test/org/apache/solr/search/TestRecovery.java
  solr/test-framework/src/java/org/apache/solr/SolrTestCaseJ4.java
  solr/test-framework/src/java/org/apache/solr/util/SolrMatchers.java
Labels: test-framework, tests, cat:search

#3179 SOLR-17669: Reduce Memory Consumption by 80-90% when using Dynamic fields (DocumentObjectBinder)
  solr/CHANGES.txt
  solr/solrj/src/java/org/apache/solr/client/solrj/beans/DocumentObjectBinder.java
  solr/solrj/src/test/org/apache/solr/client/solrj/beans/TestDocumentObjectBinder.java
Labels: client:solrj, tests

#3215 SOLR-17518: Remove deprecated XML methods from UpdateRequest
  solr/CHANGES.txt
  solr/core/src/test/org/apache/solr/update/processor/TestPartialUpdateDeduplication.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/UpdateRequest.java
Labels: client:solrj, tests, cat:index

#3208 SOLR-17644: Fix missing auth listener
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/test/org/apache/solr/security/BasicAuthIntegrationTest.java
Labels: tests, cat:cloud, cat:security
