Repository apache/solr, pull requests merged in 2025-04, with the labels that each got.

#3300 SOLR-16903: Nightly test failures from Path migration
  solr/core/src/test/org/apache/solr/cli/ZkSubcommandsTest.java
  solr/core/src/test/org/apache/solr/cloud/MissingSegmentRecoveryTest.java
  solr/core/src/test/org/apache/solr/handler/TestReplicationHandler.java
  solr/core/src/test/org/apache/solr/handler/TestStressThreadBackup.java
  solr/core/src/test/org/apache/solr/update/CustomTLogDirTest.java
  solr/test-framework/src/java/org/apache/solr/BaseDistributedSearchTestCase.java
Labels: test-framework, tests, cat:cloud, cat:index, cat:cli

#3298 SOLR-14070 : Deprecate CloudSolrClient's ZKHost constructor
  solr/CHANGES.txt
  solr/solr-ref-guide/modules/deployment-guide/pages/solrj.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/CloudSolrClient.java
Labels: documentation, client:solrj

#3244 SOLR-17655: Remove ExternalFileField
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/schema/ExternalFileField.java
  solr/core/src/java/org/apache/solr/schema/ExternalFileFieldReloader.java
  solr/core/src/java/org/apache/solr/search/function/FileFloatSource.java
  solr/core/src/java/org/apache/solr/util/VersionedFile.java
  solr/core/src/test-files/solr/collection1/conf/bad-schema-eff.xml
  solr/core/src/test-files/solr/collection1/conf/schema-eff.xml
  solr/core/src/test-files/solr/collection1/conf/schema-trie.xml
  solr/core/src/test-files/solr/collection1/conf/schema-vector-catchall.xml
  solr/core/src/test-files/solr/collection1/conf/schema.xml
  solr/core/src/test-files/solr/collection1/conf/schema11.xml
  solr/core/src/test-files/solr/collection1/conf/solrconfig-functionquery.xml
  solr/core/src/test/org/apache/solr/schema/ExternalFileFieldSortTest.java
  solr/core/src/test/org/apache/solr/search/function/TestFunctionQuery.java
  solr/core/src/test/org/apache/solr/update/processor/AbstractAtomicUpdatesMultivalueTestBase.java
  solr/solr-ref-guide/modules/indexing-guide/pages/external-files-processes.adoc
  solr/solr-ref-guide/modules/indexing-guide/pages/field-types-included-with-solr.adoc
  solr/solr-ref-guide/modules/query-guide/pages/result-grouping.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
  solr/test-framework/src/test-files/solr/collection1/conf/schema.xml
Labels: documentation, test-framework, tests, cat:search, cat:index, cat:schema

#3265 SOLR-17701: Strip out AUTH_PORT in favour of SOLR_PORT
  solr/CHANGES.txt
  solr/bin/solr
  solr/bin/solr.cmd
  solr/packaging/test/test_auth.bats
Labels: start-scripts

#3212 SOLR-17683: Remove CurrencyField
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/component/RangeFacetRequest.java
  solr/core/src/java/org/apache/solr/schema/CurrencyField.java
  solr/core/src/java/org/apache/solr/schema/CurrencyValue.java
  solr/core/src/java/org/apache/solr/schema/ExchangeRateProvider.java
  solr/core/src/java/org/apache/solr/schema/OpenExchangeRatesOrgProvider.java
  solr/core/src/java/org/apache/solr/search/facet/FacetRangeProcessor.java
  solr/core/src/test-files/solr/collection1/conf/bad-schema-currency-dynamic-multivalued.xml
  solr/core/src/test-files/solr/collection1/conf/bad-schema-currency-ft-amount-suffix.xml
  solr/core/src/test-files/solr/collection1/conf/bad-schema-currency-ft-bogus-code-in-xml.xml
  solr/core/src/test-files/solr/collection1/conf/bad-schema-currency-ft-bogus-default-code.xml
  solr/core/src/test-files/solr/collection1/conf/bad-schema-currency-ft-code-suffix.xml
  solr/core/src/test-files/solr/collection1/conf/bad-schema-currency-ft-multivalued.xml
  solr/core/src/test-files/solr/collection1/conf/bad-schema-currency-ft-oer-norates.xml
  solr/core/src/test-files/solr/collection1/conf/bad-schema-currency-multivalued.xml
  solr/core/src/test-files/solr/collection1/conf/schema-sorts.xml
  solr/core/src/test-files/solr/collection1/conf/schema-vector-catchall.xml
  solr/core/src/test-files/solr/collection1/conf/schema.xml
  solr/core/src/test-files/solr/collection1/conf/schema12.xml
  solr/core/src/test-files/solr/collection1/conf/schema15.xml
  solr/core/src/test-files/solr/collection1/conf/schema_latest.xml
  solr/core/src/test/org/apache/solr/response/JSONWriterTest.java
  solr/core/src/test/org/apache/solr/schema/BadIndexSchemaTest.java
  solr/core/src/test/org/apache/solr/schema/CurrencyFieldTypeTest.java
  solr/prometheus-exporter/src/test-files/exampledocs/money.xml
  solr/solr-ref-guide/modules/indexing-guide/pages/field-types-included-with-solr.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
  solr/test-framework/src/test-files/solr/collection1/conf/schema.xml
Labels: documentation, test-framework, prometheus-exporter, tests, cat:search, cat:schema

#3292 SOLR-17692: Abort ongoing fetches on core close
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/RecoveryStrategy.java
Labels: cat:cloud

#3303 Forbidden-API: Path.startsWith(String)
  gradle/validation/forbidden-apis/defaults.all.txt
  solr/core/src/java/org/apache/solr/update/UpdateLog.java
Labels: tool:build, cat:index

#3306 SOLR-17683: Update test to reflect only one type of Currency Field in Solr.
  solr/core/src/test-files/solr/collection1/conf/schema.xml
  solr/core/src/test/org/apache/solr/schema/CurrencyFieldTypeTest.java
  solr/core/src/test/org/apache/solr/search/CurrencyRangeFacetCloudTest.java
  solr/test-framework/src/test-files/solr/collection1/conf/schema.xml
Labels: test-framework, tests, cat:search, cat:schema

#3307 SOLR-17703: BinaryResponseParser and BinaryRequestWriter rename to JavaBin...
  solr/CHANGES.txt
  solr/api/src/java/org/apache/solr/client/api/util/Constants.java
  solr/core/src/java/org/apache/solr/cli/ExportTool.java
  solr/core/src/java/org/apache/solr/client/solrj/embedded/EmbeddedSolrServer.java
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/handler/admin/ZookeeperRead.java
  solr/core/src/java/org/apache/solr/handler/api/V2ApiUtils.java
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerConfigSetHelper.java
  solr/core/src/java/org/apache/solr/handler/export/ExportWriter.java
  solr/core/src/java/org/apache/solr/jersey/MessageBodyWriters.java
  solr/core/src/java/org/apache/solr/pkg/PackageAPI.java
  solr/core/src/java/org/apache/solr/request/json/RequestUtil.java
  solr/core/src/java/org/apache/solr/response/CborResponseWriter.java
  solr/core/src/java/org/apache/solr/response/JavaBinResponseWriter.java
  solr/core/src/java/org/apache/solr/update/SolrCmdDistributor.java
  solr/core/src/test/org/apache/solr/TestGroupingSearch.java
  solr/core/src/test/org/apache/solr/handler/BinaryUpdateRequestHandlerTest.java
  solr/core/src/test/org/apache/solr/handler/V2ApiIntegrationTest.java
  solr/core/src/test/org/apache/solr/handler/api/V2ApiUtilsTest.java
  solr/core/src/test/org/apache/solr/handler/component/DistributedQueryElevationComponentTest.java
  solr/core/src/test/org/apache/solr/handler/component/DistributedTermsComponentTest.java
  solr/core/src/test/org/apache/solr/request/TestWriterPerf.java
  solr/core/src/test/org/apache/solr/response/TestRawResponseWriter.java
  solr/core/src/test/org/apache/solr/update/processor/SignatureUpdateProcessorFactoryTest.java
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
  solr/solrj-zookeeper/src/java/org/apache/solr/client/solrj/impl/SolrClientNodeStateProvider.java
  solr/solrj/src/java/org/apache/solr/client/solrj/SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/CloudLegacySolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClientBase.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/JavaBinRequestWriter.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/JavaBinResponseParser.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBHttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/StreamingJavaBinResponseParser.java
  solr/solrj/src/test/org/apache/solr/client/solrj/SolrExampleBinaryHttp2Test.java
  solr/solrj/src/test/org/apache/solr/client/solrj/SolrExampleBinaryTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/SolrExampleCborTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/SolrExampleTests.java
  solr/solrj/src/test/org/apache/solr/client/solrj/SolrSchemalessExampleTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/TestBatchUpdate.java
  solr/solrj/src/test/org/apache/solr/client/solrj/TestSolrJErrorHandling.java
  solr/solrj/src/test/org/apache/solr/client/solrj/embedded/LargeVolumeBinaryJettyTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/embedded/SolrExampleStreamingBinaryHttp2Test.java
  solr/solrj/src/test/org/apache/solr/client/solrj/embedded/SolrExampleStreamingBinaryTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/BasicHttpSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpJdkSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpSolrClientBuilderTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBHttpSolrClientBuilderTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBHttpSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/response/TestSuggesterResponse.java
  solr/solrj/src/test/org/apache/solr/common/util/TestFastJavabinDecoder.java
Labels: documentation, client:solrj, tests, cat:search, cat:index, cat:cli, cat:api, cat:packagemanager

#3301 SOLR-17724: clarify basic auth credential docs
  solr/solr-ref-guide/modules/deployment-guide/pages/basic-authentication-plugin.adoc
Labels: documentation

#3295 SOLR-17723: Use NamedList.forEach() or iterator()
  solr/core/src/java/org/apache/solr/cli/SnapshotListTool.java
  solr/core/src/java/org/apache/solr/core/InitParams.java
  solr/core/src/java/org/apache/solr/handler/ReplicationHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/SolrInfoMBeanHandler.java
  solr/core/src/java/org/apache/solr/handler/component/DebugComponent.java
  solr/core/src/java/org/apache/solr/handler/component/ExpandComponent.java
  solr/core/src/java/org/apache/solr/handler/component/FacetComponent.java
  solr/core/src/java/org/apache/solr/handler/component/PivotFacetHelper.java
  solr/core/src/java/org/apache/solr/handler/component/PivotFacetValue.java
  solr/core/src/java/org/apache/solr/handler/component/QueryComponent.java
  solr/core/src/java/org/apache/solr/handler/component/RangeFacetRequest.java
  solr/core/src/java/org/apache/solr/handler/component/SpellCheckComponent.java
  solr/core/src/java/org/apache/solr/handler/component/StatsComponent.java
  solr/core/src/java/org/apache/solr/handler/component/StatsValuesFactory.java
  solr/core/src/java/org/apache/solr/handler/component/SuggestComponent.java
  solr/core/src/java/org/apache/solr/request/NumericFacets.java
  solr/core/src/java/org/apache/solr/response/SchemaXmlWriter.java
  solr/core/src/java/org/apache/solr/response/SolrQueryResponse.java
  solr/core/src/java/org/apache/solr/search/facet/FacetBucket.java
  solr/core/src/java/org/apache/solr/search/grouping/distributed/shardresultserializer/TopGroupsResultTransformer.java
  solr/core/src/java/org/apache/solr/spelling/suggest/DocumentExpressionDictionaryFactory.java
  solr/core/src/java/org/apache/solr/update/processor/AbstractDefaultValueUpdateProcessorFactory.java
  solr/core/src/java/org/apache/solr/update/processor/CloneFieldUpdateProcessorFactory.java
  solr/core/src/java/org/apache/solr/update/processor/FieldMutatingUpdateProcessorFactory.java
  solr/core/src/java/org/apache/solr/update/processor/IgnoreLargeDocumentProcessorFactory.java
  solr/core/src/java/org/apache/solr/update/processor/TolerantUpdateProcessor.java
  solr/core/src/java/org/apache/solr/util/SolrPluginUtils.java
  solr/core/src/test/org/apache/solr/TestTolerantSearch.java
  solr/core/src/test/org/apache/solr/cloud/TestTolerantUpdateProcessorCloud.java
  solr/core/src/test/org/apache/solr/handler/component/CustomHighlightComponentTest.java
  solr/core/src/test/org/apache/solr/handler/component/StatsComponentTest.java
  solr/core/src/test/org/apache/solr/request/TestIntervalFaceting.java
  solr/core/src/test/org/apache/solr/search/RankQueryTestPlugin.java
  solr/modules/analysis-extras/src/java/org/apache/solr/update/processor/OpenNLPExtractNamedEntitiesUpdateProcessorFactory.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/ScoreNodesStream.java
  solr/solrj/src/java/org/apache/solr/client/solrj/response/FieldStatsInfo.java
  solr/solrj/src/java/org/apache/solr/client/solrj/response/QueryResponse.java
  solr/solrj/src/java/org/apache/solr/client/solrj/response/SpellCheckResponse.java
  solr/solrj/src/java/org/apache/solr/client/solrj/response/SuggesterResponse.java
  solr/solrj/src/java/org/apache/solr/client/solrj/response/TermsResponse.java
  solr/solrj/src/java/org/apache/solr/client/solrj/response/schema/SchemaResponse.java
Labels: client:solrj, tests, cat:search, cat:cloud, cat:index, cat:cli

#3310 Fix instant resolution issue for ClusterEventProducerTest on Windows
  solr/core/src/test/org/apache/solr/cluster/events/ClusterEventProducerTest.java
Labels: tests, cat:cloud

#3299 SOLR-16395: Convert v2 "schema" modification APIs to JAX-RS
  dev-docs/v2-api-conventions.adoc
  solr/api/build.gradle
  solr/api/gradle.lockfile
  solr/api/src/java/org/apache/solr/client/api/endpoint/UpdateSchemaApi.java
  solr/api/src/java/org/apache/solr/client/api/model/AddCopyFieldOperation.java
  solr/api/src/java/org/apache/solr/client/api/model/DeleteCopyFieldOperation.java
  solr/api/src/java/org/apache/solr/client/api/model/DeleteDynamicFieldOperation.java
  solr/api/src/java/org/apache/solr/client/api/model/DeleteFieldOperation.java
  solr/api/src/java/org/apache/solr/client/api/model/DeleteFieldTypeOperation.java
  solr/api/src/java/org/apache/solr/client/api/model/SchemaChange.java
  solr/api/src/java/org/apache/solr/client/api/model/UpsertDynamicFieldOperation.java
  solr/api/src/java/org/apache/solr/client/api/model/UpsertFieldOperation.java
  solr/api/src/java/org/apache/solr/client/api/model/UpsertFieldTypeOperation.java
  solr/api/src/java/org/apache/solr/client/api/util/Constants.java
  solr/api/src/test/org/apache/solr/client/api/model/SchemaChangeOperationSerializationTest.java
  solr/core/src/java/org/apache/solr/api/V2HttpCall.java
  solr/core/src/java/org/apache/solr/handler/SchemaHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/api/SchemaBulkModifyAPI.java
  solr/core/src/java/org/apache/solr/handler/admin/api/UpdateSchema.java
  solr/core/src/java/org/apache/solr/schema/SchemaManager.java
  solr/core/src/java/org/apache/solr/schema/SchemaManagerUtils.java
  solr/core/src/test/org/apache/solr/handler/admin/TestApiFramework.java
  solr/core/src/test/org/apache/solr/handler/admin/api/V2UpdateSchemaErrorCaseTests.java
  solr/core/src/test/org/apache/solr/rest/schema/TestBulkSchemaAPI.java
  solr/core/src/test/org/apache/solr/schema/SchemaApiFailureTest.java
  solr/core/src/test/org/apache/solr/schema/SchemaManagerUtilsTest.java
  solr/solr-ref-guide/modules/indexing-guide/pages/schema-api.adoc
  solr/solrj/src/resources/java-template/api.mustache
  solr/solrj/src/test/org/apache/solr/client/solrj/request/SchemaTest.java
Labels: documentation, dependencies, client:solrj, tool:build, tests, cat:api, cat:schema

#3270 SOLR-17705 SolrRequest's type is now unbounded
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/SolrConfigHandler.java
  solr/core/src/java/org/apache/solr/schema/ManagedIndexSchema.java
  solr/core/src/test/org/apache/solr/client/solrj/embedded/TestEmbeddedSolrServerAdminHandler.java
  solr/core/src/test/org/apache/solr/filestore/TestDistribFileStore.java
  solr/core/src/test/org/apache/solr/handler/admin/HealthCheckHandlerTest.java
  solr/cross-dc-manager/src/java/org/apache/solr/crossdc/manager/consumer/KafkaCrossDcConsumer.java
  solr/modules/cross-dc/src/java/org/apache/solr/crossdc/common/MirroredSolrRequest.java
  solr/modules/cross-dc/src/java/org/apache/solr/crossdc/common/MirroredSolrRequestSerializer.java
  solr/solrj/src/java/org/apache/solr/client/solrj/SolrRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/AbstractUpdateRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/CollectionAdminRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/CollectionRequiringSolrRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/ConfigSetAdminRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/CoreAdminRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/DelegationTokenRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/DirectXmlRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/DocumentAnalysisRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/FieldAnalysisRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/GenericSolrRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/HealthCheckRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/LukeRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/QueryRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/SolrPing.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/V2Request.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/schema/SchemaRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/util/ClientUtils.java
  solr/solrj/src/resources/java-template/api.mustache
  solr/solrj/src/test/org/apache/solr/client/solrj/request/TestConfigSetAdminRequest.java
  solr/test-framework/src/java/org/apache/solr/cloud/ConfigRequest.java
Labels: test-framework, client:solrj, tests, cat:cloud, cat:schema, cat:packagemanager

#2960 SOLR-17447 : Support to early terminate a search based on maxHitsAllowed per shard.
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/component/QueryComponent.java
  solr/core/src/java/org/apache/solr/handler/component/ResponseBuilder.java
  solr/core/src/java/org/apache/solr/response/SolrQueryResponse.java
  solr/core/src/java/org/apache/solr/search/EarlyTerminatingCollector.java
  solr/core/src/java/org/apache/solr/search/EarlyTerminatingCollectorException.java
  solr/core/src/java/org/apache/solr/search/MultiThreadedSearcher.java
  solr/core/src/java/org/apache/solr/search/QueryCommand.java
  solr/core/src/java/org/apache/solr/search/QueryResult.java
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
  solr/core/src/java/org/apache/solr/search/SolrMultiCollectorManager.java
  solr/core/src/java/org/apache/solr/spelling/SpellCheckCollator.java
  solr/core/src/test/org/apache/solr/search/SolrIndexSearcherTest.java
  solr/core/src/test/org/apache/solr/search/TestEarlyTerminatingQueries.java
  solr/solr-ref-guide/modules/query-guide/pages/common-query-parameters.adoc
  solr/solrj/src/java/org/apache/solr/common/params/CommonParams.java
Labels: documentation, client:solrj, tests, cat:search

#3308 Remove DELETEALIAS from core operation
  solr/solrj/src/java/org/apache/solr/common/params/CoreAdminParams.java
Labels: client:solrj

#3315 Skip creation of ZkCoreNodeProps when we have a Replica instance
  solr/core/src/java/org/apache/solr/cli/HealthcheckTool.java
  solr/core/src/java/org/apache/solr/cloud/RecoveryStrategy.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/CollectionHandlingUtils.java
  solr/core/src/java/org/apache/solr/cloud/overseer/SliceMutator.java
  solr/core/src/java/org/apache/solr/handler/admin/ColStatus.java
  solr/core/src/java/org/apache/solr/handler/admin/api/SyncShard.java
  solr/core/src/test/org/apache/solr/cloud/DistributedVersionInfoTest.java
  solr/core/src/test/org/apache/solr/cloud/HttpPartitionTest.java
  solr/core/src/test/org/apache/solr/cloud/LeaderFailureAfterFreshStartTest.java
  solr/core/src/test/org/apache/solr/cloud/LeaderVoteWaitTimeoutTest.java
  solr/core/src/test/org/apache/solr/cloud/PeerSyncReplicationTest.java
  solr/core/src/test/org/apache/solr/cloud/ReplicationFactorTest.java
  solr/core/src/test/org/apache/solr/cloud/TestCloudConsistency.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/ShardSplitTest.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/sql/StatementImpl.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/FeaturesSelectionStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/TextLogitStream.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/stream/TopicStream.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkStateReader.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/CloudSolrClient.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractBasicDistributedZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractFullDistribZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractUnloadDistributedZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/api/collections/AbstractCollectionsAPIDistributedZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/handler/component/TrackingShardHandlerFactory.java
Labels: test-framework, client:solrj, tests, cat:search, cat:cloud, cat:cli, cat:api

#3324 SOLR-17069 HttpServletRequest; use eagerly to avoid inaccessibility
  solr/core/src/java/org/apache/solr/core/CancellableQueryTracker.java
  solr/core/src/java/org/apache/solr/handler/component/HttpShardHandler.java
  solr/core/src/java/org/apache/solr/request/SolrRequestInfo.java
  solr/core/src/java/org/apache/solr/servlet/HttpSolrCall.java
  solr/core/src/java/org/apache/solr/servlet/SolrRequestParsers.java
  solr/core/src/java/org/apache/solr/update/SolrCmdDistributor.java
Labels: jetty-server, cat:search, cat:index

#3319 SOLR-16262: Add canonical links to Solr 6-8 ref guide pages
  dev-tools/scripts/refguide/gen-refguide-redirects.py
  dev-tools/scripts/refguide/htaccess.txt
  dev-tools/scripts/refguide/mappings.csv
  dev-tools/scripts/refguide/old-guide.txt
  dev-tools/scripts/refguide/refguide-add-canonical-url.py
Labels: scripts

#2641 SOLR-17636: make Lucene's BPReorderingMergePolicy configurable in Solr
  solr/core/src/java/org/apache/solr/index/BPReorderingMergePolicyFactory.java
  solr/core/src/java/org/apache/solr/index/MergePolicyFactoryArgs.java
  solr/core/src/java/org/apache/solr/index/WrapperMergePolicyFactory.java
  solr/core/src/test-files/solr/collection1/conf/solrconfig-bpreorderingmergepolicyfactory.xml
  solr/core/src/test/org/apache/solr/update/SolrIndexConfigTest.java
Labels: tests, cat:index

#3314 SOLR-12831: Clean up ZK nodes after shard deletion is invoked
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/api/collections/DeleteShardCmd.java
  solr/core/src/test/org/apache/solr/cloud/DeleteShardTest.java
Labels: tests, cat:cloud, cat:api

#3282 SOLR-17705 for V2 API
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/CLIUtils.java
  solr/core/src/java/org/apache/solr/filestore/DistribFileStore.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageUtils.java
  solr/core/src/java/org/apache/solr/packagemanager/RepositoryManager.java
  solr/core/src/test/org/apache/solr/cloud/CollectionsAPISolrJTest.java
  solr/core/src/test/org/apache/solr/filestore/TestDistribFileStore.java
  solr/core/src/test/org/apache/solr/handler/TestReplicationHandler.java
  solr/core/src/test/org/apache/solr/handler/admin/ZookeeperReadAPITest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/JacksonDataBindResponseParser.java
  solr/solrj/src/java/org/apache/solr/client/solrj/JacksonParsingResponse.java
  solr/solrj/src/resources/java-template/api.mustache
  solr/solrj/src/test/org/apache/solr/client/solrj/ApiMustacheTemplateTests.java
  solr/test-framework/src/java/org/apache/solr/embedded/JettySolrRunner.java
Labels: test-framework, client:solrj, tests, cat:cloud, cat:cli, cat:packagemanager

#3238 SOLR-17043: Remove SolrClient path pattern matching
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/api/collections/SplitShardCmd.java
  solr/core/src/java/org/apache/solr/handler/SolrConfigHandler.java
  solr/core/src/java/org/apache/solr/schema/ManagedIndexSchema.java
  solr/core/src/test/org/apache/solr/client/solrj/embedded/TestEmbeddedSolrServerAdminHandler.java
  solr/core/src/test/org/apache/solr/cloud/TestConfigSetsAPI.java
  solr/core/src/test/org/apache/solr/cloud/TestRebalanceLeaders.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/ReplicaPropertiesBase.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/TestCollectionAPI.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/TestReplicaProperties.java
  solr/core/src/test/org/apache/solr/handler/RequestHandlerMetricsTest.java
  solr/core/src/test/org/apache/solr/handler/admin/AdminHandlersProxyTest.java
  solr/core/src/test/org/apache/solr/handler/admin/HealthCheckHandlerTest.java
  solr/core/src/test/org/apache/solr/response/TestPrometheusResponseWriter.java
  solr/core/src/test/org/apache/solr/security/BasicAuthIntegrationTest.java
  solr/modules/opentelemetry/src/test/org/apache/solr/opentelemetry/TestDistributedTracing.java
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/scraper/SolrScraper.java
  solr/solrj/src/java/org/apache/solr/client/solrj/SolrRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/CloudSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/AbstractUpdateRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/CollectionAdminRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/CollectionRequiringSolrRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/ConfigSetAdminRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/CoreAdminRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/DelegationTokenRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/DirectXmlRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/DocumentAnalysisRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/FieldAnalysisRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/GenericSolrRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/GenericV2SolrRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/HealthCheckRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/IsUpdateRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/LukeRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/QueryRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/SolrPing.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/UpdateRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/V2Request.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/schema/AbstractSchemaRequest.java
  solr/solrj/src/java/org/apache/solr/common/params/CommonParams.java
  solr/solrj/src/resources/java-template/api.mustache
  solr/solrj/src/test/org/apache/solr/client/solrj/SolrExampleTests.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudHttp2SolrClientRetryTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudHttp2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudSolrClientRetryTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/SendUpdatesToLeadersOverrideTest.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractBasicDistributedZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractFullDistribZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/cloud/ConfigRequest.java
  solr/test-framework/src/java/org/apache/solr/cloud/api/collections/AbstractCollectionsAPIDistributedZkTestBase.java
Labels: test-framework, client:solrj, module:opentelemetry, prometheus-exporter, tests, cat:search, cat:cloud, cat:api, cat:schema, cat:security

#3291 SOLR-17717 Use Powershell instead of WMIC to get cmdline on Windows
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/SolrProcessManager.java
  solr/core/src/test/org/apache/solr/cli/SolrProcessManagerTest.java
Labels: tests, cat:cli

#3322 SOLR-17740: V2 API: fix raw file uploads missing 1st byte
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/servlet/SolrRequestParsers.java
Labels: jetty-server

#3311 SOLR-17496: Remove a warning that is no longer applicable.
  solr/core/src/java/org/apache/solr/cloud/SolrZkServer.java
Labels: cat:cloud

#3325 SOLR-17741: Remove addHttpRequestToContext option
  solr/core/src/java/org/apache/solr/core/SolrConfig.java
  solr/core/src/java/org/apache/solr/servlet/SolrRequestParsers.java
  solr/core/src/resources/EditableSolrConfigAttributes.json
  solr/core/src/test/org/apache/solr/core/TestConfigOverlay.java
  solr/core/src/test/org/apache/solr/core/TestSolrConfigHandler.java
  solr/core/src/test/org/apache/solr/servlet/SolrRequestParserTest.java
  solr/server/solr/configsets/_default/conf/solrconfig.xml
  solr/server/solr/configsets/sample_techproducts_configs/conf/solrconfig.xml
  solr/solr-ref-guide/modules/configuration-guide/pages/config-api.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/requestdispatcher.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
Labels: documentation, configs, jetty-server, tests

#2461 SOLR-17294: The stall detection in the ConcurrentUpdateSolrClients easily detects false positives.
  solr/CHANGES.txt
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ConcurrentUpdateHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ConcurrentUpdateSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/StallDetection.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/TimeSource.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/FakeTimeSource.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/StallDetectionTest.java
Labels: client:solrj, tests

#3304 SOLR-17720: Fix deadlock possibility in CollectionPropertiesZkStateReader
  solr/CHANGES.txt
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/CollectionPropertiesZkStateReader.java
Labels: client:solrj

#3236 SOLR-17638 Some CLI errors not logged when starting prometheus exporter
  solr/CHANGES.txt
  solr/packaging/test/bats_helper.bash
  solr/packaging/test/test_prometheus.bats
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/exporter/SolrExporter.java
Labels: prometheus-exporter

#3338 SOLR-17294: Rewrite of concurrency test.
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/StallDetection.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/StallDetectionTest.java
Labels: client:solrj, tests

#3320 SOLR-17738: DocTransformer, remove deprecated methods
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/component/RealTimeGetComponent.java
  solr/core/src/java/org/apache/solr/response/DocsStreamer.java
  solr/core/src/java/org/apache/solr/response/transform/BaseEditorialTransformer.java
  solr/core/src/java/org/apache/solr/response/transform/ChildDocTransformer.java
  solr/core/src/java/org/apache/solr/response/transform/DocIdAugmenterFactory.java
  solr/core/src/java/org/apache/solr/response/transform/DocTransformer.java
  solr/core/src/java/org/apache/solr/response/transform/DocTransformers.java
  solr/core/src/java/org/apache/solr/response/transform/ExplainAugmenterFactory.java
  solr/core/src/java/org/apache/solr/response/transform/GeoTransformerFactory.java
  solr/core/src/java/org/apache/solr/response/transform/MatchScoreAugmenter.java
  solr/core/src/java/org/apache/solr/response/transform/RawValueTransformerFactory.java
  solr/core/src/java/org/apache/solr/response/transform/RenameFieldTransformer.java
  solr/core/src/java/org/apache/solr/response/transform/ScoreAugmenter.java
  solr/core/src/java/org/apache/solr/response/transform/SubQueryAugmenterFactory.java
  solr/core/src/java/org/apache/solr/response/transform/ValueAugmenterFactory.java
  solr/core/src/java/org/apache/solr/response/transform/ValueSourceAugmenter.java
  solr/core/src/java/org/apache/solr/search/DocIterationInfo.java
  solr/core/src/test/org/apache/solr/response/TestCustomDocTransformer.java
  solr/modules/ltr/src/java/org/apache/solr/ltr/response/transform/LTRFeatureLoggerTransformerFactory.java
  solr/modules/ltr/src/java/org/apache/solr/ltr/response/transform/LTRInterleavingTransformerFactory.java
Labels: module:ltr, tests, cat:search

#3326 SOLR-17743: V2 API: use correct content-type
  solr/solrj/src/java/org/apache/solr/client/solrj/JacksonContentWriter.java
  solr/solrj/src/resources/java-template/api.mustache
Labels: client:solrj

#3323 Optimize consumeInputFully, don't loop read single byte
  solr/core/src/java/org/apache/solr/servlet/ServletUtils.java
  solr/solrj/src/java/org/apache/solr/common/util/Utils.java
Labels: jetty-server, client:solrj

#3217 SOLR-17633 Add matomo script to ref-guide
  solr/solr-ref-guide/build.gradle
  solr/solr-ref-guide/ui-src/partials/head-scripts.hbs
Labels: documentation, tool:build
