Repository apache/solr, pull requests merged in 2025-05, with the labels that each got.

#3339 SOLR-17749: linear function support for RankQParserPlugin
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/search/RankQParserPlugin.java
  solr/core/src/test/org/apache/solr/search/RankQParserPluginTest.java
Labels: tests, cat:search

#3329 Solr Ref Guide: fix bullet point format for Payload (Check,Score) Parser
  solr/solr-ref-guide/modules/query-guide/pages/other-parsers.adoc
Labels: documentation

#2685 SmokeTestRelease Added support for multiple JDK
  dev-tools/scripts/README.md
  dev-tools/scripts/smokeTestRelease.py
Labels: stale, scripts

#2929 SOLR-17361 OpenJ9 can't compile solr: No method HotSpotDiagnosticMXBean.dumpHeap
  solr/benchmark/src/java/org/apache/solr/bench/BaseBenchState.java
Labels: stale

#3336 SOLR-17634: Remove version param
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/client/solrj/embedded/EmbeddedSolrServer.java
  solr/core/src/java/org/apache/solr/handler/BlobHandler.java
  solr/core/src/java/org/apache/solr/handler/component/HttpShardHandler.java
  solr/core/src/java/org/apache/solr/response/XMLWriter.java
  solr/core/src/test/org/apache/solr/BasicFunctionalityTest.java
  solr/core/src/test/org/apache/solr/ConvertedLegacyTest.java
  solr/core/src/test/org/apache/solr/DisMaxRequestHandlerTest.java
  solr/core/src/test/org/apache/solr/EchoParamsTest.java
  solr/core/src/test/org/apache/solr/MinimalSchemaTest.java
  solr/core/src/test/org/apache/solr/OutputWriterTest.java
  solr/core/src/test/org/apache/solr/SampleTest.java
  solr/core/src/test/org/apache/solr/cli/PostLogsToolTest.java
  solr/core/src/test/org/apache/solr/handler/TestCSVLoader.java
  solr/core/src/test/org/apache/solr/handler/component/DistributedFacetPivotWhiteBoxTest.java
  solr/core/src/test/org/apache/solr/search/function/TestFunctionQuery.java
  solr/core/src/test/org/apache/solr/servlet/DirectSolrConnectionTest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/ResponseParser.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ConcurrentUpdateSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClientBase.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/JavaBinResponseParser.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/JsonMapResponseParser.java
  solr/solrj/src/java/org/apache/solr/common/cloud/PerReplicaStates.java
  solr/solrj/src/java/org/apache/solr/common/params/CommonParams.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/BasicHttpSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpJdkSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpSolrClientTestBase.java
  solr/test-framework/src/java/org/apache/solr/SolrTestCaseJ4.java
Labels: test-framework, jetty-server, client:solrj, tests, cat:search, cat:cli

#3144 SOLR-17187: make replica poll interval configurable
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/ReplicateFromLeader.java
  solr/core/src/java/org/apache/solr/core/SolrConfig.java
  solr/core/src/java/org/apache/solr/handler/ReplicationHandler.java
  solr/core/src/test/org/apache/solr/cloud/ReplicateFromLeaderTest.java
  solr/solr-ref-guide/modules/configuration-guide/pages/commits-transaction-logs.adoc
Labels: documentation, tests, cat:cloud

#3348 SOLR-17758: Fix limiting-URP "warnOnly" mode
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/update/processor/NumFieldLimitingUpdateRequestProcessorFactory.java
  solr/core/src/test-files/solr/configsets/cloud-minimal-field-limiting/conf/solrconfig.xml
  solr/core/src/test/org/apache/solr/update/processor/NumFieldLimitingUpdateRequestProcessorIntegrationTest.java
Labels: tests, cat:index

#3261 Allow disabling new UI module during builds
  build.gradle
  gradle/template.gradle.properties
  settings.gradle
  solr/webapp/build.gradle
Labels: tool:build, admin-ui

#3351 SOLR-17739: ConfigSet API should return error when forbidden file types are in the upload
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/ZkConfigSetService.java
  solr/core/src/java/org/apache/solr/core/FileSystemConfigSetService.java
  solr/core/src/test/org/apache/solr/cloud/TestConfigSetsAPI.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkMaintenanceUtils.java
  solr/solrj-zookeeper/src/test/org/apache/solr/common/cloud/TestZkConfigSetService.java
Labels: client:solrj, tests, cat:cloud

#3352 SOLR-17756: Parallelize calculation of index fingerprint across segments
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
  solr/core/src/java/org/apache/solr/update/IndexFingerprint.java
  solr/core/src/test/org/apache/solr/update/SolrIndexFingerprintTest.java
Labels: tests, cat:search, cat:index

#3321 SOLR-16903: Make java.io.File a forbidden API
  gradle/validation/forbidden-apis/defaults.all.txt
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/filestore/DistribFileStore.java
  solr/core/src/java/org/apache/solr/packagemanager/DefaultPackageRepository.java
  solr/core/src/java/org/apache/solr/update/UpdateLog.java
  solr/core/src/test/org/apache/solr/cli/SolrCLIZkToolsTest.java
  solr/core/src/test/org/apache/solr/cli/SolrProcessManagerTest.java
  solr/core/src/test/org/apache/solr/cloud/ShardRoutingCustomTest.java
  solr/core/src/test/org/apache/solr/cloud/TestConfigSetsAPI.java
  solr/core/src/test/org/apache/solr/cloud/TestConfigSetsAPIZkFailure.java
  solr/core/src/test/org/apache/solr/core/CachingDirectoryFactoryTest.java
  solr/core/src/test/org/apache/solr/core/snapshots/TestSolrCloudSnapshots.java
  solr/core/src/test/org/apache/solr/core/snapshots/TestSolrCoreSnapshots.java
  solr/core/src/test/org/apache/solr/handler/TestRestoreCore.java
  solr/core/src/test/org/apache/solr/handler/V2ApiIntegrationTest.java
  solr/modules/jwt-auth/src/test/org/apache/solr/security/jwt/JWTAuthPluginIntegrationTest.java
  solr/modules/llm/src/test/org/apache/solr/llm/TestLlmBase.java
  solr/modules/ltr/src/test/org/apache/solr/ltr/TestRerankBase.java
  solr/modules/s3-repository/src/test/org/apache/solr/s3/S3BackupRepositoryTest.java
  solr/modules/s3-repository/src/test/org/apache/solr/s3/S3IndexInputTest.java
Labels: module:jwt-auth, module:ltr, module:s3-repository, tool:build, tests, cat:cloud, cat:index, cat:cli, cat:security, cat:packagemanager

#3343 Refactoring: QParser.parseAsValueSource
  solr/core/src/java/org/apache/solr/handler/component/StatsField.java
  solr/core/src/java/org/apache/solr/search/BoostQParserPlugin.java
  solr/core/src/java/org/apache/solr/search/ExtendedDismaxQParser.java
  solr/core/src/java/org/apache/solr/search/FunctionQParser.java
  solr/core/src/java/org/apache/solr/search/FunctionRangeQParserPlugin.java
  solr/core/src/java/org/apache/solr/search/Grouping.java
  solr/core/src/java/org/apache/solr/search/QParser.java
  solr/core/src/java/org/apache/solr/search/SolrReturnFields.java
  solr/core/src/java/org/apache/solr/search/SortSpecParsing.java
  solr/core/src/java/org/apache/solr/search/ValueSourceParser.java
  solr/core/src/test/org/apache/solr/search/function/distance/DistanceFunctionTest.java
Labels: tests, cat:search

#3374 Update installing-solr.adoc
  solr/solr-ref-guide/modules/deployment-guide/pages/installing-solr.adoc
Labels: documentation
