Repository apache/solr, pull requests merged in 2025-08, with the labels that each got.

#3446 SOLR-17831: Fix the bug in QueryLimits initialization in SolrIndexSearcher.
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/search/QueryLimits.java
  solr/core/src/java/org/apache/solr/search/SolrIndexSearcher.java
  solr/core/src/test/org/apache/solr/core/ExitableDirectoryReaderTest.java
  solr/core/src/test/org/apache/solr/core/TimeAllowedTest.java
  solr/core/src/test/org/apache/solr/search/CallerSpecificQueryLimit.java
  solr/core/src/test/org/apache/solr/search/TestQueryLimits.java
  solr/test-framework/src/java/org/apache/solr/search/CallerSpecificQueryLimit.java
  solr/test-framework/src/test/org/apache/solr/search/CallerSpecificQueryLimitTest.java
Labels: test-framework, tests, cat:search

#3331 SOLR-17717 Use Powershell instead of WMIC to get cmdline on Windows (backport 9x)
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/SolrProcessManager.java
  solr/core/src/test/org/apache/solr/cli/SolrProcessManagerTest.java
Labels: stale

#3444 SOLR-17806: Migrate ADMIN node registry metrics to OTEL
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/handler/RequestHandlerBase.java
  solr/core/src/java/org/apache/solr/handler/component/SearchHandler.java
  solr/core/src/java/org/apache/solr/jersey/RequestMetricHandling.java
  solr/core/src/java/org/apache/solr/metrics/SolrCoreMetricManager.java
  solr/core/src/java/org/apache/solr/metrics/SolrMetricProducer.java
  solr/core/src/test/org/apache/solr/cloud/TestRandomRequestDistribution.java
  solr/core/src/test/org/apache/solr/core/RequestHandlersTest.java
  solr/core/src/test/org/apache/solr/handler/RequestHandlerBaseTest.java
  solr/core/src/test/org/apache/solr/handler/RequestHandlerMetricsTest.java
  solr/core/src/test/org/apache/solr/handler/admin/MBeansHandlerTest.java
  solr/core/src/test/org/apache/solr/handler/admin/MetricsHandlerTest.java
  solr/core/src/test/org/apache/solr/response/TestPrometheusResponseWriterCloud.java
  solr/solrj/src/test/org/apache/solr/client/solrj/SolrJMetricTestUtils.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudHttp2SolrClientRetryTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudHttp2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudSolrClientRetryTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/request/TestCoreAdmin.java
Labels: client:solrj, tests, cat:search, cat:cloud, cat:api, cat:metrics

#3427 SOLR-17818: Expose Open Metrics 1.0 format from /admin/metrics and exemplar support
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/handler/admin/MetricsHandler.java
  solr/core/src/java/org/apache/solr/metrics/SolrMetricManager.java
  solr/core/src/java/org/apache/solr/response/PrometheusResponseWriter.java
  solr/core/src/test/org/apache/solr/response/TestPrometheusResponseWriter.java
  solr/modules/opentelemetry/src/test/org/apache/solr/opentelemetry/TestDistributedTracing.java
  solr/modules/opentelemetry/src/test/org/apache/solr/opentelemetry/TestMetricExemplars.java
Labels: module:opentelemetry, tests, cat:search, cat:metrics

#3443 SOLR-17827: Remove JXM, SLF4J and Graphite reporters
  solr/core/src/java/org/apache/solr/core/SolrXmlConfig.java
  solr/core/src/java/org/apache/solr/metrics/reporters/SolrGraphiteReporter.java
  solr/core/src/java/org/apache/solr/metrics/reporters/SolrJmxReporter.java
  solr/core/src/java/org/apache/solr/metrics/reporters/SolrSlf4jReporter.java
  solr/core/src/java/org/apache/solr/metrics/reporters/jmx/JmxMetricsReporter.java
  solr/core/src/java/org/apache/solr/metrics/reporters/jmx/JmxObjectNameFactory.java
  solr/core/src/java/org/apache/solr/metrics/reporters/jmx/package-info.java
  solr/core/src/test/org/apache/solr/core/TestJmxIntegration.java
  solr/core/src/test/org/apache/solr/metrics/SolrMetricManagerTest.java
  solr/core/src/test/org/apache/solr/metrics/SolrMetricsIntegrationTest.java
  solr/core/src/test/org/apache/solr/metrics/reporters/SolrGraphiteReporterTest.java
  solr/core/src/test/org/apache/solr/metrics/reporters/SolrJmxReporterCloudTest.java
  solr/core/src/test/org/apache/solr/metrics/reporters/SolrJmxReporterTest.java
  solr/core/src/test/org/apache/solr/metrics/reporters/SolrSlf4jReporterTest.java
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
  solr/test-framework/src/java/org/apache/solr/util/TestHarness.java
Labels: documentation, test-framework, tests, cat:metrics

#3452 SOLR-17659: Fix UI module build issues
  gradle/libs.versions.toml
  gradle/template.gradle.properties
  kotlin-js-store/wasm/yarn.lock
  solr/licenses/kotlin-stdlib-2.1.10.jar.sha1
  solr/licenses/kotlin-stdlib-2.2.0.jar.sha1
  solr/licenses/kotlin-stdlib-jdk7-2.1.10.jar.sha1
  solr/licenses/kotlin-stdlib-jdk7-2.2.0.jar.sha1
  solr/licenses/kotlin-stdlib-jdk8-2.1.10.jar.sha1
  solr/licenses/kotlin-stdlib-jdk8-2.2.0.jar.sha1
  solr/modules/jwt-auth/gradle.lockfile
  solr/modules/llm/gradle.lockfile
  solr/modules/opentelemetry/gradle.lockfile
  solr/ui/build.gradle.kts
  solr/ui/gradle.lockfile
  solr/ui/src/commonTest/kotlin/org/apache/solr/ui/components/auth/integration/DefaultBasicAuthComponentTest.kt
Labels: dependencies, module:jwt-auth, module:opentelemetry, tool:build, admin-ui

#3460 SOLR-17631: Fix formatting issues (tidy)
  solr/core/src/test/org/apache/solr/uninverting/TestFieldCacheSortRandom.java
Labels: tests

#3031 SOLR-17852: Migrate schema designer to filestoreapi part deux
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/filestore/DistribFileStore.java
  solr/core/src/java/org/apache/solr/filestore/FileStore.java
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerAPI.java
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerConfigSetHelper.java
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerConstants.java
  solr/core/src/test/org/apache/solr/handler/designer/TestSchemaDesignerAPI.java
  solr/core/src/test/org/apache/solr/handler/designer/TestSchemaDesignerConfigSetHelper.java
  solr/solrj/src/java/org/apache/solr/common/util/Utils.java
Labels: client:solrj, tests, cat:packagemanager

#3453 SOLR-17806: Migrate ZkContainer metrics to OTEL
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/core/ZkContainer.java
  solr/core/src/java/org/apache/solr/handler/RequestHandlerBase.java
  solr/core/src/java/org/apache/solr/metrics/MetricsMap.java
  solr/core/src/test/org/apache/solr/cloud/PeerSyncReplicationTest.java
  solr/core/src/test/org/apache/solr/cloud/TestRandomRequestDistribution.java
  solr/modules/opentelemetry/src/test/org/apache/solr/opentelemetry/TestMetricExemplars.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/SolrZKMetricsListener.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/SolrZkClient.java
Labels: client:solrj, module:opentelemetry, tests, cat:cloud, cat:metrics

#3464 SOLR-17851: Remove BlobHandler and .system collection support
  dev-docs/overseer/overseer.adoc
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/CreateTool.java
  solr/core/src/java/org/apache/solr/cloud/Overseer.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/CreateCollectionCmd.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/ReindexCollectionCmd.java
  solr/core/src/java/org/apache/solr/handler/BlobHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/api/CreateCollection.java
  solr/core/src/java/org/apache/solr/handler/admin/api/GetBlobInfoAPI.java
  solr/core/src/java/org/apache/solr/handler/admin/api/UploadBlobAPI.java
  solr/core/src/java/org/apache/solr/servlet/HttpSolrCall.java
  solr/core/src/resources/SystemCollectionSchema.xml
  solr/core/src/resources/SystemCollectionSolrConfig.xml
  solr/core/src/test/org/apache/solr/cloud/SystemCollectionCompatTest.java
  solr/core/src/test/org/apache/solr/handler/TestBlobHandler.java
  solr/core/src/test/org/apache/solr/handler/TestSystemCollAutoCreate.java
  solr/core/src/test/org/apache/solr/handler/admin/TestApiFramework.java
  solr/core/src/test/org/apache/solr/handler/admin/V2BlobAPIMappingTest.java
  solr/core/src/test/org/apache/solr/handler/designer/TestSchemaDesignerAPI.java
  solr/solr-ref-guide/modules/configuration-guide/pages/requesthandlers-searchcomponents.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/v2-api.adoc
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
  solr/solrj/src/java/org/apache/solr/common/params/CollectionAdminParams.java
  solr/solrj/src/java/org/apache/solr/common/params/CommonParams.java
Labels: documentation, jetty-server, client:solrj, tests, cat:cloud, cat:cli, cat:api

#3469 SOLR-14393: Remove HIGHLIGHTER, QUERYPARSER, SPELLCHECKER metrics
  solr/core/src/java/org/apache/solr/core/SolrInfoBean.java
  solr/core/src/java/org/apache/solr/handler/component/HighlightComponent.java
  solr/core/src/java/org/apache/solr/handler/component/SpellCheckComponent.java
  solr/core/src/java/org/apache/solr/highlight/BreakIteratorBoundaryScanner.java
  solr/core/src/java/org/apache/solr/highlight/DefaultEncoder.java
  solr/core/src/java/org/apache/solr/highlight/GapFragmenter.java
  solr/core/src/java/org/apache/solr/highlight/HighlightingPluginBase.java
  solr/core/src/java/org/apache/solr/highlight/HtmlEncoder.java
  solr/core/src/java/org/apache/solr/highlight/HtmlFormatter.java
  solr/core/src/java/org/apache/solr/highlight/RegexFragmenter.java
  solr/core/src/java/org/apache/solr/highlight/ScoreOrderFragmentsBuilder.java
  solr/core/src/java/org/apache/solr/highlight/SimpleBoundaryScanner.java
  solr/core/src/java/org/apache/solr/highlight/SimpleFragListBuilder.java
  solr/core/src/java/org/apache/solr/highlight/SimpleFragmentsBuilder.java
  solr/core/src/java/org/apache/solr/highlight/SingleFragListBuilder.java
  solr/core/src/java/org/apache/solr/highlight/SolrBoundaryScanner.java
  solr/core/src/java/org/apache/solr/highlight/SolrEncoder.java
  solr/core/src/java/org/apache/solr/highlight/SolrFormatter.java
  solr/core/src/java/org/apache/solr/highlight/SolrFragListBuilder.java
  solr/core/src/java/org/apache/solr/highlight/SolrFragmenter.java
  solr/core/src/java/org/apache/solr/highlight/SolrFragmentsBuilder.java
  solr/core/src/java/org/apache/solr/highlight/WeightedFragListBuilder.java
  solr/core/src/java/org/apache/solr/search/QParserPlugin.java
  solr/core/src/java/org/apache/solr/search/join/HashRangeQParserPlugin.java
  solr/core/src/test/org/apache/solr/search/RankQParserPluginTest.java
  solr/core/src/test/org/apache/solr/search/join/BJQParserTest.java
Labels: tests, cat:search

#3409 SOLR-17742: remove handleSelect requestDispatcher option
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/SolrConfig.java
  solr/core/src/java/org/apache/solr/servlet/HttpSolrCall.java
  solr/core/src/java/org/apache/solr/servlet/SolrRequestParsers.java
  solr/core/src/resources/EditableSolrConfigAttributes.json
  solr/core/src/test/org/apache/solr/core/TestConfigOverlay.java
  solr/core/src/test/org/apache/solr/request/TestRemoteStreaming.java
  solr/solr-ref-guide/modules/configuration-guide/pages/config-api.adoc
  solr/solr-ref-guide/modules/configuration-guide/pages/requestdispatcher.adoc
Labels: documentation, jetty-server, tests, cat:search

#3503 SOLR-17864: Flip solr.hideStackTrace to .enabled equivalent.
  solr/core/src/java/org/apache/solr/core/NodeConfig.java
  solr/solrj/src/java/org/apache/solr/common/util/EnvUtils.java
  solr/solrj/src/resources/DeprecatedSystemPropertyMappings.properties
Labels: client:solrj

#3305 SOLR-17620 Encode the version of Solr in SolrCloud "liveNode"
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/test/org/apache/solr/cloud/ZkControllerTest.java
  solr/core/src/test/org/apache/solr/cloud/overseer/ZkStateReaderTest.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkStateReader.java
Labels: client:solrj, tests, cat:cloud

#3495 SOLR-17631: fix TestStressThreadBackup w.r.t. CheckIndex.Level
  solr/core/src/test/org/apache/solr/handler/TestSnapshotCoreBackup.java
  solr/core/src/test/org/apache/solr/handler/TestStressThreadBackup.java
Labels: tests

#3423 Improve usages of GenericSolrRequest (request type, http method, requiresCollection)
  solr/core/src/java/org/apache/solr/cli/ExportTool.java
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerConfigSetHelper.java
  solr/core/src/java/org/apache/solr/update/processor/DistributedUpdateProcessor.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/TestCollectionAPI.java
  solr/core/src/test/org/apache/solr/handler/TestReplicationHandler.java
  solr/core/src/test/org/apache/solr/handler/TestStressThreadBackup.java
  solr/core/src/test/org/apache/solr/pkg/TestPackages.java
  solr/core/src/test/org/apache/solr/search/TestTaskManagement.java
  solr/core/src/test/org/apache/solr/util/TestCborDataFormat.java
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/scraper/SolrScraper.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudHttp2SolrClientRetryTest.java
  solr/test-framework/src/java/org/apache/solr/cloud/AbstractBasicDistributedZkTestBase.java
  solr/test-framework/src/java/org/apache/solr/handler/BackupStatusChecker.java
Labels: test-framework, client:solrj, prometheus-exporter, tests, cat:search, cat:cloud, cat:index, cat:cli, cat:packagemanager

#3501 SOLR-17874: Stop using HttpSolrClient in production
  solr/CHANGES.txt
  solr/benchmark/build.gradle
  solr/benchmark/gradle.lockfile
  solr/benchmark/src/java/org/apache/solr/bench/search/StreamingSearch.java
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/CollectionHandlingUtils.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/SplitShardCmd.java
  solr/core/src/java/org/apache/solr/handler/SolrConfigHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/AdminHandlersProxy.java
  solr/core/src/java/org/apache/solr/handler/admin/api/SyncShard.java
  solr/core/src/java/org/apache/solr/handler/component/IterativeMergeStrategy.java
  solr/core/src/java/org/apache/solr/metrics/reporters/solr/SolrReporter.java
  solr/core/src/java/org/apache/solr/schema/ManagedIndexSchema.java
  solr/core/src/java/org/apache/solr/update/SolrCmdDistributor.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/SolrClientCache.java
Labels: dependencies, client:solrj, tool:build, cat:search, cat:cloud, cat:index, cat:api, cat:schema, cat:metrics

#3490 Remove deprecated SimpleMap and related classes
  solr/core/src/test/org/apache/solr/cloud/TestLazySolrCluster.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/LazySolrCluster.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/SimpleZkMap.java
  solr/solrj/src/java/org/apache/solr/cluster/api/ApiType.java
  solr/solrj/src/java/org/apache/solr/cluster/api/CollectionConfig.java
  solr/solrj/src/java/org/apache/solr/cluster/api/HashRange.java
  solr/solrj/src/java/org/apache/solr/cluster/api/Resource.java
  solr/solrj/src/java/org/apache/solr/cluster/api/Router.java
  solr/solrj/src/java/org/apache/solr/cluster/api/Shard.java
  solr/solrj/src/java/org/apache/solr/cluster/api/ShardReplica.java
  solr/solrj/src/java/org/apache/solr/cluster/api/SimpleMap.java
  solr/solrj/src/java/org/apache/solr/cluster/api/SolrCluster.java
  solr/solrj/src/java/org/apache/solr/cluster/api/SolrCollection.java
  solr/solrj/src/java/org/apache/solr/cluster/api/SolrNode.java
  solr/solrj/src/java/org/apache/solr/cluster/api/package-info.java
  solr/solrj/src/java/org/apache/solr/common/util/NamedList.java
  solr/solrj/src/java/org/apache/solr/common/util/WrappedSimpleMap.java
Labels: client:solrj, tests, cat:cloud

#3507 SOLR-17877: Move distributedCollectionCommandRunner to ZkController
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/DistributedCollectionCommandContext.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/DistributedCollectionConfigSetCommandRunner.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/OverseerStatusCmd.java
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/handler/admin/CollectionsHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/api/AddReplicaProperty.java
  solr/core/src/java/org/apache/solr/handler/admin/api/AdminAPIBase.java
  solr/core/src/java/org/apache/solr/handler/admin/api/AliasProperty.java
  solr/core/src/java/org/apache/solr/handler/admin/api/BalanceReplicas.java
  solr/core/src/java/org/apache/solr/handler/admin/api/CreateAlias.java
  solr/core/src/java/org/apache/solr/handler/admin/api/CreateCollection.java
  solr/core/src/java/org/apache/solr/handler/admin/api/CreateCollectionBackup.java
  solr/core/src/java/org/apache/solr/handler/admin/api/CreateCollectionSnapshot.java
  solr/core/src/java/org/apache/solr/handler/admin/api/DeleteAlias.java
  solr/core/src/java/org/apache/solr/handler/admin/api/DeleteCollection.java
  solr/core/src/java/org/apache/solr/handler/admin/api/DeleteCollectionSnapshot.java
  solr/core/src/java/org/apache/solr/handler/admin/api/DeleteNode.java
  solr/core/src/java/org/apache/solr/handler/admin/api/DeleteReplicaProperty.java
  solr/core/src/java/org/apache/solr/handler/admin/api/InstallShardData.java
  solr/core/src/java/org/apache/solr/handler/admin/api/MigrateReplicas.java
  solr/core/src/java/org/apache/solr/handler/admin/api/ReplaceNode.java
  solr/core/src/java/org/apache/solr/handler/admin/api/RestoreCollection.java
  solr/core/src/java/org/apache/solr/handler/configsets/ConfigSetAPIBase.java
  solr/core/src/test/org/apache/solr/handler/admin/api/AddReplicaPropertyAPITest.java
  solr/core/src/test/org/apache/solr/handler/admin/api/MigrateReplicasAPITest.java
  solr/core/src/test/org/apache/solr/handler/admin/api/ReplaceNodeAPITest.java
Labels: tests, cat:cloud, cat:api

#3101 update slf4j to v2.0.16 (branch_9x)
  solr/licenses/jcl-over-slf4j-2.0.13.jar.sha1
  solr/licenses/jcl-over-slf4j-2.0.16.jar.sha1
  solr/licenses/jul-to-slf4j-2.0.13.jar.sha1
  solr/licenses/jul-to-slf4j-2.0.16.jar.sha1
  solr/licenses/slf4j-api-2.0.13.jar.sha1
  solr/licenses/slf4j-api-2.0.16.jar.sha1
  versions.lock
  versions.props
Labels: stale

#3532 Testing develocity key for github
  gradle/develocity.gradle
Labels: tool:build

#3515 SOLR-17560: Remove redundant getLeaderReplicas method
  solr/core/src/java/org/apache/solr/servlet/HttpSolrCall.java
  solr/core/src/test/org/apache/solr/cloud/FullSolrCloudDistribCmdsTest.java
  solr/core/src/test/org/apache/solr/update/processor/RoutedAliasUpdateProcessorTest.java
  solr/solrj/src/java/org/apache/solr/common/cloud/DocCollection.java
Labels: jetty-server, client:solrj, tests, cat:cloud, cat:index

#3552 Revert develocity github key changes
  gradle/develocity.gradle
Labels: tool:build

#3494 SOLR-17806: OTEL Java 17 Runtime telemetry for JVM metrics
  gradle/libs.versions.toml
  solr/api/gradle.lockfile
  solr/benchmark/gradle.lockfile
  solr/core/build.gradle
  solr/core/gradle.lockfile
  solr/core/src/java/org/apache/solr/metrics/AltBufferPoolMetricSet.java
  solr/core/src/java/org/apache/solr/metrics/OperatingSystemMetricSet.java
  solr/core/src/java/org/apache/solr/metrics/OtelRuntimeJvmMetrics.java
  solr/core/src/java/org/apache/solr/metrics/SolrMetricManager.java
  solr/core/src/java/org/apache/solr/servlet/CoreContainerProvider.java
  solr/core/src/test/org/apache/solr/metrics/JvmMetricsTest.java
  solr/cross-dc-manager/gradle.lockfile
  solr/modules/analysis-extras/gradle.lockfile
  solr/modules/clustering/gradle.lockfile
  solr/modules/cross-dc/gradle.lockfile
  solr/modules/extraction/gradle.lockfile
  solr/modules/gcs-repository/gradle.lockfile
  solr/modules/jwt-auth/gradle.lockfile
  solr/modules/langid/gradle.lockfile
  solr/modules/llm/gradle.lockfile
  solr/modules/ltr/gradle.lockfile
  solr/modules/opentelemetry/gradle.lockfile
  solr/modules/s3-repository/gradle.lockfile
  solr/modules/scripting/gradle.lockfile
  solr/modules/sql/gradle.lockfile
  solr/prometheus-exporter/gradle.lockfile
  solr/prometheus-exporter/src/test/org/apache/solr/prometheus/exporter/SolrExporterIntegrationTest.java
  solr/prometheus-exporter/src/test/org/apache/solr/prometheus/scraper/SolrCloudScraperTest.java
  solr/server/gradle.lockfile
  solr/solr-ref-guide/gradle.lockfile
  solr/solrj-streaming/gradle.lockfile
  solr/solrj-zookeeper/gradle.lockfile
  solr/solrj/gradle.lockfile
  solr/solrj/src/test/org/apache/solr/common/cloud/TestNodesSysPropsCacher.java
  solr/test-framework/gradle.lockfile
  solr/test-framework/src/java/org/apache/solr/SolrIgnoredThreadsFilter.java
  solr/test-framework/src/java/org/apache/solr/SolrTestCaseJ4.java
  solr/webapp/gradle.lockfile
Labels: documentation, dependencies, test-framework, jetty-server, client:solrj, module:extraction, module:jwt-auth, module:ltr, module:opentelemetry, module:s3-repository, tool:build, prometheus-exporter, module:gcs-repository, module:sql, admin-ui, tests, cat:api, module:clustering, cat:metrics, module:langid, module:scripting
