Repository apache/solr, pull requests merged in 2025-10, with the labels that each got.

#3685 Migrate gradle help files into a subdir of dev-docs for findability
  dev-docs/dependency-upgrades.adoc
  dev-docs/gradle-help/README.md
  dev-docs/gradle-help/ant.txt
  dev-docs/gradle-help/dependencies.txt
  dev-docs/gradle-help/docker.txt
  dev-docs/gradle-help/forbiddenApis.txt
  dev-docs/gradle-help/formatting.txt
  dev-docs/gradle-help/git.txt
  dev-docs/gradle-help/localSettings.txt
  dev-docs/gradle-help/publishing.txt
  dev-docs/gradle-help/tests.txt
  dev-docs/gradle-help/validateLogCalls.txt
  dev-docs/gradle-help/workflow.txt
  dev-docs/lucene-upgrade.md
  dev-tools/scripts/releaseWizard.yaml
  gradle/help.gradle
  gradle/validation/spotless.gradle
  solr/docker/build.gradle
Labels: documentation, docker, tool:build, scripts

#3712 Small cleanups SolrTestCaseHS
  solr/core/src/test/org/apache/solr/search/facet/TestJsonFacetErrors.java
  solr/core/src/test/org/apache/solr/search/facet/TestJsonFacetRefinement.java
  solr/core/src/test/org/apache/solr/search/facet/TestJsonFacets.java
  solr/core/src/test/org/apache/solr/search/facet/TestJsonFacetsWithNestedObjects.java
  solr/core/src/test/org/apache/solr/search/facet/TestJsonRangeFacets.java
  solr/core/src/test/org/apache/solr/search/json/TestJsonRequest.java
  solr/test-framework/src/java/org/apache/solr/SolrTestCaseHS.java
Labels: test-framework, tests, cat:search

#3707 Broken tests from closing meter providers on core unload and reload
  gradle/testing/randomization/policies/solr-tests.policy
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/metrics/SolrCoreMetricManager.java
  solr/core/src/java/org/apache/solr/metrics/SolrMetricManager.java
  solr/core/src/java/org/apache/solr/metrics/otel/NoopMetricExporter.java
  solr/core/src/java/org/apache/solr/update/PeerSync.java
  solr/core/src/java/org/apache/solr/update/PeerSyncWithLeader.java
  solr/core/src/java/org/apache/solr/update/UpdateLog.java
  solr/core/src/test/org/apache/solr/core/RequestHandlersTest.java
  solr/core/src/test/org/apache/solr/handler/admin/StatsReloadRaceTest.java
  solr/core/src/test/org/apache/solr/metrics/SolrCoreMetricManagerTest.java
  solr/core/src/test/org/apache/solr/metrics/SolrMetricsIntegrationTest.java
  solr/core/src/test/org/apache/solr/search/TestSolrCachePerf.java
  solr/modules/opentelemetry/src/java/org/apache/solr/opentelemetry/OtlpExporterFactory.java
  solr/server/etc/security.policy
  solr/test-framework/src/java/org/apache/solr/core/MockQuerySenderListenerReqHandler.java
Labels: test-framework, jetty-server, module:opentelemetry, tool:build, tests, cat:search, cat:index, cat:metrics

#3720 SOLR-17939: Give all ZK-plugins to SolrZkClient
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
Labels: cat:cloud

#3623 SOLR-17853: Migrate Plugins / Stats UI tab with Prometheus metrics
  solr/core/src/java/org/apache/solr/handler/admin/PluginInfoHandler.java
  solr/core/src/java/org/apache/solr/handler/admin/SolrInfoMBeanHandler.java
  solr/core/src/resources/ImplicitPlugins.json
  solr/core/src/test/org/apache/solr/cloud/TestPullReplica.java
  solr/core/src/test/org/apache/solr/cloud/TestPullReplicaWithAuth.java
  solr/core/src/test/org/apache/solr/cloud/TestTlogReplica.java
  solr/core/src/test/org/apache/solr/core/SolrCoreTest.java
  solr/core/src/test/org/apache/solr/core/TestSolrConfigHandler.java
  solr/core/src/test/org/apache/solr/handler/admin/MBeansHandlerTest.java
  solr/server/etc/security.policy
  solr/webapp/web/css/angular/plugins.css
  solr/webapp/web/js/angular/controllers/plugins.js
  solr/webapp/web/js/angular/services.js
  solr/webapp/web/partials/plugins.html
Labels: jetty-server, admin-ui, tests, cat:cloud
