Repository apache/solr, pull requests merged in 2025-01, with the labels that each got.

#2916 SOLR-17582 Stream CLUSTERSTATUS API response
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/admin/ClusterStatus.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/TestCollectionAPI.java
Labels: tests, cat:cloud

#2934 IDE suggested cleanups
  solr/core/src/java/org/apache/solr/handler/designer/DefaultSampleDocumentsLoader.java
  solr/core/src/java/org/apache/solr/handler/designer/DefaultSchemaSuggester.java
  solr/core/src/java/org/apache/solr/handler/designer/SampleDocuments.java
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerAPI.java
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerConfigSetHelper.java
  solr/core/src/test/org/apache/solr/handler/designer/TestSchemaDesignerAPI.java
  solr/core/src/test/org/apache/solr/handler/designer/TestSchemaDesignerConfigSetHelper.java
Labels: tests

#2869 SolrTestCase now supports @LogLevel
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/util/StartupLoggingUtils.java
  solr/test-framework/src/java/org/apache/solr/SolrTestCase.java
  solr/test-framework/src/java/org/apache/solr/SolrTestCaseJ4.java
  solr/test-framework/src/java/org/apache/solr/util/LogLevel.java
  solr/test-framework/src/java/org/apache/solr/util/LogLevelTestRule.java
  solr/test-framework/src/test/org/apache/solr/util/TestLogLevelAnnotations.java
Labels: test-framework, tests

#2680 Use separate nodeProjectDir for each subproject
  gradle/node.gradle
  solr/CHANGES.txt
Labels: tool:build

#2424 Parses CHANGES.txt to identify contributors
  dev-tools/scripts/parseContributorsFromChanges.py
Labels: scripts

#2902 SOLR-17587: Prometheus Writer duplicate TYPE information in exposition format
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/admin/MetricsHandler.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/PrometheusCoreFormatterInfo.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreCacheMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreHandlerMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreHighlighterMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreIndexMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreSearcherMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrCoreTlogMetric.java
  solr/core/src/java/org/apache/solr/metrics/prometheus/core/SolrPrometheusCoreFormatter.java
  solr/core/src/java/org/apache/solr/response/PrometheusResponseWriter.java
  solr/core/src/test/org/apache/solr/handler/admin/MetricsHandlerTest.java
  solr/core/src/test/org/apache/solr/metrics/SolrCoreMetricTest.java
  solr/core/src/test/org/apache/solr/metrics/SolrPrometheusFormatterTest.java
  solr/core/src/test/org/apache/solr/response/TestPrometheusResponseWriter.java
Labels: tests, cat:search, cat:metrics

#3012 Fix rarely flaky DeleteInactiveReplicaTest.
  solr/core/src/test/org/apache/solr/cloud/DeleteInactiveReplicaTest.java
Labels: tests, cat:cloud

#2974 [ref guide] Note how to view the requested and applied facet.method
  solr/solr-ref-guide/modules/query-guide/pages/faceting.adoc
Labels: documentation

#2932 reusing empty NamedList rather than recreating a new empty NamedList …
  solr/core/src/java/org/apache/solr/request/SimpleFacets.java
  solr/solrj/src/java/org/apache/solr/common/util/SimpleOrderedMap.java
Labels: client:solrj, cat:search

#2741 SOLR-16503: Replace default USH apache client with Http2SolrClient
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/Overseer.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/ReindexCollectionCmd.java
  solr/core/src/java/org/apache/solr/filestore/DistribFileStore.java
  solr/core/src/java/org/apache/solr/pkg/PackageAPI.java
  solr/core/src/java/org/apache/solr/security/PKIAuthenticationPlugin.java
  solr/modules/cross-dc/build.gradle
  solr/modules/cross-dc/src/java/org/apache/solr/crossdc/update/processor/MirroringUpdateProcessor.java
  versions.lock
Labels: dependencies, tool:build, cat:cloud, cat:api, cat:security, cat:packagemanager

#2640 SOLR-17471: document Lucene 9.12's TieredMergePolicyFactory.targetSearchConcurrency parameter
  solr/core/src/test-files/solr/collection1/conf/solrconfig-tieredmergepolicyfactory.xml
  solr/solr-ref-guide/modules/configuration-guide/pages/index-segments-merging.adoc
Labels: documentation, tests

#2926 SOLR-17589 First use of PUT/POST request with HttpJdkSolrClient generates error log entry on solr server due to initial HEAD request
  solr/CHANGES.txt
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpJdkSolrClient.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpJdkSolrClientTest.java
Labels: client:solrj, tests

#3024 Fix smoketest for Solr 10
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/Checksum.java
  dev-tools/scripts/releaseWizard.py
  dev-tools/scripts/releaseWizard.yaml
  dev-tools/scripts/smokeTestRelease.py
  gradle/documentation/render-javadoc.gradle
  gradle/documentation/render-javadoc/java17/package-list
  gradle/documentation/render-javadoc/java21/package-list
  gradle/java/javac.gradle
  solr/documentation/src/markdown/SYSTEM_REQUIREMENTS.md
Labels: documentation, tool:build, scripts

#3027 Move DOMUtil ConfigNode methods to ConfigNode, with some name changes.
  solr/core/src/java/org/apache/solr/core/PluginInfo.java
  solr/core/src/java/org/apache/solr/core/SolrConfig.java
  solr/core/src/java/org/apache/solr/core/SolrXmlConfig.java
  solr/core/src/java/org/apache/solr/schema/FieldTypePluginLoader.java
  solr/core/src/java/org/apache/solr/schema/IndexSchema.java
  solr/core/src/java/org/apache/solr/util/DOMConfigNode.java
  solr/core/src/java/org/apache/solr/util/DataConfigNode.java
  solr/core/src/java/org/apache/solr/util/plugin/AbstractPluginLoader.java
  solr/core/src/java/org/apache/solr/util/plugin/MapPluginLoader.java
  solr/core/src/java/org/apache/solr/util/plugin/NamedListPluginLoader.java
  solr/core/src/test/org/apache/solr/core/TestCodecSupport.java
  solr/solrj/src/java/org/apache/solr/common/ConfigNode.java
  solr/solrj/src/java/org/apache/solr/common/util/DOMUtil.java
Labels: client:solrj, tests, cat:schema

#3030 build: remove gradle/ant-compat
  build.gradle
  gradle/ant-compat/artifact-naming.gradle
  gradle/ant-compat/misc.gradle
  gradle/ant-compat/solr.folder-layout.gradle
  gradle/globals.gradle
  gradle/maven/defaults-maven.gradle
  solr/webapp/build.gradle
Labels: tool:build, admin-ui

#3028 SOLR-17221: Http2SolrClient merges case sensitive solr params
  solr/CHANGES.txt
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpJdkSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpSolrClientTestBase.java
Labels: client:solrj, tests

#2927 SOLR-17611 SolrJ User-Agent, pass Solr version
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/servlet/HttpSolrCall.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ConcurrentUpdateSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpJdkSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClient.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/BasicHttpSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/Http2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpJdkSolrClientTest.java
Labels: jetty-server, client:solrj, tests

#3035 Publish build scans to develocity.apache.org
  .github/workflows/bin-solr-test.yml
  .github/workflows/docker-test.yml
  .github/workflows/gradle-precommit.yml
  .github/workflows/solrj-test.yml
  dev-docs/FAQ.adoc
  gradle/develocity.gradle
  gradle/testing/failed-tests-at-end.gradle
  settings.gradle
Labels: documentation, tool:build

#3040 Add info about the Spanish Plural Stemmer
  solr/solr-ref-guide/modules/indexing-guide/pages/language-analysis.adoc
Labels: documentation

#3046 remove unused (private static) ZkStateReader.GET_LEADER_RETRY_INTERVAL_MS
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkStateReader.java
Labels: client:solrj

#3036 SOLR-17581: Less ZK watches in tests.
  solr/CHANGES.txt
  solr/core/src/test/org/apache/solr/cloud/CollectionStateZnodeTest.java
  solr/core/src/test/org/apache/solr/cloud/CollectionsAPISolrJTest.java
  solr/core/src/test/org/apache/solr/cloud/DeleteInactiveReplicaTest.java
  solr/core/src/test/org/apache/solr/cloud/DeleteLastCustomShardedReplicaTest.java
  solr/core/src/test/org/apache/solr/cloud/DeleteReplicaTest.java
  solr/core/src/test/org/apache/solr/cloud/DeleteShardTest.java
  solr/core/src/test/org/apache/solr/cloud/DistribDocExpirationUpdateProcessorTest.java
  solr/core/src/test/org/apache/solr/cloud/LeaderElectionIntegrationTest.java
  solr/core/src/test/org/apache/solr/cloud/LeaderTragicEventTest.java
  solr/core/src/test/org/apache/solr/cloud/LeaderVoteWaitTimeoutTest.java
  solr/core/src/test/org/apache/solr/cloud/MigrateRouteKeyTest.java
  solr/core/src/test/org/apache/solr/cloud/ReindexCollectionTest.java
  solr/core/src/test/org/apache/solr/cloud/SplitShardTest.java
  solr/core/src/test/org/apache/solr/cloud/TestCloudConsistency.java
  solr/core/src/test/org/apache/solr/cloud/TestCloudRecovery2.java
  solr/core/src/test/org/apache/solr/cloud/TestCloudSearcherWarming.java
  solr/core/src/test/org/apache/solr/cloud/TestDeleteCollectionOnDownNodes.java
  solr/core/src/test/org/apache/solr/cloud/TestPrepRecovery.java
  solr/core/src/test/org/apache/solr/cloud/TestPullReplica.java
  solr/core/src/test/org/apache/solr/cloud/TestRebalanceLeaders.java
  solr/core/src/test/org/apache/solr/cloud/TestTlogReplayVsRecovery.java
  solr/core/src/test/org/apache/solr/cloud/TestTlogReplica.java
  solr/core/src/test/org/apache/solr/cloud/ZkControllerTest.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/CollectionReloadTest.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/CollectionTooManyReplicasTest.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/CollectionsAPIAsyncDistributedZkTest.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/CustomCollectionTest.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/TestCollectionAPI.java
  solr/core/src/test/org/apache/solr/cluster/maintenance/InactiveShardRemoverTest.java
  solr/core/src/test/org/apache/solr/search/TestCoordinatorRole.java
  solr/core/src/test/org/apache/solr/update/processor/RoutedAliasUpdateProcessorTest.java
  solr/modules/hdfs/src/test/org/apache/solr/hdfs/cloud/HdfsCollectionsApiTest.java
  solr/solrj/src/test/org/apache/solr/common/cloud/PerReplicaStatesIntegrationTest.java
  solr/test-framework/src/java/org/apache/solr/cloud/SolrCloudTestCase.java
Labels: test-framework, client:solrj, module:hdfs, tests, cat:search, cat:cloud, cat:index

#3045 SOLR-17629: SQLHandler: remember to close if open fails
  solr/CHANGES.txt
  solr/modules/sql/src/java/org/apache/solr/handler/sql/SolrEnumerator.java
Labels: module:sql

#2935 SOLR-17519: CloudSolrClient with HTTP ClusterState can forget live nodes and then fail
  solr/CHANGES.txt
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/BaseHttpClusterStateProvider.java
  solr/solrj/src/java/org/apache/solr/common/util/URLUtil.java
  solr/solrj/src/java/org/apache/solr/common/util/Utils.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/ClusterStateProviderTest.java
  solr/solrj/src/test/org/apache/solr/common/util/URLUtilTest.java
  solr/test-framework/src/java/org/apache/solr/cloud/MiniSolrCloudCluster.java
Labels: test-framework, client:solrj, tests, cat:cloud

#2715 SOLR-17626: add RawTFSimilarityFactory class
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/search/similarities/RawTFSimilarityFactory.java
  solr/core/src/test-files/solr/collection1/conf/schema-rawtf.xml
  solr/core/src/test/org/apache/solr/search/similarities/TestRawTFSimilarityFactory.java
Labels: tests, cat:search

#3059 Remove broken and unused ZkStateReader.getReplicaProps()
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkStateReader.java
Labels: client:solrj

#3142 Fix TestReplicationHandler
  solr/core/src/test/org/apache/solr/handler/ReplicationTestHelper.java
  solr/core/src/test/org/apache/solr/handler/TestReplicationHandler.java
Labels: tests

#3147 SOLR-17637: Fix LBHttpSolrClient & HttpShardHandler bug
  solr/CHANGES.txt
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBHttp2SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/LBSolrClient.java
Labels: client:solrj

#3048 SOLR-17623: Simple ordered map should implement map
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/handler/component/PivotFacetProcessor.java
  solr/solrj/src/java/org/apache/solr/common/util/NamedList.java
  solr/solrj/src/java/org/apache/solr/common/util/SimpleOrderedMap.java
  solr/solrj/src/test/org/apache/solr/common/util/SimpleOrderedMapTest.java
Labels: client:solrj, tests, cat:search
