Repository apache/solr, pull requests merged in 2025-03, with the labels that each got.

#3232 [FIX] -- Correct typo in CoreAdmin create api documentation.
  solr/solr-ref-guide/modules/configuration-guide/pages/coreadmin-api.adoc
Labels: documentation

#3224 SOLR-17686: Rename stageInEnglish to stageToString and make it protected and non-static
  solr/core/src/java/org/apache/solr/handler/component/SearchHandler.java
Labels: cat:search

#3237 SOLR-17684: SolrJ Reference Guide (Ping) - Incorrect Status Retrieval
  solr/solr-ref-guide/modules/deployment-guide/examples/UsingPingRefGuideExamplesTest.java
  solr/solr-ref-guide/modules/deployment-guide/pages/ping.adoc
Labels: documentation

#3145 SOLR-17438 Resolve committer GPG key from other source
  dev-tools/scripts/releaseWizard.py
  dev-tools/scripts/requirements.txt
  dev-tools/scripts/scriptutil.py
Labels: scripts

#3029 SOLR-17309: Enhance certificate based authentication plugin with flexible cert principal resolution
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/SolrResourceLoader.java
  solr/core/src/java/org/apache/solr/security/CertAuthPlugin.java
  solr/core/src/java/org/apache/solr/security/cert/CertPrincipalResolver.java
  solr/core/src/java/org/apache/solr/security/cert/CertResolverPattern.java
  solr/core/src/java/org/apache/solr/security/cert/CertUtil.java
  solr/core/src/java/org/apache/solr/security/cert/PathBasedCertPrincipalResolver.java
  solr/core/src/java/org/apache/solr/security/cert/PathBasedCertResolverBase.java
  solr/core/src/java/org/apache/solr/security/cert/package-info.java
  solr/core/src/test/org/apache/solr/security/CertAuthPluginTest.java
  solr/core/src/test/org/apache/solr/security/PathBasedCertPrincipalResolverTest.java
  solr/solr-ref-guide/modules/deployment-guide/pages/cert-authentication-plugin.adoc
Labels: documentation, tests, cat:security

#3246 SOLR-17695: Don't warn user about solrUrl format when they do not supply it
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
Labels: cat:cli

#2849 SOLR-17537: Manage ZK Compression through Curator
  solr/core/src/test/org/apache/solr/cli/ZkSubcommandsTest.java
  solr/core/src/test/org/apache/solr/cloud/overseer/ZkStateWriterTest.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/SolrZkClient.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/SolrZkCompressionProvider.java
Labels: client:solrj, tests, cat:cloud, cat:cli

#3225 Make test connectionLoss logic the same, add waitForLoss option
  solr/test-framework/src/java/org/apache/solr/cloud/ChaosMonkey.java
  solr/test-framework/src/java/org/apache/solr/cloud/MiniSolrCloudCluster.java
Labels: test-framework, cat:cloud

#3235 SimpleOrderedMap MapWriter constructor
  solr/core/src/java/org/apache/solr/handler/ReplicationHandler.java
  solr/core/src/test/org/apache/solr/search/TestMinHashQParser.java
  solr/core/src/test/org/apache/solr/update/processor/RegexBoostProcessorTest.java
  solr/modules/langid/src/test/org/apache/solr/update/processor/OpenNLPLangDetectUpdateProcessorFactoryTest.java
  solr/solrj/src/java/org/apache/solr/common/params/SolrParams.java
  solr/solrj/src/java/org/apache/solr/common/util/SimpleOrderedMap.java
Labels: client:solrj, tests, cat:search, cat:index, module:langid

#3249 SOLR-17607: Http ClusterStateProvider, lazy connect
  solr/CHANGES.txt
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/BaseHttpClusterStateProvider.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/Http2ClusterStateProvider.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpClusterStateProvider.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudHttp2SolrClientTest.java
Labels: client:solrj, tests

#3248 SolrJ ResponseParser API improvements, minor
  solr/core/src/test/org/apache/solr/cloud/TestRandomFlRTGCloud.java
  solr/core/src/test/org/apache/solr/handler/admin/ShowFileRequestHandlerTest.java
  solr/core/src/test/org/apache/solr/response/TestRawTransformer.java
  solr/core/src/test/org/apache/solr/search/TestSmileRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/ResponseParser.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/BinaryResponseParser.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/HttpSolrClientBase.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/InputStreamResponseParser.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/JsonMapResponseParser.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/NoOpResponseParser.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/StreamingBinaryResponseParser.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/XMLResponseParser.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/DelegationTokenRequest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/SolrExampleCborTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/HttpSolrClientBuilderTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/LBHttpSolrClientBuilderTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/response/NoOpResponseParserTest.java
Labels: client:solrj, tests, cat:search, cat:cloud

#3223 SOLR-17685: Remove script creation of solr url based on SOLR_TOOL_HOST in favour of java code in CLI tools
  solr/CHANGES.txt
  solr/bin/solr
  solr/bin/solr.cmd
  solr/core/src/java/org/apache/solr/cli/AuthTool.java
  solr/core/src/java/org/apache/solr/cli/CLIUtils.java
  solr/core/src/java/org/apache/solr/cli/RunExampleTool.java
  solr/core/src/test/org/apache/solr/cli/CLIUtilsTest.java
  solr/packaging/test/test_auth.bats
Labels: start-scripts, tests, cat:cli

#3209 SOLR-17682: QueryResponseWriter hierarchy refactor
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/client/solrj/embedded/EmbeddedSolrServer.java
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/jersey/MessageBodyWriters.java
  solr/core/src/java/org/apache/solr/response/BinaryQueryResponseWriter.java
  solr/core/src/java/org/apache/solr/response/BinaryResponseWriter.java
  solr/core/src/java/org/apache/solr/response/CSVResponseWriter.java
  solr/core/src/java/org/apache/solr/response/CborResponseWriter.java
  solr/core/src/java/org/apache/solr/response/GraphMLResponseWriter.java
  solr/core/src/java/org/apache/solr/response/JSONResponseWriter.java
  solr/core/src/java/org/apache/solr/response/JacksonJsonWriter.java
  solr/core/src/java/org/apache/solr/response/PrometheusResponseWriter.java
  solr/core/src/java/org/apache/solr/response/QueryResponseWriter.java
  solr/core/src/java/org/apache/solr/response/RawResponseWriter.java
  solr/core/src/java/org/apache/solr/response/SchemaXmlResponseWriter.java
  solr/core/src/java/org/apache/solr/response/SmileResponseWriter.java
  solr/core/src/java/org/apache/solr/response/TextQueryResponseWriter.java
  solr/core/src/java/org/apache/solr/response/XMLResponseWriter.java
  solr/core/src/java/org/apache/solr/servlet/DirectSolrConnection.java
  solr/core/src/java/org/apache/solr/servlet/HttpSolrCall.java
  solr/core/src/test/org/apache/solr/OutputWriterTest.java
  solr/core/src/test/org/apache/solr/TestCrossCoreJoin.java
  solr/core/src/test/org/apache/solr/TestTolerantSearch.java
  solr/core/src/test/org/apache/solr/logging/TestLogWatcher.java
  solr/core/src/test/org/apache/solr/request/TestWriterPerf.java
  solr/core/src/test/org/apache/solr/response/JSONWriterTest.java
  solr/core/src/test/org/apache/solr/response/TestBinaryResponseWriter.java
  solr/core/src/test/org/apache/solr/response/TestCSVResponseWriter.java
  solr/core/src/test/org/apache/solr/response/TestRawResponseWriter.java
  solr/core/src/test/org/apache/solr/response/TestRetrieveFieldsOptimizer.java
  solr/core/src/test/org/apache/solr/response/transform/TestSubQueryTransformer.java
  solr/core/src/test/org/apache/solr/search/TestSmileRequest.java
  solr/modules/extraction/src/java/org/apache/solr/handler/extraction/XLSXResponseWriter.java
  solr/modules/scripting/src/java/org/apache/solr/scripting/xslt/XSLTResponseWriter.java
  solr/modules/scripting/src/test/org/apache/solr/scripting/xslt/XSLTUpdateRequestHandlerTest.java
  solr/solrj/src/java/org/apache/solr/common/util/TextWriter.java
  solr/test-framework/src/java/org/apache/solr/util/TestHarness.java
Labels: test-framework, jetty-server, client:solrj, module:extraction, tests, cat:search, cat:api, module:scripting

#3159 Deprecations
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/java/org/apache/solr/cloud/overseer/NodeMutator.java
  solr/core/src/java/org/apache/solr/request/LocalSolrQueryRequest.java
  solr/core/src/java/org/apache/solr/request/SolrQueryRequest.java
  solr/core/src/java/org/apache/solr/servlet/DirectSolrConnection.java
  solr/core/src/java/org/apache/solr/servlet/HttpSolrCall.java
  solr/core/src/java/org/apache/solr/util/MockSearchableSolrClient.java
  solr/core/src/test/org/apache/solr/cloud/DeleteNodeTest.java
  solr/core/src/test/org/apache/solr/cloud/MigrateReplicasTest.java
  solr/core/src/test/org/apache/solr/cloud/ReplaceNodeTest.java
  solr/core/src/test/org/apache/solr/search/TestCoordinatorRole.java
  solr/solrj-streaming/src/java/org/apache/solr/client/solrj/io/sql/ConnectionImpl.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/CloudSolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/ClusterStateProvider.java
  solr/solrj/src/java/org/apache/solr/client/solrj/impl/NoOpResponseParser.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/DirectXmlRequest.java
  solr/solrj/src/java/org/apache/solr/common/MapSerializable.java
  solr/solrj/src/java/org/apache/solr/common/cloud/ClusterState.java
  solr/solrj/src/java/org/apache/solr/common/cloud/DocCollection.java
  solr/solrj/src/java/org/apache/solr/common/util/NamedList.java
Labels: jetty-server, client:solrj, tests, cat:search, cat:cloud

#3259 SOLR-17699: Fix frange perf regression when sub-clause
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/search/function/ValueSourceRangeFilter.java
  solr/core/src/test/org/apache/solr/core/SOLR749Test.java
Labels: tests, cat:search

#3266 SOLR-17702: Move ZK ConnectionListener logic out of SolrZkClient
  solr/core/src/java/org/apache/solr/cloud/ZkController.java
  solr/core/src/java/org/apache/solr/core/ZkContainer.java
  solr/core/src/java/org/apache/solr/handler/admin/ZookeeperInfoHandler.java
  solr/core/src/java/org/apache/solr/schema/ZkIndexSchemaReader.java
  solr/core/src/test/org/apache/solr/cloud/LeaderElectionTest.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/OnDisconnect.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/OnReconnect.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/SolrZkClient.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/ZkStateReader.java
Labels: client:solrj, tests, cat:cloud, cat:schema

#3268 SOLR-17709: Fix race condition when checking distrib async cmd status
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cloud/DistributedApiAsyncTracker.java
Labels: cat:cloud

#2850 SOLR-17547: Collect ZK Metrics via Curator
  solr/core/src/test/org/apache/solr/metrics/SolrMetricsIntegrationTest.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/SolrZKMetricsListener.java
  solr/solrj-zookeeper/src/java/org/apache/solr/common/cloud/SolrZkClient.java
Labels: client:solrj, tests, cat:metrics

#3276 Replace all with configureEach to solve configuration issues
  gradle/hacks/dummy-outputs.gradle
  gradle/hacks/turbocharge-jvm-opts.gradle
  gradle/testing/alternative-jdk-support.gradle
Labels: tool:build

#3267 SOLR-17682: Rename BinaryResponseWriter to JavaBinResponseWriter
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/client/solrj/embedded/EmbeddedSolrServer.java
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/handler/admin/SolrInfoMBeanHandler.java
  solr/core/src/java/org/apache/solr/handler/export/ExportWriter.java
  solr/core/src/java/org/apache/solr/jersey/MessageBodyWriters.java
  solr/core/src/java/org/apache/solr/response/DocsStreamer.java
  solr/core/src/java/org/apache/solr/response/JavaBinResponseWriter.java
  solr/core/src/java/org/apache/solr/response/QueryResponseWriter.java
  solr/core/src/test/org/apache/solr/TestGroupingSearch.java
  solr/core/src/test/org/apache/solr/TestTolerantSearch.java
  solr/core/src/test/org/apache/solr/response/TestJavaBinResponseWriter.java
Labels: tests, cat:search, cat:api

#3280 SOLR-17342 script to update old ref-guides
  dev-tools/scripts/refguide/refguide-download-js-css.py
  dev-tools/scripts/requirements.txt
Labels: scripts

#3262 SOLR-10998: Obey 'Accept' header in v2 APIs
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/jersey/JerseyApplications.java
  solr/core/src/java/org/apache/solr/jersey/MediaTypeOverridingFilter.java
  solr/core/src/test/org/apache/solr/handler/V2ApiIntegrationTest.java
Labels: tests, cat:api

#3275 Fix missing closing apostrophe in collection reload command example
  solr/solr-ref-guide/modules/deployment-guide/pages/collection-management.adoc
Labels: documentation

#3252 Update taking-solr-to-production.adoc environment variable SOLR_ENV to SOLR_INCLUDE
  solr/solr-ref-guide/modules/deployment-guide/pages/taking-solr-to-production.adoc
Labels: documentation

#3277 Test: UpdateRequestProcessorFactoryTest, can be flaky
  solr/core/src/test/org/apache/solr/update/processor/UpdateRequestProcessorFactoryTest.java
  solr/modules/s3-repository/src/test/org/apache/solr/s3/AbstractS3ClientTest.java
  solr/modules/s3-repository/src/test/org/apache/solr/s3/S3BackupRepositoryTest.java
  solr/modules/s3-repository/src/test/org/apache/solr/s3/S3IncrementalBackupTest.java
  solr/modules/s3-repository/src/test/org/apache/solr/s3/S3InstallShardTest.java
  solr/modules/s3-repository/src/test/org/apache/solr/s3/S3OutputStreamTest.java
Labels: module:s3-repository, tests, cat:index

#3271 SOLR-17706 SolrJ DocumentObjectBinder, make a singleton
  solr/CHANGES.txt
  solr/core/src/test/org/apache/solr/cloud/DistribJoinFromCollectionTest.java
  solr/core/src/test/org/apache/solr/cloud/TestRandomFlRTGCloud.java
  solr/core/src/test/org/apache/solr/response/transform/TestSubQueryTransformerDistrib.java
  solr/core/src/test/org/apache/solr/search/join/ShardToShardJoinAbstract.java
  solr/solrj/src/java/org/apache/solr/client/solrj/SolrClient.java
  solr/solrj/src/java/org/apache/solr/client/solrj/beans/DocumentObjectBinder.java
  solr/solrj/src/java/org/apache/solr/client/solrj/request/QueryRequest.java
  solr/solrj/src/java/org/apache/solr/client/solrj/response/QueryResponse.java
  solr/solrj/src/test/org/apache/solr/client/solrj/beans/TestDocumentObjectBinder.java
  solr/solrj/src/test/org/apache/solr/client/solrj/response/QueryResponseTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/response/TestClusteringResponse.java
Labels: client:solrj, tests, cat:search, cat:cloud

#3269 Test fix: SolrExporterTestBase, port bind
  solr/prometheus-exporter/src/java/org/apache/solr/prometheus/exporter/SolrExporter.java
  solr/prometheus-exporter/src/test/org/apache/solr/prometheus/exporter/SolrExporterTestBase.java
Labels: prometheus-exporter, tests

#3207 JavaBinUpdateRequestCodec: Dead code removal
  solr/solrj/src/java/org/apache/solr/client/solrj/request/JavaBinUpdateRequestCodec.java
  solr/solrj/src/test/org/apache/solr/client/solrj/request/TestUpdateRequestCodec.java
Labels: client:solrj, tests

#3284 Do not enable security manager on JDK 24+ (#14179)
  gradle/testing/randomization.gradle
Labels: tool:build

#3285 Fix cross-dc security manager usage. Port some Lucene test setup
  build.gradle
  gradle/testing/defaults-tests.gradle
  gradle/testing/randomization.gradle
Labels: tool:build

#3286 SOLR-17718: Upgrade bytebuddy to 1.17.4
  gradle/libs.versions.toml
  solr/core/gradle.lockfile
  solr/cross-dc-manager/build.gradle
  solr/cross-dc-manager/gradle.lockfile
  solr/licenses/byte-buddy-1.15.11.jar.sha1
  solr/licenses/byte-buddy-1.17.4.jar.sha1
  solr/licenses/byte-buddy-agent-1.15.11.jar.sha1
  solr/licenses/byte-buddy-agent-1.17.4.jar.sha1
  solr/modules/analysis-extras/gradle.lockfile
  solr/modules/cross-dc/build.gradle
  solr/modules/cross-dc/gradle.lockfile
  solr/modules/jwt-auth/gradle.lockfile
  solr/modules/ltr/gradle.lockfile
  solr/modules/s3-repository/gradle.lockfile
  solr/solrj/gradle.lockfile
Labels: dependencies, client:solrj, module:jwt-auth, module:ltr, module:s3-repository, tool:build

#3287 Only apply test failure output logic for Java tests
  gradle/testing/defaults-tests.gradle
  gradle/testing/failed-tests-at-end.gradle
Labels: tool:build

#3281 SOLR-17714: Add a FuzzyQParser for all FuzzyQuery customizations
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/parser/SolrQueryParserBase.java
  solr/core/src/java/org/apache/solr/search/FuzzyQParserPlugin.java
  solr/core/src/java/org/apache/solr/search/QParserPlugin.java
  solr/core/src/test/org/apache/solr/search/QueryEqualityTest.java
  solr/solr-ref-guide/modules/query-guide/pages/other-parsers.adoc
  solr/solr-ref-guide/modules/query-guide/pages/standard-query-parser.adoc
Labels: documentation, tests, cat:search

#3272 SOLR-17584: Remove code and documentation for "trusted" configsets
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/CreateTool.java
  solr/core/src/java/org/apache/solr/cloud/ZkConfigSetService.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/RestoreCmd.java
  solr/core/src/java/org/apache/solr/core/ConfigSet.java
  solr/core/src/java/org/apache/solr/core/ConfigSetService.java
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/java/org/apache/solr/core/CoreDescriptor.java
  solr/core/src/java/org/apache/solr/core/FileSystemConfigSetService.java
  solr/core/src/java/org/apache/solr/core/SyntheticSolrCore.java
  solr/core/src/java/org/apache/solr/core/backup/BackupManager.java
  solr/core/src/java/org/apache/solr/handler/admin/api/RestoreCollection.java
  solr/core/src/java/org/apache/solr/handler/configsets/CloneConfigSet.java
  solr/core/src/java/org/apache/solr/handler/configsets/ConfigSetAPIBase.java
  solr/core/src/java/org/apache/solr/handler/configsets/UploadConfigSet.java
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerAPI.java
  solr/core/src/java/org/apache/solr/handler/designer/SchemaDesignerConfigSetHelper.java
  solr/core/src/test/org/apache/solr/cloud/MockScriptUpdateProcessorFactory.java
  solr/core/src/test/org/apache/solr/cloud/TestConfigSetsAPI.java
  solr/core/src/test/org/apache/solr/cloud/TestConfigSetsAPIExclusivity.java
  solr/core/src/test/org/apache/solr/core/TestCodecSupport.java
  solr/core/src/test/org/apache/solr/core/TestConfigSetService.java
  solr/core/src/test/org/apache/solr/core/TestCoreContainer.java
  solr/core/src/test/org/apache/solr/core/TestFileSystemConfigSetService.java
  solr/core/src/test/org/apache/solr/handler/admin/ZookeeperReadAPITest.java
  solr/core/src/test/org/apache/solr/handler/admin/api/RestoreCollectionAPITest.java
  solr/modules/scripting/src/java/org/apache/solr/scripting/update/ScriptUpdateProcessorFactory.java
  solr/modules/scripting/src/java/org/apache/solr/scripting/xslt/XSLTUpdateRequestHandler.java
  solr/solr-ref-guide/modules/deployment-guide/examples/ZkConfigFilesTest.java
  solr/solr-ref-guide/modules/upgrade-notes/pages/major-changes-in-solr-10.adoc
  solr/solrj-zookeeper/src/test/org/apache/solr/common/cloud/TestZkConfigSetService.java
  solr/solrj/src/java/org/apache/solr/common/params/CoreAdminParams.java
  solr/test-framework/src/java/org/apache/solr/cloud/MiniSolrCloudCluster.java
Labels: documentation, test-framework, client:solrj, tests, cat:cloud, cat:index, cat:cli, cat:api, module:scripting
