Repository apache/solr, pull requests merged in 2025-06, with the labels that each got.

#3355 SOLR-17625 NamedList.findRecursive-> _get
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/cli/AssertTool.java
  solr/core/src/java/org/apache/solr/cli/ConfigTool.java
  solr/core/src/java/org/apache/solr/cli/HealthcheckTool.java
  solr/core/src/java/org/apache/solr/cli/StatusTool.java
  solr/core/src/java/org/apache/solr/cloud/api/collections/SplitShardCmd.java
  solr/core/src/java/org/apache/solr/handler/component/SearchHandler.java
  solr/core/src/java/org/apache/solr/packagemanager/PackageManager.java
  solr/core/src/test/org/apache/solr/cloud/CollectionsAPISolrJTest.java
  solr/core/src/test/org/apache/solr/cloud/TestPullReplica.java
  solr/core/src/test/org/apache/solr/cloud/TestPullReplicaWithAuth.java
  solr/core/src/test/org/apache/solr/cloud/TestSkipOverseerOperations.java
  solr/core/src/test/org/apache/solr/cloud/TestTlogReplica.java
  solr/core/src/test/org/apache/solr/cloud/api/collections/TestRequestStatusCollectionAPI.java
  solr/core/src/test/org/apache/solr/handler/FieldAnalysisRequestHandlerTest.java
  solr/core/src/test/org/apache/solr/handler/admin/MetricsHandlerTest.java
  solr/core/src/test/org/apache/solr/handler/component/DistributedSpellCheckComponentTest.java
  solr/core/src/test/org/apache/solr/handler/component/DistributedTermsComponentTest.java
  solr/core/src/test/org/apache/solr/highlight/HighlighterTest.java
  solr/core/src/test/org/apache/solr/search/facet/SpatialHeatmapFacetsTest.java
  solr/core/src/test/org/apache/solr/search/facet/TestCloudJSONFacetSKGEquiv.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudHttp2SolrClientTest.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/CloudSolrClientTest.java
  solr/solrj/src/test/org/apache/solr/common/util/NamedListTest.java
  solr/test-framework/src/java/org/apache/solr/handler/BackupStatusChecker.java
Labels: test-framework, client:solrj, tests, cat:search, cat:cloud, cat:cli, cat:api, cat:packagemanager

#3380 SOLR-17775: optimize ValueSourceAugmenter
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/response/transform/ValueSourceAugmenter.java
Labels: cat:search

#3381 SOLR-17678: Change matchScore to originalScore, make it a fake-function
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/response/DocsStreamer.java
  solr/core/src/java/org/apache/solr/response/transform/OriginalScoreAugmenter.java
  solr/core/src/java/org/apache/solr/search/DocIterationInfo.java
  solr/core/src/java/org/apache/solr/search/ReRankCollector.java
  solr/core/src/java/org/apache/solr/search/SolrReturnFields.java
  solr/core/src/java/org/apache/solr/search/TopDocsSlice.java
  solr/core/src/test/org/apache/solr/search/DistributedReRankExplainTest.java
  solr/core/src/test/org/apache/solr/search/TestReRankQParserPlugin.java
  solr/solr-ref-guide/modules/query-guide/pages/query-re-ranking.adoc
Labels: documentation, tests, cat:search

#3341 SOLR-17750: Let S3 File downloads gracefully handle connection issues
  solr/CHANGES.txt
  solr/modules/s3-repository/src/java/org/apache/solr/s3/S3StorageClient.java
  solr/modules/s3-repository/src/test/org/apache/solr/s3/AbstractS3ClientTest.java
  solr/modules/s3-repository/src/test/org/apache/solr/s3/S3ReadWriteTest.java
  solr/solrj/src/java/org/apache/solr/common/util/ResumableInputStream.java
  solr/test-framework/src/java/org/apache/solr/util/LogListener.java
Labels: test-framework, client:solrj, module:s3-repository, tests

#3375 SOLR-17769: Use S3 RetryStrategy instead of RetryPolicy
  gradle/libs.versions.toml
  solr/CHANGES.txt
  solr/modules/s3-repository/build.gradle
  solr/modules/s3-repository/src/java/org/apache/solr/s3/S3StorageClient.java
  solr/modules/s3-repository/src/test/org/apache/solr/s3/S3IncrementalBackupTest.java
Labels: dependencies, module:s3-repository, tool:build, tests

#3390 SOLR-17698: Fix TestUseDocValuesAsStored for enums
  solr/core/src/test/org/apache/solr/schema/TestUseDocValuesAsStored.java
  solr/test-framework/src/java/org/apache/solr/SolrTestCaseJ4.java
Labels: test-framework, tests, cat:schema

#3386 SOLR-17775: avoid over-calling ReaderUtil.subIndex
  solr/core/src/java/org/apache/solr/response/transform/ValueSourceAugmenter.java
Labels: cat:search

#3399 SOLR-16391: Fix CoresAPI integration in V2HttpCall
  solr/core/src/java/org/apache/solr/api/V2HttpCall.java
Labels: cat:api

#3387 SOLR-14414: adding clickable links to footer
  solr/ui/src/commonMain/kotlin/org/apache/solr/ui/views/navigation/Footer.kt
Labels: admin-ui

#3163 SOLR-17635: unmarshalling Map to SimpleOrderedMap if key i of type St…
  solr/CHANGES.txt
  solr/solrj/src/java/org/apache/solr/client/solrj/request/JavaBinUpdateRequestCodec.java
  solr/solrj/src/java/org/apache/solr/common/util/JavaBinCodec.java
  solr/solrj/src/test/org/apache/solr/common/util/TestFastJavabinDecoder.java
  solr/solrj/src/test/org/apache/solr/common/util/TestJavaBinCodec.java
Labels: client:solrj, tests

#3404 SOLR-17778: Remove unused FORCEPREPAREFORLEADERSHIP operation
  solr/CHANGES.txt
  solr/solrj/src/java/org/apache/solr/client/solrj/request/CoreAdminRequest.java
  solr/solrj/src/java/org/apache/solr/common/params/CoreAdminParams.java
Labels: client:solrj

#3410 SOLR-17582: Fix ClusterState serializing for older SolrJ versions
  solr/core/src/java/org/apache/solr/servlet/HttpSolrCall.java
  solr/solrj/src/test/org/apache/solr/client/solrj/impl/ClusterStateProviderTest.java
Labels: jetty-server, client:solrj, tests

#3405 Refactor: remove coreContainerWorkExecutor
  solr/core/src/java/org/apache/solr/core/CoreContainer.java
  solr/core/src/test/org/apache/solr/handler/admin/MetricsHandlerTest.java
Labels: tests
